{% extends 'index.html' %}
{% block title %}Edit Account{% endblock %}
{% block content %}	
{% load static %}
{% load i18n %}
<div class="uk-width-1-1 uk-text-left uk-padding-remove-horizontal" id="account-form-parent"> 
	<form class="uk-form-horizontal"  method="post" id="accountForm">
		{% csrf_token %}
		<div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" id="edit-account-header-parent" uk-grid>
			<div class="uk-width-1-2" id="edit-account-header-child">
            	<span id="edit-account-header-span" class="uk-text-large">Edit Account Information</span>
        	</div>
	    </div>
    <hr id="edit-account-hr"/>
	<fieldset id="edit-account-fieldset" class="uk-fieldset" >
		<input type="hidden" id="edit-account-user-id" name="id" value="{{ user.id }}">
        <div id="edit-account-form-parent" class="uk-margin">
            <label id="edit-account-email-label" class="uk-form-label" for="edit-account-email-input">Email</label>
            <div id="edit-account-email-form-controls" class="uk-form-controls">
                <div id="edit-account-email-input-div" class="uk-inline">
                    <input id="edit-account-email-input" class="uk-input uk-form-width-large" type="email" name="email" value="{{ user.email }}">
                </div>
            </div>
            <div class="uk-margin" id="edit-account-password-confirm-parent">
		    	<label id="edit-account-confirm-password-label" class="uk-form-label" for="edit-account-confirm-password-input">Confirm Password</label>
		        <div id="edit-account-confirm-password-form-controls" class="uk-form-controls">
			        <div id="edit-account-confirm-password-input-div" class="uk-inline">
			            <span id="edit-account-confirm-password-span" class="uk-form-icon uk-form-icon" uk-icon="icon: ourchive-lock;ratio:.75"></span>
			            <input id="edit-account-confirm-password-input" class="uk-input" type="password" name="password">
			        </div>
			    </div>
		    </div>
		    <div class="uk-width-1-3 uk-margin-medium-top" id="edit-account-controls-parent">
				<input id="edit-account-cancel-button" class="uk-button uk-width-small uk-button-default" onclick="history.back()" value="Cancel" />
				<button id="edit-account-prevent-default-action-button" type="submit" disabled style="display: none" aria-hidden="true"></button>
			    <input id="edit-account-submit-button" class="uk-button uk-width-small uk-button-primary" type="submit" value="Submit"/>
			</div> 
        </div>     
    </fieldset>
	</form>
	<hr id="destructive-account-actions-divider"/>
	<a class="uk-link uk-button uk-button-secondary" href="/users/{{user.username}}/delete"><span class="uk-text-medium">I want to delete my account</span></a>
	<a class="uk-link uk-button uk-button-secondary" href="{% url 'password_change' %}"><span class="uk-text-medium">I want to change my password</span></a>
	<hr id="export-chives-divider"/>
	<div class="uk-width-1-1" id="export-chives-header-container">
    	<span id="export-chives-header-span" class="uk-text-large">{% translate 'Export Chives' %}</span>
    	<p><span id="export-chives-information" class="uk-text-medium">{% blocktranslate %}To generate a chive export, click below. This data is in beta format (CSVs) and should not be used as a backup for your work. Additionally, to preserve your privacy, please note that only public chives are exported.{% endblocktranslate %}</span></p>
	</div>
	<form class="uk-form-horizontal"  method="post" id="exportForm">
		{% csrf_token %}
		<fieldset id="export-chives-fieldset" class="uk-fieldset" >
			<input type="hidden" id="export-chives-user-id" name="id" value="{{ user.id }}">
	        <div id="export-chives-form-parent" class="uk-margin">
                <label class="uk-display-block"><input id="export-chives-works-input" class="uk-checkbox" type="checkbox" name="export_works"> {% translate 'Export works' %}</label>
                <label class="uk-display-block"><input id="export-chives-bookmarks-input" class="uk-checkbox" type="checkbox" name="export_bookmarks"> {% translate 'Export bookmarks' %}</label>
                <label class="uk-display-block"><input id="export-chives-collections-input" class="uk-checkbox" type="checkbox" name="export_collections"> {% translate 'Export collections' %}</label>
                <label class="uk-display-block"><input id="export-chives-series-input" class="uk-checkbox" type="checkbox" name="export_series"> {% translate 'Export series' %}</label>
                <label class="uk-display-block"><input id="export-chives-anthologies-input" class="uk-checkbox" type="checkbox" name="export_anthologies"> {% translate 'Export anthologies' %}</label>
			    <div class="uk-width-1-3 uk-margin-medium-top" id="export-chives-controls-parent">
					<button id="export-chives-prevent-default-action-button" type="submit" disabled style="display: none" aria-hidden="true"></button>
				    <input id="export-chives-submit-button" class="uk-button uk-width-small uk-button-primary" type="submit" formaction="{% url 'fe-export-chives' %}" value="Submit"/>
				</div> 
	        </div>     
	    </fieldset>
	</form>
	{% if user.chive_export_url %}
		<a class="uk-link" href="{{user.chive_export_url}}"><span class="uk-text-medium">{% translate 'Click to download existing archive' %}</span></a>
	{% endif %}
</div>
{% endblock %}