{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ anthology.title }} - {% translate 'Anthology' %}{% endblock %}
{% block content %}
    {% if anthology.header_url %}
    <div id="anthology-{{anthology.id}}-header-img-parent">
        <p class="text-center"><img class="img-fluid" alt="{{anthology.header_alt_text}}" src="{{anthology.header_url}}" id="anthology-{{anthology.id}}-header-image"></p>
    </div>
    {% endif %}
    {% include "anthology_tile.html" %}
    {% if anthology.owner %}
        <div class="row row-cols-1 m-2">
            <p><a id="anthology-edit-link" class="link link-underline-opacity-0" title="{% translate 'Edit' %}" href="{% url 'fe-edit-anthology' anthology.id %}"><i class="bi bi-pencil"></i></a>
            <a id="anthology-delete-link" class="link link-underline-opacity-0" title="{% translate 'Delete' %}" href="#" data-bs-toggle="modal" data-bs-target="#anthology-{{anthology.id}}-modal-delete"><i class="bi bi-trash"></i></a></p>
        </div>
    {% endif %}
    {% if anthology.works %}
        <div class="row row-cols-1 m-2" data-testid="works-container">
            <p class="fs-3">{% translate 'Works' %}</p>
            <ul class="list-group">
                {% for work in anthology.works %}
                    <li class="list-group-item">
                        <p><a href="{% url 'fe-work-view' work.id %}" target="_blank" data-testid="anthology-work">{{work.title}}</a> {% translate 'by' %} {% for user in work.users %}<a id="work-user-link" href="{% url 'user-profile-parent' user.id %}">{{ user.username }}</a>{% if not forloop.last %}, {% endif %}{% empty %}<a id="work-user-link" href="{% url 'user-profile-parent' work.user_id %}">{{ work.user }}</a>{% endfor %}</p>
                        {% if work.summary %}
                            <p class="mt-3">{{work.summary|safe}}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% include "delete_modal.html" with object='anthology' object_friendly='anthology' object_id=anthology.id %}
{% endblock %}