{% load i18n %}
<div id="work-{{work.id}}-card">
    <div id="work-{{work.id}}-sortable">
        <i class="bi bi-list"></i><a href="{% url 'fe-work-view' work.id %}" title="{{work.title}}" target="_blank" class="ms-1">{{work.title}}</a> (<a title="{% translate 'Remove from series' %} {{ work.id }}" id="work-{{work.id}}-delete-link" href="#" data-bs-toggle="modal" data-bs-target="#work-anthology-{{work.id}}-modal-delete">{% translate 'Remove' %}</a>)
    </div>
</div>
<input type="hidden" class="anthology-tracker" id="work_{{work.id}}" name="work_sort_order_{{work.id}}" value="{{work.sort_order}}">
<input type="hidden" id="works_{{work.id}}" name="workidstoadd_{{work.id}}" value="workidstoadd_{{work.id}}"/>
{% include "delete_modal.html" with object='work-anthology' parent_object_id=anthology.id object_id=work.id delete_verb="Remove" delete_msg=remove_work_msg handle_js=True %}