{% load i18n %}
<div class="border shadow-sm p-3" id="anthology-{{anthology.id}}-tile-container">
    <div class="row">
        <div class="col-md-4 col-12" id="anthology-{{anthology.id}}-tile-card">
            <!-- title, author, 1 tag/attribute type, cover -->
            <p class="mb-2 fs-3">
                <a class="link-underline link-underline-opacity-0" id="anthology-{{anthology.id}}-tile-title-link" href="{% url 'fe-anthology' anthology.id %}" data-testid="anthology-tile-title">{{anthology.title}}</a>
            </p>
            <p class="fs-4">By
                    {% for user in anthology.owners %}<a class="link-underline link-underline-opacity-0" id="anthology-{{anthology.id}}-user-link" data-testid="anthology-user-link" href="{% url 'user-profile-parent' user.id %}">{{ user.username }}</a>
                        {% if not forloop.last %}, {% endif %}{% empty %}
                        <a class="link-underline link-underline-opacity-0" id="anthology-{{anthology.id}}-user-link" data-testid="anthology-user-link" href="{% url 'user-profile-parent' anthology.creating_user_id %}">{{ anthology.creating_user }}</a>
                    {% endfor %}
            </p>
            <p id="anthology-metadata-language" class="fw-light fst-italic">{% for language in anthology.languages_readonly %}{{ language.display_name }}{% if not forloop.last %},{% endif %}
                {% endfor %}</p>
            <!-- TODO: ADD CLICK TO EXPAND -->
            {% if anthology.cover_url != "None" and anthology.cover_url is not None and anthology.cover_url != "" %}
            <div id="anthology-{{anthology.id}}-tile-img-parent">
                <img class="img-fluid" style="max-height: 300px;" alt="{{anthology.cover_alt_text}}" src="{{anthology.cover_url}}" id="anthology-{{anthology.id}}-tile-image">
            </div>
            {% endif %}
        </div>
        <div class="col-md-8 col-12 mt-md-0 mt-4" id="anthology-{{anthology.id}}-info-card">
            <div class="osm-container" id="show-description-{{ anthology.id }}">
                <div class="collapse show" id="anthology-{{anthology.id}}-tile-summary-p">{% autoescape off %}{{ anthology.description|truncatechars:500 }}{% endautoescape %}</div>
                {% if anthology.description|length > 500 %}<div class="collapse" id="anthology-{{anthology.id}}-tile-summary-p">{% autoescape off %}{{ anthology.description }}{% endautoescape %}</div>
                <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="anthology-{{anthology.id}}-tile-summary-p" id="more-btn-description-{{ anthology.id }}" class="link-underline link-underline-opacity-0 collapsed" href="#anthology-{{anthology.id}}-tile-summary-p">
                    <span class="oc-show-more">{% translate '+ Show More' %}</span>
                    <span class="oc-show-less">{% translate '- Show Less' %}</span>
                </a>{% endif %}
            </div>
            <div class="osm-container" id="show-tags-{{ anthology.id }}">
                {% if anthology.tags or anthology.attributes %}
                    <hr class="ourchive-hr"/>
                {% endif %}
                {% if anthology.attributes %}{% include "object_attributes.html" with object='anthology' object_id=anthology.id attributes=anthology.attributes %}{% endif %}
                {% if anthology.tags %}{% include "tag_partial.html" with obj_name='anthology' tags=anthology.tags %}{% endif %}
            </div>
        </div>
    </div>
    <div class="row row-cols-1" id="anthology-{{ anthology.id }}-list-meta">
        {% include 'anthology_metadata.html' %}
    </div>
</div>