{% load i18n %}
<div class="border shadow-sm p-3" id="collection-{{bookmark_collection.id}}-tile-container" data-testid="collection-tile">
    <div class="row">
        <div class="col-md-4 col-12" id="collection-{{bookmark_collection.id}}-tile-card">
            <p class="mb-2 fs-3"><a class="link-underline link-underline-opacity-0" id="collection-{{bookmark_collection.id}}-tile-title-link" href="{% url 'fe-view-collection' bookmark_collection.id %}" data-testid="collection-tile-title">{{bookmark_collection.title}}</a></p>
            <p class="fs-4">By
                    {% for user in bookmark_collection.users %}<a class="link-underline link-underline-opacity-0" id="collection-{{bookmark_collection.id}}-user-link" data-testid="collection-user-link" href="{% url 'user-profile-parent' user.id %}">{{ user.username }}</a>{% if not forloop.last %}, {% endif %}{% empty %}
                        <a class="link-underline link-underline-opacity-0" id="collection-{{bookmark_collection.id}}-user-link" data-testid="collection-user-link" href="{% url 'user-profile-parent' bookmark_collection.user_id %}">{{ bookmark_collection.user }}</a>
                    {% endfor %}
            </p>
            <p class="fw-light fst-italic">{% for language in bookmark_collection.languages_readonly %}{{ language.display_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}</p>
        </div>
        <div class="col-md-8 col-12 mt-md-0 mt-4" id="collection-{{bookmark_collection.id}}-info-card">
            <div class="osm-container">
                <div class="collapse show chive-rich-text" id="collection-{{bookmark_collection.id}}-tile-summary-p" data-testid="collection-tile-short-desc">{% autoescape off %}{{ bookmark_collection.short_description|truncatechars:500 }}{% endautoescape %}</div>
                {% if bookmark_collection.short_description|length > 500 %}<div class="collapse chive-rich-text" id="collection-{{bookmark_collection.id}}-tile-summary-p" data-testid="collection-tile-short-desc">{% autoescape off %}{{ bookmark_collection.short_description }}{% endautoescape %}</div>
                <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="collection-{{bookmark_collection.id}}-tile-summary-p" id="more-btn-description-{{ bookmark_collection.id }}" class="link-underline link-underline-opacity-0 collapsed" href="#collection-{{bookmark_collection.id}}-tile-summary-p">
                    <span class="oc-show-more">{% translate '+ Show More' %}</span>
                    <span class="oc-show-less">{% translate '- Show Less' %}</span>
                </a>{% endif %}
                <div class="osm-container" id="show-tags-{{ bookmark_collection.id }}">
                    {% if not bookmark_collection.description %}
                        <hr class="ourchive-hr"/>
                    {% endif %}
                    {% if bookmark_collection.attributes %}{% include "object_attributes.html" with object='bkcol' object_id=bookmark_collection.id attributes=bookmark_collection.attributes %}{% endif %}
                    {% if bookmark_collection.tags %}{% include "tag_partial.html" with obj_name='bk' tags=bookmark_collection.tags %}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1" id="collection-{{ bookmark_collection.id }}-list-meta">
        <!-- language, complete status, updated, chapters, word count, comments, fingerguns -->
        {% include 'bookmark_collection_metadata.html' %}
    </div>
</div>