{% extends 'index.html' %}
{% load i18n %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}	
{% load static %}
<script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
<div class="uk-width-1-1 uk-text-left uk-padding-remove-horizontal" id="bookmark-form-parent-grid">  
<form class="uk-form-horizontal" method="post" id="bookmarkForm" onsubmit="return getRichText(['description'])">
    <script>
        function colorStar(starNum) {
            if (!document.getElementById("rating_"+starNum).classList.contains("rating-star")) {
                for (let star = 1; star <= starNum; star++) {
                    document.getElementById("rating_"+star).classList.add("rating-star");
                    document.getElementById("bookmark_rating").setAttribute("value", star);
                }                
            }
            else {
                for (let star = starNum; star <= 100; star++) {
                    var element = document.getElementById("rating_"+star);
                    if (element == null) break;
                    document.getElementById("rating_"+star).classList.remove("rating-star");                   
                } 
                document.getElementById("bookmark_rating").setAttribute("value", starNum - 1);               
            }
        }
    </script>
    {% csrf_token %}
    <input id="bookmark-form-hidden-id" type="hidden" name="bookmark_id" value="{{ bookmark.id }}"/>
    <div id="bookmark-form-actions-parent" class="uk-grid" uk-grid>
        <div id="bookmark-form-header-parent" class="uk-width-1-2@m uk-width-1-1@s uk-margin-remove-left uk-margin-remove-right uk-padding-remove-vertical uk-margin-remove-bottom">
            <span id="bookmark-form-header-span" class="uk-text-large">{{ form_title }}</span>
        </div>
        <div id="bookmark-form-actions-group" class="uk-align-right uk-width-1-2@m uk-width-1-1@s uk-margin-remove-left uk-margin-remove-right uk-margin-remove-bottom uk-padding-remove-vertical uk-text-right">
            <input id="bookmark-form-cancel" class="uk-button uk-button-default" type="button" onclick="history.back()" value="Cancel"/>
            <button id="bookmark-form-prevent-default-action-button" type="submit" disabled style="display: none" aria-hidden="true"></button>
            <input id="bookmark-form-submit" class="uk-button uk-button-primary" type="submit" value="Submit"/>
        </div>
    </div>
    <hr id="bookmark-form-hr"/>
    <div id="bookmark-form-title-parent" class="uk-margin">
        <label id="bookmark-form-title-label" class="uk-form-label" for="form-horizontal-text">Title</label>
        <div id="bookmark-form-title-form-control" class="uk-form-controls">
            <div id="bookmark-form-title-inline-div" class="uk-inline">
                <input id="bookmark-form-title-input" title="Bookmark Title" class="uk-input uk-form-width-large" type="text" name="title" value="{{ bookmark.title|default_if_none:'' }}">
            </div>
        </div>
    </div>
    <div class="uk-margin" id="bookmark-form-work-parent">
        <label id="bookmark-form-work-label" class="uk-form-label" for="form-horizontal-text">Work</label>
        <div id="bookmark-form-work-controls" class="uk-form-controls">
            <div id="bookmark-form-work-inline" class="uk-inline">
                <input id="bookmark-form-work-title" class="uk-input uk-form-width-large" type="text" disabled="true" name="work_title" value="{{ bookmark.work.title }}">   
                <input id="bookmark-form-work-id-hidden" type="hidden" name="work_id" value="{{ bookmark.work.id }}">                         
            </div>
        </div>
    </div>
    <hr id="bookmark-settings-hr"/>
    <h3 id="obj-attrs-form-header">Settings</h3>
    <div class="uk-margin" id="bookmark-form-draft-parent">
        <label id="bookmark-form-draft-label" class="uk-form-label" for="form-horizontal-text">Draft? <sup class="uk-margin-small-left" uk-icon="icon: ourchive-help;ratio:.75" title="Draft Help"></sup>    
                <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}A draft will not be seen by any user except you. You can publish your drafts at any time.{% endblocktranslate %}</div>
        </label>
        <div id="bookmark-form-draft-controls" class="uk-form-controls">
            <div id="bookmark-form-draft-inline" class="uk-inline">
                <label id="bookmark-form-draft-label" class="switch"><input id="bookmark-form-draft-input" title="Draft Checkbox" class="uk-checkbox" type="checkbox" name="draft" {% if bookmark.draft %} checked {% endif %}> <span class="slider round"></span> </label>
            </div>
        </div>
    </div>
    <div class="uk-margin" id="bookmark-form-priv-parent">
        <label id="bookmark-form-draft-label" class="uk-form-label" for="form-horizontal-text">Private? <sup class="uk-margin-small-left" uk-icon="icon: ourchive-help;ratio:.75" title="Private Help"></sup>    
                <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}A private bookmark will not be seen by anyone but you.{% endblocktranslate %}</div>
        </label>
        <div id="bookmark-form-priv-controls" class="uk-form-controls">
            <div id="bookmark-form-priv-inline" class="uk-inline">
                <label id="bookmark-form-priv-label" class="switch"><input id="bookmark-form-priv-input" title="Private Checkbox" class="uk-checkbox" type="checkbox" name="is_private" {% if bookmark.is_private %} checked {% endif %}> <span class="slider round"></span> </label>
            </div>
        </div>
    </div>
    <div class="uk-margin" id="bookmark-form-created-parent">
        <label id="bookmark-form-created-label" class="uk-form-label" for="form-horizontal-text">Post Date</label>
        <div id="bookmark-form-created-controls" class="uk-form-controls">
            <div id="bookmark-form-created-inline" class="uk-inline">
                <input title="{% translate 'Bookmark created on' %}" id="bookmark-form-complete-checkbox" type="date" name="created_on" value="{{ bookmark.created_on }}"> 
            </div>
        </div>
    </div>
    <div class="uk-margin" id="bookmark-form-updated-parent">
        <label id="bookmark-form-updated-label" class="uk-form-label" for="form-horizontal-text">Update Date</label>
        <div id="bookmark-form-updated-controls" class="uk-form-controls">
            <div id="bookmark-form-updated-inline" class="uk-inline">
                <input title="{% translate 'Bookmark updated on' %}" id="bookmark-form-complete-checkbox" type="date" name="updated_on" value="{{ bookmark.updated_on }}"> 
            </div>
        </div>
    </div>
    {% if settings.AllowComments %}
    <div class="uk-margin" id="bookmark-form-allow-comments-parent">
        <label id="bookmark-form-allow-comments-label" class="uk-form-label" for="form-horizontal-text">Allow Comments?</label>
        <div id="bookmark-form-allow-comments-controls" class="uk-form-controls">
            <select id="bookmark-form-allow-comments-select" class="uk-select uk-form-width-large" name="comments_permitted" title="Comment Settings">                    
                <option {% if bookmark.anon_comments_permitted and bookmark.comments_permitted %} selected {% endif %}>All</option>
                <option {% if bookmark.anon_comments_permitted == False and bookmark.comments_permitted %} selected {% endif %}>Registered users only</option>
                <option {% if not bookmark.anon_comments_permitted and not bookmark.comments_permitted %} selected {% endif %}>None</option>

            </select>
        </div>
    </div>
    {% endif %}
    <hr id="bookmark-attributes-hr"/>
    <span class="uk-inline"><h3 id="obj-attrs-form-header" class="uk-inline">Tags</h3> <sup class="uk-margin-small-left uk-inline" uk-icon="icon: ourchive-help;ratio:.75" title="Tag help"></sup>    
        <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}Tags are used in searching and filtering. Tags let other people find your work, so don't hesitate to be creative! Existing tags will be shown in a dropdown after you start typing.{% endblocktranslate %}</div>
    </span>
    {% include "object_attributes_form.html" with object='Bookmark' attribute_types=bookmark.attribute_types show_header=False %}
    {% include "edit_tags.html" with object='bookmark' object_friendly='Bookmark' show_header=False %}
    <hr/>
    <h3 id="obj-attrs-form-header">Details</h3>
    {% if settings.RatingsEnabled %}
    <div class="uk-margin" id="bookmark-form-rating-parent">
        <label id="bookmark-form-rating-label" class="uk-form-label" for="form-horizontal-text">Rating <sup class="uk-margin-small-left" uk-icon="icon: ourchive-help;ratio:.75"></sup>    
                <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}You decide what a rating means. The number of stars are controlled by your admin.{% endblocktranslate %}</div>
        </label>
        <div class="uk-form-controls" id="bookmark-form-rating-controls">
            <div class="uk-inline" id="bookmark-form-rating-inline">
                <input type="hidden" name="rating" id="bookmark_rating" value="{{ bookmark.rating }}">
                {% for stars in rating_range %}
                    <div id="bookmark-form-rating-star-toggle" class="uk-animation-toggle uk-inline" tabindex="0">
                        <div id="bookmark-form-rating-star-animation" class="uk-animation-fade">
                            {% if stars <= bookmark.rating %}
                                <span uk-icon="icon: star" onclick="colorStar({{stars}})" id="rating_{{stars}}" class="rating-star"></span>
                            {% else %}
                                <span uk-icon="icon: star" onclick="colorStar({{stars}})" id="rating_{{stars}}"></span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div id="bookmark-form-description-parent" class="uk-margin">
        <label id="bookmark-form-description-label" class="uk-form-label" for="form-horizontal-text">Description</label>
        {% include 'ourchive_tinymce_template.html' with form_field_value=bookmark.description form_field='description' obj_name='bookmark' %}
    </div>
    <hr/>
    <div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" id="bookmark-form-actions-footer-parent" uk-grid>
        <div class="uk-text-right uk-width-1-1" id="bookmark-form-actions-footer-child">
            <input id="bookmark-form-actions-footer-cancel" class="uk-button uk-button-default" type="button" onclick="history.back()" value="Cancel"/>
            <input id="bookmark-form-actions-footer-submit" class="uk-button uk-button-primary" type="submit" value="Submit"/>
        </div>
    </div>    
</form>
</div>
{% endblock %}