{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block title %}Bookmark - {{ bookmark.title|default:bookmark.work.title }}{% endblock %}
{% block content %}
    {% include "bookmark_tile.html" %}
    <div class="row row-cols-1" id="bookmark-comments-grid-parent">
        {% if settings.AllowComments %}<div id="bookmark-comments-divider-hr" class="uk-margin-top"><hr id="bookmark-comments-hr" class="ourchive-hr"/></div>{% endif %}
        <div class="uk-width-1" id="bookmark-parent-comments-include-container">{% include 'comments_parent.html' with object_name='bookmark' comments=comments object=bookmark edit_action_url=bookmark.edit_action_url post_action_url=bookmark.post_action_url comment_offset=comment_offset delete_obj='bookmark-comment' load_more_base=load_more_base view_thread_base=view_thread_base comment_count=bookmark.comment_count %}</div>  
    </div>

{% if scroll_comment_id %}
    <script>
        window.onload = function(){
            document.getElementById("bookmark-comment-{{scroll_comment_id}}-icon-div").scrollIntoView();
        }
    </script>
{% endif %}
<script src="{% static 'frontend/js/ourchive-bookmarks.js' %}"></script>
{% endblock %}