{% load i18n %}
<div id="bk-tile-parent" class="uk-width-1-1 uk-padding-remove-horizontal">
	<div id="bk-tile-card" class="uk-card uk-card-default">
	    <div id="bk-tile-header-parent" class="uk-card-header">
	        <div id="bk-tile-header-grid" class="uk-grid-small uk-flex-middle" uk-grid>
		        <div id="bk-tile-header-content" class="uk-width-expand">
	                {% if bookmark.title %}
	                <a id="bk-tile-title-link" href="/bookmarks/{{bookmark.id}}?draft={{bookmark.draft}}" class="uk-inline"><h3 id="bk-tile-title" class="uk-card-title uk-margin-remove-bottom">{{bookmark.title}}</h3></a>
	                {% else %}
	                <a id="bk-tile-work-link" href="/bookmarks/{{bookmark.id}}?draft={{bookmark.draft}}" class="uk-inline"><h3 id="bk-tile-work-title" class="uk-card-title uk-margin-remove-bottom">Bookmark - {{bookmark.work.title}}</h3></a>
	                {% endif %}
	                {% if bookmark.user == request.user.username %}
			        <div id="bk-tile-actions-parent" class="uk-align-right">
			            <a id="bk-tile-edit-{{ bookmark.id }}-link" href="/bookmarks/{{ bookmark.id }}/edit"><span id="bk-tile-edit-span" uk-icon="icon: file-edit" title="Edit Bookmark {{ bookmark.id }}"></span> </a>
			            <a id="bk-tile-delete-link" uk-toggle="target: #bookmark-{{bookmark.id}}-modal-delete"><span uk-icon="icon: trash" id="bk-tile-delete-span" title="Delete"></span> </a>
						{% include "delete_modal.html" with object='bookmark' object_id=bookmark.id %}
			        </div>
			        {% endif %}
	                {% if settings.RatingsEnabled %}<span id="bk-tile-rating-span" class="uk-inline uk-align-right">{% for stars in rating_range %}
	                    {% if stars <= bookmark.rating %}
	                        <span id="bk-tile-rating-star-filled" uk-icon="icon: star; ratio:1.1" id="rating_{{stars}}" class="rating-star uk-text-middle"></span>
	                    {% else %}
	                        <span id="bk-tile-rating-star-unfilled" uk-icon="icon: star; ratio:1.1" id="rating_{{stars}}"></span>
	                    {% endif %}
				    {% endfor %}</span>
				    {% endif %}
	                <p id="bk-tile-creator" class="uk-text-meta uk-margin-remove-top">{{ bookmark.user }}</p>
		        </div>
		    </div>
		</div>
		<div id="bk-tile-body" class="uk-card-body">
	    	{% if bookmark.work.title %}<p id="bk-tile-work"><strong id="bk-tile-work-label">Work</strong>: {{ bookmark.work.title }}</p>{% endif %}
	        {% if settings.RatingsEnabled %}<p id="bk-tile-rating-body"><strong id="bk-tile-rating-body-label">Rating</strong>: {{ bookmark.rating }} stars</p>{% endif %}
	        {% if bookmark.tags.items %}{% include "tag_partial.html" with obj_name='bookmark' tags=bookmark.tags.items %}{% endif %}
		   	{% if bookmark.attributes %}{% include "object_attributes.html" with object='bookmark' object_id=bookmark.id attributes=bookmark.attributes %}{% endif %}
		</div>
	    <div class="uk-card-footer" id="bk-tile-footer-parent">
			<div class="uk-align-right uk-text-right uk-width-1-1"><p id="bk-metadata-p" class="uk-article-meta">{% if settings.AllowComments %}<span id="bk-metadata-comment-count" class="uk-inline uk-text-bold">{% blocktranslate with cc=bookmark.comment_count %}{{ cc }} Comments{% endblocktranslate %}{% endif %}</span></p></div>
	    </div>
	</div>  
</div>