{% extends 'index.html' %}
{% load i18n %}
{% block title %}Bookmarks{% endblock %}
{% block content %}	
{% if user_filter %}
    <div class="uk-grid uk-grid-small ourchive-content-padding ourchive-chive-grid" id="bookmarks-uk-grid" uk-grid>
        <div class="uk-margin uk-width-1-1 uk-padding-remove-horizontal" id="user-bookmarks-parent">
            <h1 id="user-bookmarks-header-h1" class="uk-heading-line uk-text-center"> <span id="user_bookmarks_header">{% translate 'Bookmarks by' %} {{ user_filter }}</span> </h1>
        </div>
        {% endif %}
        <div class="uk-width-1-1 uk-padding-remove-horizontal">{% include "bookmarks_list.html" %}</div>
    </div>
{% endblock %}