{% extends 'index.html' %}
{% block content %}	
{% load static %}
<script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
<div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" id="bookmark-form-parent-grid" uk-grid>  
<form class="uk-form-horizontal" method="post" id="bookmarkForm" onsubmit="return getDescriptionText()">
    <script>
        function getDescriptionText() {
            document.getElementById('description').value = tinymce.get("descriptionEditor").getContent().replace(/\r?\n?/g, '');
        }

        function colorStar(starNum) {
            if (!document.getElementById("rating_"+starNum).classList.contains("rating-star")) {
                for (let star = 1; star <= starNum; star++) {
                    document.getElementById("rating_"+star).classList.add("rating-star");
                    document.getElementById("bookmark_rating").setAttribute("value", star);
                }                
            }
            else {
                for (let star = starNum; star <= 100; star++) {
                    var element = document.getElementById("rating_"+star);
                    if (element == null) break;
                    document.getElementById("rating_"+star).classList.remove("rating-star");                   
                } 
                document.getElementById("bookmark_rating").setAttribute("value", starNum - 1);               
            }
        }

        function removetag(tag, type) {
            document.getElementById("tags_"+tag+"_"+type).remove();
            document.getElementById("tags_"+tag+"_"+type+"_txt").remove();
        }

        function addtag(tag, type) {
            alert(document.getElementById(type+"_tags").innerHTML);
        }

        function tagCheck (e, type) {
            if (e.keyCode == 188 || e.keyCode == 13) {
                var section = document.getElementById(type+"_tags");
                var final = document.getElementById(type+"_new_tag");
                final.value = final.value.replace(/,\s*$/, "");
                var wrapper= document.createElement('div');
                wrapper.innerHTML= '<input type="hidden" id="tags_'+final.value+'_'+type+'" name="tags_'+final.value+'_'+type+'" value="tags_'+final.value+'_'+type+'">';
                var div= wrapper.firstChild;
                section.appendChild(div);
                wrapper.innerHTML = '<span class="uk-badge uk-padding-small uk-margin-right" id="tags_'+final.value+'_'+type+'_txt"><span class="uk-text-bold uk-text-default uk-padding-small">'+final.value+' </span><span uk-icon="close" onclick="removetag(\''+final.value+'\', \''+type+'\')" id="tags_'+final.value+'_'+type+'_delete"></span></span>  ';
                div = wrapper.firstChild;
                section.appendChild(div);
                final.value = '';
                final.focus();
                document.getElementById('tag-autocomplete-dropdown-'+type).innerHTML = "";
                document.getElementById('no-tag-prompt-'+type).style.display = "none";
            }
        }
        
    </script>
    {% csrf_token %}
    <input id="bookmark-form-hidden-id" type="hidden" name="bookmark_id" value="{{ bookmark.id }}"/>
    <div id="bookmark-form-actions-parent" class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid>
        <div id="bookmark-form-header-parent" class="uk-width-1-2">
            <span id="bookmark-form-header-span" class="uk-text-large">Edit Bookmark</span>
        </div>
        <div id="bookmark-form-actions-group" class="uk-text-right uk-width-1-2">
            <input id="bookmark-form-cancel" class="uk-button uk-button-secondary" type="button" onclick="history.back()" value="Cancel"/>
            <button id="bookmark-form-prevent-default-action-button" type="submit" disabled style="display: none" aria-hidden="true"></button>
            <input id="bookmark-form-submit" class="uk-button uk-button-primary" type="submit" value="Submit"/>
        </div>
    </div>
    <hr id="bookmark-form-hr"/>
            <fieldset id="bookmark-form-fieldset" class="uk-fieldset">

                <div id="bookmark-form-title-parent" class="uk-margin">
                    <label id="bookmark-form-title-label" class="uk-form-label" for="form-horizontal-text">Title</label>
                    <div id="bookmark-form-title-form-control" class="uk-form-controls">
                        <div id="bookmark-form-title-inline-div" class="uk-inline">
                            <input id="bookmark-form-title-input" class="uk-input uk-form-width-large" type="text" name="title" value="{{ bookmark.title|default_if_none:'' }}">
                        </div>
                    </div>
                    
                </div>

                <div id="bookmark-form-description-parent" class="uk-margin">
                    <label id="bookmark-form-description-label" class="uk-form-label" for="form-horizontal-text">Description</label>
                    <div id="bookmark-form-description-form-controls" class="uk-form-controls">
                        <div id="bookmark-form-description-inline" class="uk-inline">
                            <input type="hidden" id="description" name="description" value="{{ bookmark.description|safe|default_if_none:'' }}">
                            <textarea id="descriptionEditor"></textarea>
                            <script type="text/javascript">
                                              tinymce.init({
                                                selector: '#descriptionEditor',
                                        width: 600,
                                        height: 300,
                                        plugins: [
                                          'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                                          'fullscreen', 'insertdatetime',
                                          'media', 'table', 'emoticons'
                                        ],
                                        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                                          'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                                          'forecolor backcolor emoticons | help',
                                        menubar: '',
                                        content_css: 'css/content.css',
                                        init_instance_callback : function(editor) {
                                            var descriptionText = document.getElementById('description').value;
                                            editor.setContent(descriptionText);
                                        }
                                      });
                            </script>
                        </div>
                    </div>
                    
                </div>

                <div class="uk-margin" id="bookmark-form-rating-parent">
                    <label id="bookmark-form-rating-label" class="uk-form-label" for="form-horizontal-text">Rating</label>
                    <div class="uk-form-controls" id="bookmark-form-rating-controls">
                        <div class="uk-inline" id="bookmark-form-rating-inline">
                            <input type="hidden" name="rating" id="bookmark_rating" value="{{ bookmark.rating }}">
                            {% for stars in rating_range %}
                                <div id="bookmark-form-rating-star-toggle" class="uk-animation-toggle uk-inline" tabindex="0">
                                    <div id="bookmark-form-rating-star-animation" class="uk-animation-fade">
                                        {% if stars <= bookmark.rating %}
                                            <span id="bookmark-form-rating-star-filled" uk-icon="icon: star" onclick="colorStar({{stars}})" id="rating_{{stars}}" class="rating-star"></span>
                                        {% else %}
                                            <span id="bookmark-form-rating-star-empty" uk-icon="icon: star" onclick="colorStar({{stars}})" id="rating_{{stars}}"></span>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            {% endfor %}
                            
                        </div>
                        
                    </div>
                </div>
                <div class="uk-margin" id="bookmark-form-draft-parent">
                    <label id="bookmark-form-draft-label" class="uk-form-label" for="form-horizontal-text">Draft?</label>
                    <div id="bookmark-form-draft-controls" class="uk-form-controls">
                        <div id="bookmark-form-draft-inline" class="uk-inline">
                            <label id="bookmark-form-draft-label" class="switch"><input id="bookmark-form-draft-input" class="uk-checkbox" type="checkbox" name="draft" {% if bookmark.draft %} checked {% endif %}> <span class="slider round"></span> </label>
                        </div>
                    </div>
                </div>

                <div class="uk-margin" id="bookmark-form-allow-comments-parent">
                    <label id="bookmark-form-allow-comments-label" class="uk-form-label" for="form-horizontal-text">Allow Comments?</label>
                    <div id="bookmark-form-allow-comments-controls" class="uk-form-controls">
                        <select id="bookmark-form-allow-comments-select" class="uk-select uk-form-width-large" name="comments_permitted">                    
                            <option {% if bookmark.anon_comments_permitted and bookmark.comments_permitted %} selected {% endif %}>All</option>
                            <option {% if bookmark.anon_comments_permitted == False and bookmark.comments_permitted %} selected {% endif %}>Registered users only</option>
                            <option {% if not bookmark.anon_comments_permitted and not bookmark.comments_permitted %} selected {% endif %}>None</option>

                        </select>
                    </div>
                </div>

                <div class="uk-margin" id="bookmark-form-work-parent">
                    <label id="bookmark-form-work-label" class="uk-form-label" for="form-horizontal-text">Work</label>
                    <div id="bookmark-form-work-controls" class="uk-form-controls">
                        <div id="bookmark-form-work-inline" class="uk-inline">
                            <input id="bookmark-form-work-title" class="uk-input uk-form-width-large" type="text" disabled="true" name="work_title" value="{{ bookmark.work.title }}">   
                            <input id="bookmark-form-work-id-hidden" type="hidden" name="work_id" value="{{ bookmark.work.id }}">                         
                        </div>
                    </div>
                </div>

                
                {% for type, tag in tags.items %}
                <div class="uk-margin" id="bookmark-form-tag-parent">
                    <label id="bookmark-form-tag-type-label" class="uk-form-label" for="form-horizontal-text">{{ type }}</label>
                    <div id="bookmark-form-tag-controls" class="uk-form-controls">                
                        <div id="bookmark-form-tag-inline" class="uk-inline">
                            <div id="{{ type }}_tags">
                            {% if tag %}
                                {% for single_tag in tag %}
                                    <input type="hidden" id="tags_{{ single_tag.text }}_{{ type }}" name="tags_{{ single_tag.text }}_{{ type }}" value="tags_{{ single_tag.text }}_{{ type }}">
                                    <span class="uk-badge uk-padding-small" id="tags_{{ single_tag.text }}_{{ type }}_txt"><span class="uk-text-bold uk-text-default uk-padding-small">{{ single_tag.text }} </span><span uk-icon="close" onclick="removetag('{{single_tag.text}}', '{{type}}')" id="tags_{{ single_tag.text }}_{{ type }}_delete"></span></span>
                                {% endfor %}
                                {% else %}
                                <span class="uk-text-medium" id="no-tag-prompt-{{type}}">No tags yet. Add some below.</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="uk-margin-top">
                            <input class="uk-input uk-form-width-small uk-form-small ourchive-tag-entry" type="text" placeholder="New tag..." id="{{ type }}_new_tag" onkeyup="tagCheck(event, '{{type}}')" oninput="doAutocomplete(this.value, 'edit', '{{type}}', '{{type}}')">
                            <div id="tag-autocomplete-dropdown-{{type}}" uk-drop></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </fieldset>
    <div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" id="bookmark-form-actions-footer-parent" uk-grid>
        <div class="uk-text-right uk-width-1-1" id="bookmark-form-actions-footer-child">
            <input id="bookmark-form-actions-footer-cancel" class="uk-button uk-button-secondary" type="button" onclick="history.back()" value="Cancel"/>
            <input id="bookmark-form-actions-footer-submit" class="uk-button uk-button-primary" type="submit" value="Submit"/>
        </div>
    </div>    
</form>
</div>
{% endblock %}