{% extends 'index.html' %}
{% block title %}Bookmark - {{ bookmark.title }}{% endblock %}
{% block content %}	
<div class="uk-width-1-1 uk-text-left" id="bookmark-uk-grid">
	<script>
		function loadMoreComments(next, chapterId) {
			fetch(next)
			  .then((response) => {
			    return response.text();
			  })
			  .then((myText) => {			 
				document.getElementById('bookmark-{{bookmark.id}}-comments-child-container').innerHTML = "";
				document.getElementById('bookmark-{{bookmark.id}}-comments-child-container').innerHTML = myText;
				document.getElementById('bookmark-{{bookmark.id}}-comments-child-container').scrollIntoView();
			  });
		}
	</script>
	<article class="uk-article uk-padding" id="bookmark-uk-article">
	    <div class="uk-child-width-2-1" id="bookmark-uk-child-grid" uk-grid>
	        <div class="uk-width-2-3" id="bookmark-title-parent">
	            <h1 id="bookmark-title-header" class="uk-article-title" style="display: inline;"><a class="uk-link-reset" id="bookmark-title-link" href="/bookmarks/{{ bookmark.id }}">{{ bookmark.title }}</a></h1> <span id="bookmark-user-span" class="uk-text-large" style="padding-left: 10px;"> bookmarked by {{bookmark.user}}</span>
	            {% if bookmark.draft %}
	            <div id="bookmark-draft-badge" class="uk-width-auto">
	                <span id="bookmark-draft-span" class="uk-label uk-label-warning"><strong id="bookmark-draft-text">DRAFT</strong></span>
	            </div>
	            {% endif %}
	        </div>
	        <div class="uk-text-right uk-width-1-3" id="bookmark-user-controls-parent">
	            {% if bookmark.user == request.user.username %}
	            {% if bookmark.draft %}
	            <a id="bookmark-publish-link" href="/bookmarks/{{ bookmark.id }}/publish"><span uk-icon="icon: check" title="Publish"></span> </a>
	            {% endif %}
	            <a id="bookmark-edit-link" href="/bookmarks/{{ bookmark.id }}/edit"><span uk-icon="icon: file-edit"></span> </a>
	            <a id="bookmark-delete-link" uk-toggle="target: #bookmark-{{bookmark.id}}-modal-delete"><span uk-icon="icon: trash"></span> </a>
	            {% include "delete_modal.html" with object='bookmark' object_id=bookmark.id %}
	            {% endif %}
	        </div>
	    
	    <div class="uk-width-1" id="bookmark-work-link-parent">
	    	<hr/>
	    	<span id="bookmark-work-link-span" class="uk-text-uppercase">Work:</span> <a id="bookmark-work-link-id" class="uk-link-reset uk-text-medium" href="/works/{{ work.id }}">{{ work.title }} by {{work.user}}</a></span>
	    </div>
	    {% if settings.RatingsEnabled %}
	    <div class="uk-width-1" id="bookmark-rating-parent">
	    	<p id="bookmark-description-hed" class="uk-text-medium"><span>{{bookmark.user}}'s rating:</span>
	    	{% for stars in rating_range %}
	            <div id="bookmark-star-parent" class="uk-animation-toggle uk-inline" tabindex="0">
	                <div id="bookkmark-star-child">
	                    {% if stars <= bookmark.rating %}
	                        <span id="bookmark-star-filled-span" uk-icon="icon: star" id="rating_{{stars}}" class="rating-star"></span>
	                    {% else %}
	                        <span id="bookmark-star-empty-span" uk-icon="icon: star" id="rating_{{stars}}"></span>
	                    {% endif %}
	                    
	                </div>
	            </div>
	        {% endfor %}
	    </div>	
	    {% endif %} 
	    {% if bookmark.description %}
	    <div class="uk-width-1" id="bookmark-description-parent">
	    	<p id="bookmark-description-hed" class="uk-text-large"><span>{{bookmark.user}} says:</span>
	    	<p id="bookmark-description-text" class="uk-text-medium">{{ bookmark.description|safe }}</p>
	    </div>	   
	    {% endif %}
	    {% include "object_attributes.html" with object='bookmark' object_id=bookmark.id attributes=bookmark.attributes %}
	    {% include "tag_partial.html" with obj_name='bookmark-tag' tags=tags.items %}
	    {% if settings.AllowComments %}<hr id="bookmark-comments-hr" class="uk-divider-small"/>{% endif %}
	    {% include 'comments_parent.html' with object_name='bookmark' comments=comments object=bookmark edit_action_url=bookmark.edit_action_url post_action_url=bookmark.post_action_url comment_offset=comment_offset delete_obj='bookmark-comment' load_more_base=load_more_base view_thread_base=view_thread_base %}
	</article>
	</div>
	{% if scroll_comment_id %}
	    <script>
	        window.onload = function(){
	            document.getElementById("bookmark-comment-{{scroll_comment_id}}-icon-div").scrollIntoView();
	        }
	    </script>
{% endif %}
{% endblock %}