{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}
<div id="bookmark-form-actions-parent" class="mb-3 row row-cols-1">
    <div id="bookmark-form-header-parent">
        <h1 id="bookmark-form-header-span">{{ form_title }}</h1>
        <hr id="bookmark-form-hr"/>
    </div>
</div>
<div class="mb-3 row row-cols-1" id="bookmark-form-parent-grid">
    <form method="post" id="bookmarkForm" onsubmit="return getRichText(['description'])">
        {% csrf_token %}
        <input id="bookmark-form-hidden-id" type="hidden" name="bookmark_id" value="{{ bookmark.id }}"/>
        <div id="bookmark-form-title-parent" class="mb-3">
            <label id="bookmark-form-title-label" class="form-label" for="bookmark-form-title-input">{% translate 'Title' %}</label>
            <input id="bookmark-form-title-input" title="Bookmark Title" class="form-control" type="text" name="title" value="{{ bookmark.title|default_if_none:'' }}">
        </div>
        <div class="mb-3" id="bookmark-form-work-parent">
            <label id="bookmark-form-work-label" class="form-label" for="bookmark-form-work-title">{% translate 'Work' %}</label>
            <input id="bookmark-form-work-id-hidden" type="hidden" name="work_id" value="{{ bookmark.work.id }}">
            <input id="bookmark-form-work-title" class="form-control" disabled type="text" name="work_title" value="{{ bookmark.work.title }}">
        </div>
        <div class="mb-3">
            <hr id="bookmark-settings-hr"/>
            <h3 id="obj-attrs-form-header">{% translate 'Settings' %}</h3>
        </div>
        <div class="mb-3 form-check form-switch" id="bookmark-form-draft-parent">
            <input id="bookmark-form-draft-input" title="Draft Checkbox" class="form-check-input" role="switch" type="checkbox" name="draft" {% if bookmark.draft %} checked {% endif %}>
            <label id="bookmark-form-draft-label" class="form-check-label" for="bookmark-form-draft-input">Draft? <sup><a title="{% translate 'Draft help' %}" href="#" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#draft-help-text"><i class="bi bi-question-circle"></i></a></sup></label>
            <div class="mb-3 collapse" id="draft-help-text">{% blocktranslate %}A draft will not be seen by any user except you. You can publish your drafts at any time.{% endblocktranslate %}</div>
        </div>
        <div class="mb-3 form-check form-switch" id="bookmark-form-priv-parent">
            <input id="bookmark-form-priv-input" title="Private Checkbox" class="form-check-input" role="switch" type="checkbox" name="is_private" {% if bookmark.is_private %} checked {% endif %}>
            <label id="bookmark-form-draft-label" class="form-check-label" for="bookmark-form-priv-input">Private? <sup><a title="{% translate 'Private help' %}" href="#" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#private-help-text"><i class="bi bi-question-circle"></i></a></sup></label>
            <div class="mb-3 collapse" id="private-help-text">{% blocktranslate %}A private bookmark will not be seen by anyone but you.{% endblocktranslate %}</div>
        </div>
        <div class="mb-3" id="bookmark-form-languages-parent">
            <label id="bookmark-form-languages-label" class="form-label" for="bookmark-form-languages">{% translate 'Languages' %}</label>
            <select multiple name="languages[]" id="bookmark-form-languages" class="form-select">
                {% for language in languages %}
                    <option value="{{language.display_name}}" {% if language.selected%} selected {% endif %}>{{language.display_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3" id="bookmark-form-created-parent">
            <label id="bookmark-form-created-label" class="form-label" for="bookmark-form-complete-checkbox">{% translate 'Post Date' %}</label>
            <input title="{% translate 'Bookmark created on' %}" id="bookmark-form-complete-checkbox" type="date" class="form-control" name="created_on" value="{{ bookmark.created_on }}">
        </div>
        <div class="mb-3" id="bookmark-form-updated-parent">
            <label id="bookmark-form-updated-label" class="form-label" for="bookmark-form-complete-checkbox">Update Date</label>
            <input title="{% translate 'Bookmark updated on original' %}" id="bookmark-form-updated-on-hidden" type="hidden" name="updated_on_original" value="{{ bookmark.updated_on }}">
            <input title="{% translate 'Bookmark updated on' %}" id="bookmark-form-complete-checkbox" type="date" class="form-control" name="updated_on" value="{{ bookmark.updated_on }}">
        </div>
        {% if settings.AllowComments %}
            <div class="mb-3" id="bookmark-form-allow-comments-parent">
                <label id="bookmark-form-allow-comments-label" class="form-label" for="bookmark-form-allow-comments-select">{% translate 'Allow Comments?' %}</label>
                <select id="bookmark-form-allow-comments-select" class="form-select" name="comments_permitted" title="{% translate 'Comment Settings' %}">
                    <option {% if bookmark.anon_comments_permitted and bookmark.comments_permitted %} selected {% endif %}>{% translate 'All' %}</option>
                    <option {% if bookmark.anon_comments_permitted == False and bookmark.comments_permitted %} selected {% endif %}>{% translate 'Registered users only' %}</option>
                    <option {% if not bookmark.anon_comments_permitted and not bookmark.comments_permitted %} selected {% endif %}>{% translate 'None' %}</option>
                </select>
            </div>
        {% endif %}
        <div class="mb-3">
            <hr id="bookmark-attributes-hr"/>
            <h3 id="obj-attrs-form-header">Tags <sup><a title="{% translate 'Tag help' %}" href="#" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#tag-help-text"><i class="bi bi-question-circle"></i></a></sup></h3>
            <div class="mb-3 collapse" id="tag-help-text">{% blocktranslate %}Tags are used in searching and filtering. Tags let other people find your work, so don't hesitate to be creative! Existing tags will be shown in a dropdown after you start typing.{% endblocktranslate %}</div>
            {% include "object_attributes_form.html" with object='Bookmark' attribute_types=bookmark.attribute_types show_header=False %}
            {% include "edit_tags.html" with object='bookmark' object_friendly='Bookmark' show_header=False %}
        </div>
        <div class="mb-3">
            <hr/>
            <h3 id="obj-attrs-form-header">{% translate 'Details' %}</h3>
        </div>
        {% if settings.RatingsEnabled %}
            <div class="mb-3" id="bookmark-form-rating-parent">
                <label id="bookmark-form-rating-label" class="form-label" for="bookmark-form-rating-inline">Rating <sup><a title="{% translate 'Ratings help' %}" href="#" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#ratings-help-text"><i class="bi bi-question-circle"></i></a></sup></label>
                <div class="mb-3 collapse" id="ratings-help-text">{% blocktranslate %}You decide what a rating means. The number of stars are controlled by your admin.{% endblocktranslate %}</div>
                <input type="hidden" name="rating" id="bookmark_rating" value="{{ bookmark.rating }}">
                <p>{% for stars in rating_range %}
                            {% if stars <= bookmark.rating %}
                                <span onclick="colorStar({{stars}})" id="rating_{{stars}}" class="rating-star"><i id="rating_{{ stars }}_icon" class="bi bi-star-fill"></i></span>
                            {% else %}
                                <span onclick="colorStar({{stars}})" id="rating_{{stars}}"><i id="rating_{{ stars }}_icon" class="bi bi-star"></i></span>
                            {% endif %}
                {% endfor %}</p>
            </div>
        {% endif %}
        <div id="bookmark-form-description-parent" class="mb-3">
            <label id="bookmark-form-description-label" class="form-label" for="descriptionEditor">{% translate 'Description' %}</label>
            {% include 'ourchive_tinymce_template.html' with form_field_value=bookmark.description form_field='description' obj_name='bookmark' %}
        </div>
        <hr/>
        <div class="mb-3" id="bookmark-form-actions-footer-parent">
            <input id="bookmark-form-actions-footer-submit" class="btn btn-primary float-end m-2" type="submit" value="Submit"/>
            <input id="bookmark-form-actions-footer-cancel" class="btn btn-secondary float-end m-2" type="button" onclick="history.back()" value="Cancel"/>
        </div>
    </form>
</div>
<script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
<script src="{% static 'frontend/js/ourchive-bookmarks.js' %}"></script>
{% endblock %}