{% load i18n %}
<div class="ourchive-metadata-list" id="bk-metadata-p">
    <span id="bkcol-metadata-complete" class="uk-inline ourchive-muted">Status: {% if bookmark_collection.is_complete %}{% translate 'Complete' %}{% else %}{% translate 'Incomplete' %}{% endif %}</span>
    {% if settings.AllowComments %}
    <span id="bk-metadata-comment-count" class="uk-inline ourchive-muted">{% blocktranslate with cc=bookmark_collection.comment_count %}Comments: {{ cc }}{% endblocktranslate %}</span>
    {% endif %}
	<span id="collection-metadata-updated" class="uk-inline ourchive-muted">{% translate 'Updated' %}: {{bookmark_collection.updated_on|date:'d M Y'}}</span>
    {% if bookmark_collection.languages_readonly %}
	<span class="uk-inline ourchive-muted" id="collection-metadata-language">{% translate 'Languages' %}: {% for language in bookmark_collection.languages_readonly %}{{ language.display_name }}{% if not forloop.last %},{% endif %}
    {% endfor %}</span>
    {% endif %}
</div>