{% extends 'index.html' %}
{% load i18n %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}	
{% load static %}
<script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
<script>
function doBookmarkAutocomplete(term) {
  if (term.length < 5)
  {
    return;
  }
  var complete_select = 'bookmark-autocomplete-dropdown';
  fetch('/bookmark-autocomplete?text='+term+"&source=edit")
    .then((response) => {
      return response.text();
    })
    .then((templateText) => {      
    document.getElementById(complete_select).innerHTML = "";
    document.getElementById(complete_select).innerHTML = templateText;
    UIkit.drop(document.getElementById(complete_select)).show();
    });
}

function populateBookmarkInput(bookmark_id, bookmark_display) {
    // visible list
    var list = document.getElementById("bookmarks_readonly_list")
    // bookmark to add
    var final = bookmark_display;
    var wrapper= document.createElement('div');
    wrapper.innerHTML= '<input type="hidden" id="bookmarks_'+bookmark_id+'" name="bookmarksbookmarksidstoadd_'+bookmark_id+'" value="bookmarksbookmarksidstoadd_'+bookmark_id+'">';
    var div = wrapper.firstChild;
    list.appendChild(div);
    var li = document.createElement('li');
    li.innerHTML = bookmark_display+' (<a onclick="removeBookmark(event,'+bookmark_id+')">Remove</a>)';
    list.appendChild(li);
    document.getElementById("bookmark_entry").value = '';
    document.getElementById("bookmark_entry").focus();
    document.getElementById("bookmark-autocomplete-dropdown").innerHTML = "";
}
function removeBookmark(event, bookmark_id) {
    var li = document.getElementById("bookmarks_"+bookmark_id+"_li");
    var hidden = document.getElementById("bookmarks_"+bookmark_id);
    li.remove();
    hidden.remove();
}
</script>
<div class="uk-width-1-1 uk-text-left" id="bkcol-form-parent-grid">  
<form class="uk-form-horizontal" method="post" id="bookmarkCollectionForm" onsubmit="return getDescriptionText()">
    <script>
        function getDescriptionText() {
            document.getElementById('description').value = tinymce.get("descriptionEditor").getContent().replace(/\r?\n?/g, '');
        }
    </script>
    {% csrf_token %}
    <input id="bkcol-form-hidden-id" type="hidden" name="bookmark_collection_id" value="{{ bookmark_collection.id }}"/>
    <div id="bkcol-form-actions-parent" class="uk-grid" uk-grid>
        <div id="bkcol-form-header-parent" class="uk-width-1-2@m uk-width-1-1@s uk-margin-remove-left uk-margin-remove-right uk-padding-remove-vertical uk-margin-remove-bottom">
            <span id="bkcol-form-header-span" class="uk-text-large">{{ form_title }}</span>
        </div>
        <div id="bkcol-form-actions-group" class="uk-align-right uk-width-1-2@m uk-width-1-1@s uk-margin-remove-left uk-margin-remove-right uk-margin-remove-bottom uk-padding-remove-vertical uk-text-right">
            <input id="bkcol-form-cancel" class="uk-button uk-button-secondary" type="button" onclick="history.back()" value="Cancel"/>
            <button id="bkcol-form-prevent-default-action-button" type="submit" disabled style="display: none" aria-hidden="true"></button>
            <input id="bkcol-form-submit" class="uk-button uk-button-primary" type="submit" value="Submit"/>
        </div>
    </div>
    <hr id="bkcol-form-hr"/>
    <div id="bkcol-form-title-parent" class="uk-margin">
        <label id="bkcol-form-title-label" class="uk-form-label" for="form-horizontal-text">Title</label>
        <div id="bkcol-form-title-form-control" class="uk-form-controls">
            <div id="bkcol-form-title-inline-div" class="uk-inline">
                <input id="bkcol-form-title-input" class="uk-input uk-form-width-large" type="text" name="title" value="{{ bookmark_collection.title|default_if_none:'' }}">
            </div>
        </div>
    </div>
    <div id="bkcol-form-short-desc-parent" class="uk-margin">
        <label id="bkcol-form-short-desc-label" class="uk-form-label" for="form-horizontal-text">Short Description</label>
        <div id="bkcol-form-short-desc-form-control" class="uk-form-controls">
            <div id="bkcol-form-short-desc-inline-div" class="uk-inline">
                <textarea rows="3" placeholder="Enter a short summary of this collection" id="bkcol-form-short-desc-input" class="uk-textarea uk-form-width-large" type="text" name="short_description">{{ bookmark_collection.short_description|default_if_none:'' }}</textarea>
            </div>
        </div>
    </div>
    {% if request.user.can_upload_images %}
    <div class="uk-margin" id="bkcol-form-header-parent">
        <label id="bkcol-form-header-label" class="uk-form-label" for="form-horizontal-text">Header <sup class="uk-margin-small-left" uk-icon="icon: question"></sup>    
            <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}This image will show directly below site nav. We recommend a rectangular image with width:height ratio of 2:1 or higher.{% endblocktranslate %}</div>
        </label>
        <div id="bookmark-collection-form-header-controls" class="uk-form-controls">
            {% if bookmark_collection.header_url %}
                <div id="bookmark-collection-header-image-toggle" class="uk-width-1-1"><a uk-toggle="target: #bookmark-collection-form-image-inline" class="uk-button uk-button-primary">Toggle Header</a></div>
                <div id="bookmark-collection-form-image-inline" class="uk-width-1-1 uk-margin" hidden><img id="bookmark-collection-form-header-img" src="{{ bookmark_collection.header_url }}"/></div>
            {% endif %}
            <div id="bookmark-collection-form-header-inline" class="uk-inline uk-margin">
                {% include 'file_upload.html' with object='header_url' replace_selector='bookmark-collection-form-header-img' object_type='img' upload_placeholder='Upload header image' original_value=bookmark_collection.header_url %}
            </div>
            
        </div>
    </div>
    <div class="uk-margin" id="bookmark-collection-form-header-alt-text-parent">
            <label id="bookmark-collection-form-header-alt-text-label" class="uk-form-label" for="form-horizontal-text">Header Alt Text</label>
            <div id="bookmark-collection-form-header-alt-text-controls" class="uk-form-controls">
                <div class="uk-inline" id="bookmark-collection-header-alt-text-inline">
                    <textarea id="bookmark-collection-header-alt-text" class="uk-textarea uk-form-width-large" rows="2" placeholder="Header alt text" name="header_alt_text" maxlength="600">{{ bookmark_collection.header_alt_text|default_if_none:'' }}</textarea>
                </div>
            </div>
        </div>
    {% endif %}
    <hr/>
    <span class="uk-inline"><h3 class="uk-inline" id="obj-attrs-form-header">Collection Tags</h3> <sup class="uk-margin-small-left uk-inline" uk-icon="icon: question"></sup>
        <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}Tags are used in searching and filtering. Tags let other people find your work, so don't hesitate to be creative! Existing tags will be shown in a dropdown after you start typing.{% endblocktranslate %}</div>
    </span>
    {% include "object_attributes_form.html" with object='Bookmark Collection' attribute_types=bookmark_collection.attribute_types show_header=False %}
    {% include "edit_tags.html" with object='bookmark_collection' show_header=False %}
    <hr id="bkcol-form-tags-hr"/>
    <h3 id="obj-attrs-form-header">Collection Details</h3>
    <div class="uk-margin" id="bkcol-bookmarks-list">
        {% if bookmark_collection.bookmarks_readonly %}<div class="uk-margin-medium-left"><h4 id="obj-attrs-form-header">Bookmarks</h4></div>{% endif %}
        <ul id="bookmarks_readonly_list" class="uk-margin-medium-left"> 
        {% for bookmark in bookmark_collection.bookmarks_readonly %}
            <input type="hidden" id="bookmarks_{{bookmark.id}}" name="bookmarksidstoadd_{{bookmark.id}}" value="bookmarksidstoadd_{{bookmark.id}}"/>
            <li id="bookmarks_{{bookmark.id}}_li">{{bookmark.title|default:bookmark.work.title}} (<a onclick="removeBookmark(event, {{bookmark.id}})">Remove</a>)</li>
        {% endfor %}
        </ul>
        <div id="bkcol-form-bookmarks-parent" class="uk-margin uk-margin-medium-top">
            <label id="bkcol-form-bookmarks-label" class="uk-form-label" for="form-horizontal-text">Add Bookmark <sup class="uk-margin-small-left" uk-icon="icon: question"></sup>    
                    <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}Search for your bookmarks by title.{% endblocktranslate %}</div>
            </label>
            <div id="bkcol-form-bookmarks-form-control" class="uk-form-controls">
                <div id="bkcol-form-bookmarks-inline-div" class="uk-inline">
                    <input autocomplete="off" class="uk-input uk-form-width-medium uk-form-medium ourchive-tag-entry" type="text" placeholder="Search for bookmark..." id="bookmark_entry" oninput="doBookmarkAutocomplete(this.value)">
                    <div id="bookmark-autocomplete-dropdown" uk-drop></div>
                </div>
            </div>
            
        </div>
    </div>
    <div id="bkcol-form-description-parent" class="uk-margin">
        <label id="bkcol-form-description-label" class="uk-form-label" for="form-horizontal-text">Description</label>
        <div id="bkcol-form-description-form-controls" class="uk-form-controls">
            <div id="bkcol-form-description-inline" class="uk-inline">
                <input type="hidden" id="description" name="description" value="{{ bookmark_collection.description|safe|default_if_none:'' }}">
                <textarea id="descriptionEditor"></textarea>
                <script type="text/javascript">
                                  tinymce.init({
                                    selector: '#descriptionEditor',
                            width: '100%',
                            height: 400,
                            autoresize_min_height: 400,
                            autoresize_max_height: 800,
                            plugins: [
                              'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                              'fullscreen', 'insertdatetime',
                              'media', 'table', 'emoticons'
                            ],
                            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                              'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                              'forecolor backcolor emoticons | help',
                            menubar: '',
                            init_instance_callback : function(editor) {
                                var descriptionText = document.getElementById('description').value;
                                editor.setContent(descriptionText);
                            }
                          });
                </script>
            </div>
        </div>
    </div>
    {% if settings.AllowComments %}
    <hr id="bkcol-comments-hr"/>
    <h3 id="bkcol-settings-header">Collection Settings</h3>
    <div class="uk-margin" id="bkcol-form-draft-parent">
        <label id="bkcol-form-draft-label" class="uk-form-label" for="form-horizontal-text">Draft? <sup class="uk-margin-small-left" uk-icon="icon: question"></sup>    
            <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}A draft will not be seen by any user except you. You can publish your drafts at any time.{% endblocktranslate %}</div>
        </label>
        <div id="bkcol-form-draft-controls" class="uk-form-controls">
            <div id="bkcol-form-draft-inline" class="uk-inline">
                <label id="bkcol-form-draft-label" class="switch"><input id="bkcol-form-draft-input" class="uk-checkbox" type="checkbox" name="draft" {% if bookmark_collection.draft %} checked {% endif %}> <span class="slider round"></span> </label>
            </div>
        </div>
    </div>
    <div class="uk-margin" id="bkcol-form-allow-comments-parent">
        <label id="bkcol-form-allow-comments-label" class="uk-form-label" for="form-horizontal-text">Allow Comments?</label>
        <div id="bkcol-form-allow-comments-controls" class="uk-form-controls">
            <select id="bkcol-form-allow-comments-select" class="uk-select uk-form-width-large" name="comments_permitted">                    
                <option {% if bookmark_collection.anon_comments_permitted and bookmark_collection.comments_permitted %} selected {% endif %}>All</option>
                <option {% if bookmark_collection.anon_comments_permitted == False and bookmark_collection.comments_permitted %} selected {% endif %}>Registered users only</option>
                <option {% if not bookmark_collection.anon_comments_permitted and not bookmark_collection.comments_permitted %} selected {% endif %}>None</option>

            </select>
        </div>
    </div>
    {% endif %}
    <hr/>
    <div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" id="bkcol-form-actions-footer-parent" uk-grid>
        <div class="uk-text-right uk-width-1-1" id="bkcol-form-actions-footer-child">
            <input id="bkcol-form-actions-footer-cancel" class="uk-button uk-button-secondary" type="button" onclick="history.back()" value="Cancel"/>
            <input id="bkcol-form-actions-footer-submit" class="uk-button uk-button-primary" type="submit" value="Submit"/>
        </div>
    </div>    
</form>
</div>
{% endblock %}