{% if top_level %}
<ul class="uk-comment-list" id="bookmark-{{bookmark.id}}-comments-list">
{% endif %}
{% for comment in comments %}
{% if depth < 10 %}
{% if comment.parent_comment != null %}
<ul id="bk-comment-{{comment.id}}-ul" class="uk-comment-list">
{% endif %}
<li id="bk-comment-{{comment.id}}-li">
<hr id="bk-comment-{{comment.id}}-hr"/>
<article class="uk-comment" id="comment_container_{{comment.id}}">
    <header id="bk-comment-{{comment.id}}-header" class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        {% if comment.user is not None %}
        <div class="uk-width-auto" id="bk-comment-{{comment.id}}-icon-div">
            <img id="bk-comment-{{comment.id}}-icon" class="uk-comment-avatar" src="{{ comment.user.userprofile.icon }}" width="80" height="80" alt="">
        </div>
        {% endif %}
        <div id="bk-comment-{{comment.id}}-parent-div" class="uk-width-expand">
            {% if comment.user is not None %}
            <h4 id="bk-comment-{{comment.id}}-username-h4" class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" id="bk-comment-{{comment.id}}-username-link" href="#">{{comment.user.username}}</a></h4>
            {% else %}
            <h4 id="bk-comment-{{comment.id}}-anon-h4" class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" id="bk-comment-{{comment.id}}-link" href="#">Anonymous</a></h4>
            {% endif %}
            <ul id="bk-comment-{{comment.id}}-actions-ul" class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li id="bk-comment-{{comment.id}}-reply-li"><button id="bk-comment-{{comment.id}}-reply-button" class="uk-button uk-button-text" type="button" uk-toggle="target: #comment-{{comment.id}}-reply">Reply</button></li>
                {% if comment.user.username == request.user.username %}
                <li id="bk-comment-{{comment.id}}-edit-li"><button id="bk-comment-{{comment.id}}-edit-button" class="uk-button uk-button-text" type="button" uk-toggle="target: #comment-{{comment.id}}-edit"><span id="bk-comment-{{comment.id}}-edit-span" uk-icon="icon: file-edit"></span> </button></li>
                <li id="bk-comment-{{comment.id}}-delete-li"><a id="bk-comment-{{comment.id}}-delete-link" uk-toggle="target: #bookmark-comment-{{comment.id}}-modal-delete"><span id="bk-comment-{{comment.id}}-delete-span" uk-icon="icon: trash"></span> </a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="uk-comment-body" id="bk-comment-{{comment.id}}-text-parent" uk-grid>
        <div id="bk-comment-{{comment.id}}-text" class="uk-width-1-1"><span class="uk-text-medium ourchive-comment">{{comment.text|safe }}</span></div>
            {% include "comment_actions.html" with post_action=post_action_url object_name="bookmark" object_id=bookmark.id edit_action=edit_action_url comment_count=comment_count current_offset=current_offset %}
    </div>    
</article>
{% include "delete_modal.html" with object='bookmark-comment' parent_object_id=bookmark.id object_id=comment.id %}
{% if comment.replies %}
    {% include "bookmark_comments.html" with comments=comment.replies post_action_url=post_action_url edit_action_url=edit_action_url object_name="bookmark" object_id=bookmark.id bookmark=bookmark next_params=comment.replies.next_params comment_count=comment_count current_offset=current_offset depth=depth|add:1 top_level=None %}
{% endif %}
</li>  
{% if comment.parent_comment != null %}
</ul>
{% endif %}
{% endif %}
{% if depth >= 10 %}
<a href="/bookmarks/{{bookmark.id}}/?expandComments=true&scrollCommentId={{comment.id}}&comment_thread={{comment.id}}&comment_count={{comment_count}}">View Thread...</a>
{% endif %}
{% endfor %}
{% if top_level %}
<div id="bookmark-{{bookmark.id}}-pagination" class="uk-width-1-1 uk-margin-top">
    <ul class="uk-pagination">
        {% if prev_params %}<li><a onclick="loadMoreComments('/bookmarks/{{bookmark.id}}/comments{{prev_params}}&depth={{depth}}', '{{bookmark.id}}')"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous Comments</a></li>{% endif %}
        {% if next_params %}
            <li id="bk-comment-{{comment.id}}-next-li" class="uk-margin-auto-left"><a id="bk-comment-{{comment.id}}-next-link" onclick="loadMoreComments('/bookmarks/{{bookmark.id}}/comments{{next_params}}&depth={{depth}}', '{{bookmark.id}}')">Next Comments <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
        {% endif %}
    </ul>      
</div>
{% endif %}
{% if top_level %}
</ul>
{% endif %}

