{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}
    <div id="bkcol-form-header-parent" class="row row-cols-1">
        <h1 id="bkcol-form-header-span">{{ form_title }}</h1>
        <hr id="bkcol-form-hr" class="ourchive-hr"/>
    </div>
    <div class="row row-cols-1" id="bkcol-form-parent-grid">
        <form method="post" id="bookmarkCollectionForm" onsubmit="return getRichText(['description'])">
            {% csrf_token %}
            <input id="bkcol-form-hidden-id" type="hidden" name="bookmark_collection_id" value="{{ bookmark_collection.id }}"/>
            <div id="bkcol-form-title-parent" class="mb-3">
                <label id="bkcol-form-title-label" class="form-label" for="bkcol-form-title-input">{% translate 'Title' %}</label>
                <input id="bkcol-form-title-input" title="{% translate 'Collection Title' %}" class="form-control" type="text" name="title" value="{{ bookmark_collection.title|default_if_none:'' }}">
            </div>
            <div class="mb-3" id="collection-form-cocreator-form-parent">
                <label id="collection-form-cocreator-form-label" class="form-label" for="collection_form_new_user">{% translate 'Co-creators' %}</label>
                {% if bookmark_collection.pending_users %}<p><span class="fw-bold">{% translate 'Pending cocreators' %}: </span>{% for user in bookmark_collection.pending_users %}{{user.username}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
                <div id="collection-form-users">{% for user in bookmark_collection.users %}
                    {% if user.username != request.user.username %}
                        <div class="mb-3" id="collection-form-user-{{user.id}}-parent">
                            <input title="{% translate 'Collection user' %}" id="collection-form-cocreator-{{user.id}}-hidden" type="hidden" name="collection_cocreators_{{user.id}}" value="{{ user.id }}">
                            <p id="collection_user_{{user.id}}_display">{{ user.username }} <a class="link-underline link-underline-opacity-0" onclick="removeUser({{user.id}})" id="collection_user_{{user.id}}_delete"><i class="bi bi-backspace"></i></a></p>
                        </div>
                    {% endif %}
                {% endfor %}</div>
                <input autocomplete="off" class="form-control" type="text" placeholder="Find user..." data-bs-toggle="dropdown" aria-expanded="false" data-bs-target="#collection-find-user-dropdown" id="collection_form_new_user" oninput="doUserAutocomplete(this.value, 'collection-find-user-dropdown')">
                <div id="collection-find-user-dropdown" class="dropdown-menu p-4">{% translate 'Search for user..' %}</div>
            </div>
            <div class="mb-3" id="bkcol-form-languages-parent">
                <label id="bkcol-form-languages-label" class="form-label" for="bkcol-form-languages">{% translate 'Languages' %}</label>
                <select multiple class="form-select" name="languages[]" id="bkcol-form-languages">
                    {% for language in languages %}
                        <option value="{{language.display_name}}" {% if language.selected%} selected {% endif %}>{{language.display_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="bkcol-form-short-desc-parent" class="mb-3">
                <label id="bkcol-form-short-desc-label" class="form-label" for="bkcol-form-short-desc-input">{% translate 'Short Description' %}</label>
                <textarea rows="3" placeholder="Enter a short summary of this collection" id="bkcol-form-short-desc-input" class="form-control" type="text" name="short_description">{{ bookmark_collection.short_description|default_if_none:'' }}</textarea>
            </div>
            {% if request.user.can_upload_images %}
                <div class="mb-3" id="bkcol-form-header-parent">
                    <label id="bkcol-form-header-label" class="form-label" for="bookmark-collection-form-header-inline">{% translate 'Header' %} <sup><a title="{% translate 'Header help' %}" href="#" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#header-help-text"><i class="bi bi-question-circle"></i></a></sup></label>
                    <div class="mb-3 collapse" id="header-help-text">{% blocktranslate %}This image will show directly below site nav. We recommend a rectangular image with width:height ratio of 2:1 or higher.{% endblocktranslate %}</div>
                    <p><a id="bookmark-collection-header-img-toggle" data-bs-toggle="collapse" data-bs-target="#bookmark-collection-form-image-inline" aria-expanded="false" aria-controls="bookmark-collection-form-image-inline" class="btn btn-primary{% if not bookmark_collection.header_url %} disabled{% endif %}">{% translate 'Toggle cover' %}</a></p>
                    <div id="bookmark-collection-form-image-inline" class="collapse mb-3"><img id="bookmark-collection-form-header-img" src="{{ bookmark_collection.header_url }}" alt="{% translate 'Collection header' %}"/></div>
                    {% include 'file_upload.html' with object='header_url' replace_selector='bookmark-collection-form-header-img' object_type='img' upload_placeholder='Upload header image' original_value=bookmark_collection.header_url %}
                </div>
                <div class="mb-3" id="bookmark-collection-form-header-alt-text-parent">
                    <label id="bookmark-collection-form-header-alt-text-label" class="form-label" for="bookmark-collection-header-alt-text">{% translate 'Header Alt Text' %}</label>
                    <textarea id="bookmark-collection-header-alt-text" class="form-control" rows="2" placeholder="Header alt text" name="header_alt_text" maxlength="600">{{ bookmark_collection.header_alt_text|default_if_none:'' }}</textarea>
                </div>
            {% endif %}
            <div class="mb-3">
                <hr id="bkcol-comments-hr" class="ourchive-hr"/>
                <h3 id="bkcol-settings-header">{% translate 'Settings' %}</h3>
            </div>
            <div class="mb-3 form-check form-switch" id="bkcol-form-draft-parent">
                <input id="bkcol-form-draft-input" title="{% translate 'Draft checkbox' %}" class="form-check-input" role="switch" type="checkbox" name="draft" {% if bookmark_collection.draft %} checked {% endif %}>
                <label id="bkcol-form-draft-label" class="form-check-label" for="bkcol-form-draft-input">{% translate 'Draft?' %} <sup><a title="{% translate 'Draft help' %}" href="#" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#draft-help-text"><i class="bi bi-question-circle"></i></a></sup></label>
                <div class="mb-3 collapse" id="draft-help-text">{% blocktranslate %}A draft will not be seen by any user except you. You can publish your drafts at any time.{% endblocktranslate %}</div>
            </div>
            <div class="mb-3" id="bkcol-form-created-parent">
                <label id="bkcol-form-created-label" class="form-label" for="bkcol-form-created-on">{% translate 'Post Date' %}</label>
                <input title="{% translate 'Collection created on' %}" id="bkcol-form-created-on" type="date" class="form-control" name="created_on" value="{{ bookmark_collection.created_on }}">
            </div>
            <div class="mb-3" id="bkcol-form-updated-parent">
                <label id="bkcol-form-updated-label" class="form-label" for="bkcol-form-updated-on">{% translate 'Update Date' %}</label>
                <input title="{% translate 'Collection updated on' %}" id="bkcol-form-updated-on-hidden" type="hidden" name="updated_on_original" value="{{ bookmark_collection.updated_on }}">
                <input title="{% translate 'Collection updated on' %}" id="bkcol-form-updated-on" type="date" class="form-control" name="updated_on" value="{{ bookmark_collection.updated_on }}">
            </div>
            {% if settings.AllowComments %}
                <div class="mb-3" id="bkcol-form-allow-comments-parent">
                    <label id="bkcol-form-allow-comments-label" class="form-label" for="bkcol-form-allow-comments-select">{% translate 'Allow Comments?' %}</label>
                    <select id="bkcol-form-allow-comments-select" class="form-select" name="comments_permitted" title="{% translate 'Comment settings' %}">
                        <option {% if bookmark_collection.anon_comments_permitted and bookmark_collection.comments_permitted %} selected {% endif %}>All</option>
                        <option {% if bookmark_collection.anon_comments_permitted == False and bookmark_collection.comments_permitted %} selected {% endif %}>Registered users only</option>
                        <option {% if not bookmark_collection.anon_comments_permitted and not bookmark_collection.comments_permitted %} selected {% endif %}>None</option>
                    </select>
                </div>
            {% endif %}
            <hr class="ourchive-hr"/>
            <div class="mb-3">
                <h3 id="obj-attrs-form-header">Tags <sup><a title="{% translate 'Draft help' %}" href="#" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#tags-help"><i class="bi bi-question-circle"></i></a></sup></h3>
                <div class="mb-3 collapse" id="tags-help">{% blocktranslate %}Tags are used in searching and filtering. Tags let other people find your work, so don't hesitate to be creative! Existing tags will be shown in a dropdown after you start typing.{% endblocktranslate %}</div>
                {% include "object_attributes_form.html" with object='Bookmark Collection' attribute_types=bookmark_collection.attribute_types show_header=False %}
                {% include "edit_tags.html" with object='bookmark_collection' show_header=False %}
            </div>
            <hr id="bkcol-form-tags-hr" class="ourchive-hr"/>
            <div class="mb-3"><h3 id="obj-attrs-form-header">{% translate 'Details' %}</h3></div>
            <div class="mb-3" id="bkcol-bookmarks-list">
                <label id="bkcol-works-form-label" class="form-label" for="bookmarks_readonly_list">{% translate 'Works' %}</label>
                <ul class="list-group sortable-list" id="bookmarks_readonly_list">
                    {% for work in bookmark_collection.works_readonly %}
                        <input type="hidden" id="works_{{work.id}}" name="workidstoadd_{{work.id}}" value="workidstoadd_{{work.id}}"/>
                        <li id="works_{{work.id}}_li" class="list-group-item">{{work.title}} (<a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" onclick="removeWork(event, {{work.id}})">Remove</a>)</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="bkcol-form-bookmarks-parent" class="mb-3">
                <label id="bkcol-form-bookmarks-label" class="form-label" for="bookmark_entry">{% translate 'Add Work' %}</label>
                <input autocomplete="off" class="form-control" data-bs-toggle="dropdown" aria-expanded="false" data-bs-target="bookmark-autocomplete-dropdown" type="text" placeholder="{% translate 'Search for work...' %}" id="bookmark_entry" oninput="doWorkAutocomplete(this.value)">
                <div id="bookmark-autocomplete-dropdown" class="dropdown-menu p-4">{% translate 'Search for work...' %}</div>
                <a class="link-underline link-underline-opacity-0" id="collection-add-bookmark-modal-toggle"href="#" data-bs-toggle="modal" data-bs-target="#collection-add-bookmark-modal">{% translate 'Add from list' %}</a>
            </div>
            <div id="bkcol-form-description-parent" class="mb-3">
                <label id="bkcol-form-description-label" class="form-label" for="descriptionEditor">{% translate 'Description' %}</label>
                {% include 'ourchive_tinymce_template.html' with form_field_value=bookmark_collection.description form_field='description' obj_name='bkcol' %}
            </div>
            <hr class="ourchive-hr"/>
            <div class="mb-3" id="bkcol-form-actions-footer-parent">
                <input id="bkcol-form-actions-footer-submit" class="btn btn-primary float-end m-2" type="submit" value="Submit"/>
                <input id="bkcol-form-actions-footer-cancel" class="btn btn-secondary float-end m-2" type="button" onclick="history.back()" value="Cancel"/>
            </div>    
        </form>
    </div>
    {% include 'collection_form_bookmark_modal.html' %}
    <script src="{% static 'frontend/js/ourchive-collections.js' %}"></script>
{% endblock %}