{% load i18n %}
<div class="border shadow-sm p-3" id="bookmark-{{bookmark.id}}-tile-container">
    <div class="row">
        <div class="col-md-4 col-12" id="bookmark-{{bookmark.id}}-tile-card">
            <p class="mb-2 fs-3">{% if bookmark.title %}{{ bookmark.title }}{% else %}{% translate 'Bookmark' %}: {{ bookmark.work.title }}{% endif %} by <a href="{% url 'user-profile-parent' bookmark.user_id %}" title="Bookmark Creator" id="bookmark-user-link">{{ bookmark.user }}</a></p>
            {% if bookmark.user == request.user.username %}
                <div id="bk-tile-actions-parent" class="row row-cols-1 m-2">
                <p>
                    <a title="{% translate 'Edit' %}" class="link link-underline-opacity-0" id="bk-tile-edit-{{ bookmark.id }}-link" href="/bookmarks/{{ bookmark.id }}/edit"><i class="bi bi-pencil"></i></a>
                    <a title="{% translate 'Delete' %}" class="link link-underline-opacity-0" id="bk-tile-delete-link" href="#" data-bs-toggle="modal" data-bs-target="#bookmark-{{bookmark.id}}-modal-delete"><i class="bi bi-trash"></i></a>
                    {% include "delete_modal.html" with object='bookmark' object_id=bookmark.id %}
                </p>
                </div>
            {% endif %}
            {% if bookmark.languages_readonly %}<p>{% for language in bookmark.languages_readonly %}{{ language.display_name }}{% if not forloop.last %},{% endif %}{% endfor %}</p>{% endif %}
            {% if settings.RatingsEnabled %}<p>{% for stars in rating_range %}
                {% if stars <= bookmark.rating %}
                    <i class="bi bi-star-fill" id="rating_{{stars}}"></i>
                {% else %}
                    <i class="bi bi-star" id="rating_{{stars}}"></i>
                {% endif %}
            {% endfor %}</p>
            {% endif %}
        </div>
        <div class="col-md-8 col-12 mt-md-0 mt-4" id="bookmark-{{bookmark.id}}-info-card">
            {%  if bookmark.work %}<p id="bk-tile-work"><strong id="bk-tile-work-label">Work</strong>: <a href="{% url 'fe-work-view' bookmark.work.id %}" title="Bookmark work link" id="bookmark-work-link">{{ bookmark.work.title|default:bookmark.work.id }}</a> by <a href="{% url 'user-profile-parent' bookmark.work.user_id %}" title="Bookmark work creator" id="bookmark-work-creator-link">{{ bookmark.work.user }}</a></p>{%  endif %}
	        {% if settings.RatingsEnabled %}<p id="bk-tile-rating-body"><strong id="bk-tile-rating-body-label">Rating</strong>: {{ bookmark.rating }} stars</p>{% endif %}
	        {% if bookmark.tags %}{% include "tag_partial.html" with obj_name='bookmark' tags=bookmark.tags %}{% endif %}
		   	{% if bookmark.attributes %}{% include "object_attributes.html" with object='bookmark' object_id=bookmark.id attributes=bookmark.attributes %}{% endif %}
		   	{% if bookmark.description %}
                <p><strong>{{ bookmark.user }}'s {% translate 'comments' %}</strong></p>
                <p class="mt-3">{{ bookmark.description|safe }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row row-cols-1" id="bookmark-{{ bookmark.id }}-list-meta">
        <!-- language, complete status, updated, chapters, word count, comments, fingerguns -->
        {% include 'bookmark_metadata.html' %}
    </div>
</div>