<div id="bkcol-tile-parent" class="uk-margin">
	<div id="bkcol-tile-card" class="uk-card uk-card-default">
	    <div id="bkcol-tile-header-parent" class="uk-card-header">
	        <div id="bkcol-tile-header-grid" class="uk-grid-small uk-flex-middle" uk-grid>
		        <div id="bkcol-tile-header-content" class="uk-width-expand">
	                <a id="bkcol-tile-title-link" href="/bookmark-collections/{{bookmark_collection.id}}" class="uk-inline"><h3 id="bkcol-tile-title" class="uk-card-title uk-margin-remove-bottom">{{bookmark_collection.title}}</h3></a>
	                <p id="bkcol-tile-creator" class="uk-text-meta uk-margin-remove-top">{{ bookmark_collection.user }}</p>
		        </div>
		    </div>
		</div>
		<div id="bkcol-tile-tags" class="uk-card-body">
			<div id="bkcol-short-desc" class="uk-width-expand">
				<p class="uk-text-medium">{{ bookmark_collection.short_description }}</p>
			</div>
			{% include "tag_partial.html" with obj_name='bk' tags=bookmark_collection.tags.items %}
		</div>
	    <div class="uk-card-footer" id="bkcol-tile-footer-parent">
	        <a id="bkcol-tile-readmore-link" href="/bookmark-collections/{{bookmark_collection.id}}" class="uk-button uk-button-text">Read more</a>
	        {% if bookmark_collection.user == request.user.username %}
	        <div id="bkcol-tile-actions-parent" class="uk-align-right">
	            <a id="bkcol-tile-edit-link" href="/bookmark-collections/{{bookmark_collection.id}}/edit"><span id="bkcol-tile-edit-span" uk-icon="icon: file-edit" title="Edit"></span> </a>
	            <a id="bkcol-tile-delete-link" uk-toggle="target: #bookmark-collection-{{bookmark_collection.id}}-modal-delete"><span uk-icon="icon: trash" id="bkcol-tile-delete-span" title="Delete"></span> </a>
		    <p>{% include "delete_modal.html" with object='bookmark-collection' object_friendly='bookmark collection' object_id=bookmark_collection.id %}</p>
	        </div>
	        {% endif %}
	    </div>
	</div>  
</div>