<div id="bk-tile-parent" class="uk-margin">
	<div id="bk-tile-card" class="uk-card uk-card-default">
	    <div id="bk-tile-header-parent" class="uk-card-header">
	        <div id="bk-tile-header-grid" class="uk-grid-small uk-flex-middle" uk-grid>
		        <div id="bk-tile-header-content" class="uk-width-expand">
	                {% if bookmark.title %}
	                <a id="bk-tile-title-link" href="/bookmarks/{{bookmark.id}}?draft={{bookmark.draft}}" class="uk-inline"><h3 id="bk-tile-title" class="uk-card-title uk-margin-remove-bottom">{{bookmark.title}}</h3></a>
	                {% else %}
	                <a id="bk-tile-work-link" href="/bookmarks/{{bookmark.id}}?draft={{bookmark.draft}}" class="uk-inline"><h3 id="bk-tile-work-title" class="uk-card-title uk-margin-remove-bottom">Bookmark - {{bookmark.work.title}}</h3></a>
	                {% endif %}
	                <span id="bk-tile-rating-span" class="uk-inline uk-align-right">{% for stars in rating_range %}
	                    {% if stars <= bookmark.rating %}
	                        <span id="bk-tile-rating-star-filled" uk-icon="icon: star; ratio:1.1" id="rating_{{stars}}" class="rating-star uk-text-middle"></span>
	                    {% else %}
	                        <span id="bk-tile-rating-star-unfilled" uk-icon="icon: star; ratio:1.1" id="rating_{{stars}}"></span>
	                    {% endif %}
				    {% endfor %}</span>
	                <p id="bk-tile-creator" class="uk-text-meta uk-margin-remove-top">{{ bookmark.user }}</p>
		        </div>
		    </div>
		</div>
		<div id="bk-tile-body" class="uk-card-body">
	    	<p id="bk-tile-work"><strong id="bk-tile-work-label">Work</strong>: {{ bookmark.work.title }}</p>
	        <p id="bk-tile-rating-body"><strong id="bk-tile-rating-body-label">Rating</strong>: {{ bookmark.rating }} stars</p>
	        {% for type, tag in bookmark.tags.items %} 
		        <dt id="bk-tile-tag-type-{{type}}">{{ type }}</dt>
		        <dd id="bk-tile-tag-container-{{type}}">
		        <span id="bk-tile-tag-icon-{{type}}" uk-icon="icon: tag"></span> {% for single_tag in tag %}<a id="bk-tile-tag-{{single_tag.id}}-link" href="/tags/{{ single_tag.id }}" style="padding-left:5px;">{{ single_tag.text }}</a> {% endfor %}
		        </dd>
		    {% endfor %}
		</div>
	    <div class="uk-card-footer" id="bk-tile-footer-parent">
	        <a id="bk-tile-readmore-link" href="/bookmarks/{{bookmark.id}}" class="uk-button uk-button-text">Read more</a>
	        {% if bookmark.user == request.user.username %}
	        <div id="bk-tile-actions-parent" class="uk-align-right">
	            <a id="bk-tile-edit-link" href="/bookmarks/{{ bookmark.id }}/edit"><span id="bk-tile-edit-span" uk-icon="icon: file-edit" title="Edit"></span> </a>
	            <a id="bk-tile-delete-link" uk-toggle="target: #bookmark-{{bookmark.id}}-modal-delete"><span uk-icon="icon: trash" id="bk-tile-delete-span" title="Delete"></span> </a>
				{% include "delete_modal.html" with object='bookmark' object_id=bookmark.id %}
	        </div>
	        {% endif %}
	    </div>
	</div>  
</div>