{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'Password Changed' %}{% endblock %}
{% block content %}
    <div class="uk-grid uk-grid-small ourchive-content-padding ourchive-chive-padding ourchive-chive-grid" id="change-password-done-form-uk-grid" uk-grid>
        <div class="uk-width-1-1 uk-text-left" id="change-password-done-parent"> 
          <h1 id="change-password-done-header">Password Changed</h1>
          <p id="change-password-done-message">Your password has been updated. You can log back in to continue using your account.</p>
        </div>
    </div>
{% endblock %}