{% extends 'index.html' %}
{% load i18n %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="row row-cols-1" id="change-password-parent">
  <h1 id="change-password-header">Change Password</h1>
  <p id="change-password-message">Change your password below.</p>

  <form method="POST" id="password-change-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Change password" id="change-password-submit">
  </form>
</div>
{% endblock %}
