{% extends 'index.html' %}
{% load i18n %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="uk-grid uk-grid-small ourchive-content-padding ourchive-chive-padding ourchive-chive-grid" id="change-password-form-uk-grid" uk-grid>
        <div class="uk-width-1-1 uk-text-left" id="change-password-parent">
          <h1 id="change-password-header">Change Password</h1>
          <p id="change-password-message">Change your password below.</p>

          <form method="POST" class="uk-form-horizontal" id="password-change-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="uk-button uk-button-default" value="Change password" id="change-password-submit">
          </form>
        </div>
    </div>
{% endblock %}
