{% load i18n %}
{% csrf_token %}
<h4 id="obj-attrs-form-header">Chapter Details</h4>
<div id="chapter-form-title-parent" class="uk-margin" {% if suppress_info_fields %}hidden{% endif%}>
    <label id="chapter-form-title-label" class="uk-form-label" for="form-horizontal-text">Title</label>
    <div id="chapter-form-title-controls" class="uk-form-controls">
        <div id="chapter-form-title-inline" class="uk-inline">
            <input id="chapter-form-title-input" class="uk-input uk-form-width-large" type="text" name="title" value="{{ chapter.title|default_if_none:'' }}">
        </div>
    </div>
</div>
<div class="uk-margin" id="chapter-form-draft-parent" {% if suppress_info_fields %}hidden{% endif %}>
    <label id="chapter-form-draft-label" class="uk-form-label" for="form-horizontal-text">Draft? <sup class="uk-margin-small-left" uk-icon="icon: ourchive-help;ratio:.75"></sup>    
        <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}A draft will not be seen by any user except you. You can publish your drafts at any time.{% endblocktranslate %}</div>
    </label>
    <div class="uk-form-controls" id="chapter-form-draft-controls">
        <div class="uk-inline" id="chapter-form-draft-inline">
            <label id="chapter-form-draft-checkbox-label" class="switch"><input class="uk-checkbox" type="checkbox" id="chapter-form-draft" name="chapter_draft" {% if chapter.draft %} checked {% endif %}> <span class="slider round"></span></label>
        </div>
    </div>
</div>
{% if not suppress_info_fields %}
{% if chapter.attribute_types %}
    {% include "object_attributes_form.html" with object='Chapter' attribute_types=chapter.attribute_types show_header=False %}
{% endif %}
{% endif %}
<div class="uk-margin" id="chapter-form-summary-parent" {% if suppress_info_fields %}hidden{% endif%}>
    <label id="chapter-form-summary-label" class="uk-form-label" for="form-horizontal-text">Summary</label>
    {% include 'ourchive_tinymce_template.html' with form_field_value=chapter.summary form_field='summary' obj_name='chapter' min_height=200 %}
</div>
<div class="uk-margin" id="chapter-form-notes-parent" {% if suppress_info_fields %}hidden{% endif%}>
    <label class="uk-form-label" for="form-horizontal-text" id="chapter-form-notes-label">{% translate 'Notes' %}</label>
    {% include 'ourchive_tinymce_template.html' with form_field_value=chapter.notes form_field='notes' obj_name='chapter' min_height=200 %}
</div>
<div class="uk-margin" id="chapter-form-number-parent">
    <label id="chapter-form-number-label" class="uk-form-label" for="form-horizontal-text">Number</label>
    <div id="chapter-form-number-controls" class="uk-form-controls">
        <div id="chapter-form-number-inline" class="uk-inline">
            <input id="chapter-form-number-input" class="uk-input" type="number" name="number" min="1" value="{{ chapter.number }}">
        </div>
    </div>            
</div>
{% if not suppress_info_fields %}<h4 id="obj-attrs-form-header">Content</h3>{% endif %}
{% if request.user.can_upload_images %}
{% if not request.user.collapse_chapter_image %}
<div class="uk-margin" id="chapter-form-image-all-parent">
{% else %}
<div class="uk-margin uk-width-small"><a class="uk-accordion-title uk-text-meta" uk-toggle="target: #chapter-form-image-hidden-parent" href="#">{% translate 'Image' %}</a></div>
<div class="uk-accordion-content" id="chapter-form-image-hidden-parent" hidden>
{% endif %}
<div class="uk-margin" id="chapter-form-image-parent">
<div class="uk-margin" id="chapter-form-image-hover-container" uk-toggle="target: #chapter-delete-overlay; mode: hover">
    <label id="chapter-form-image-label" class="uk-form-label" for="form-horizontal-text">Chapter Image</label>
    {% if chapter.image_url and chapter.image_url != "None" %}
    <div class="uk-inline" id="chapter-form-image-controls">
        <img id="chapter-form-image" src="{{ chapter.image_url }}"/>
        <div class="uk-overlay uk-dark uk-overlay-default uk-position-cover" id="chapter-delete-overlay" hidden>
            <p class="uk-text-right"><a href="#" onclick="removeChapterImage()" title="{% translate 'Delete chapter image' %}"><span uk-icon="icon: ourchive-delete; ratio: 2"></span></a></p>
        </div>
    </div>
    {% endif %}
</div>
    <div class="uk-form-controls" id="chapter-form-image-upload-controls">
        <div class="uk-inline" id="chapter-form-image-upload-inline" {% if not chapter.image_url %}uk-toggle="target: #chapter-form-image-alt-text-parent"{% endif %}>
        	{% include 'file_upload.html' with object='image_url' replace_selector='chapter-form-image' object_type='chapter-img' upload_placeholder='Upload chapter image' original_value=chapter.image_url %}
        </div>
    </div>
</div>
<div class="uk-margin" id="chapter-form-image-alt-text-parent" {% if not chapter.image_url %}hidden{% endif %}>
    <label id="chapter-form-image-alt-text-label" class="uk-form-label" for="form-horizontal-text">Image Alt Text</label>
    <div id="chapter-form-image-alt-text-controls" class="uk-form-controls">
        <div class="uk-inline" id="chapter-form-image-alt-text-inline">
            <textarea id="chapter-form-image-alt-text" class="uk-textarea uk-form-width-large" rows="2" placeholder="Image alt text" name="image_alt_text" maxlength="600">{{ chapter.image_alt_text|default_if_none:'' }}</textarea>
        </div>
    </div>
</div>
</div>
{% endif %}
{% if request.user.can_upload_audio %}
{% if not request.user.collapse_chapter_audio %}
<div class="uk-margin" id="chapter-form-audio-parent">
{% else %}
<div class="uk-margin uk-width-small"><a class="uk-accordion-title uk-text-meta" uk-toggle="target: #chapter-form-audio-hidden-parent" href="#">{% translate 'Audio' %}</a></div>
<div class="uk-accordion-content" id="chapter-form-audio-hidden-parent" hidden>
{% endif %}
<div class="uk-margin" id="chapter-form-audio-upload-parent">
    <label id="chapter-form-audio-label" class="uk-form-label" for="form-horizontal-text">Chapter Audio</label>
    <div class="uk-form-controls" id="chapter-form-audio-controls">
        <div class="uk-inline" id="chapter-form-audio-inline" {% if not chapter.audio_url %}uk-toggle="target: .ourchive-chapter-audio-toggle"{% endif %}>
        	{% include 'file_upload.html' with object='audio_url' replace_selector='chapter-form-audio' object_type='audio' upload_placeholder='Upload chapter audio' original_value=chapter.audio_url %}
        </div>
    </div>
</div>
<div class="uk-margin ourchive-chapter-audio-toggle" id="chapter-form-audio-description-parent" {% if not chapter.audio_url %}hidden{% endif %}>
    <label id="chapter-form-audio-description-label" class="uk-form-label" for="form-horizontal-text">Audio Description</label>
    <div id="chapter-form-audio-description-controls" class="uk-form-controls">
        <div class="uk-inline" id="chapter-form-audio-description-inline">
            <textarea id="chapter-form-audio-description" class="uk-textarea uk-form-width-large" rows="2" placeholder="Audio description" name="audio_description" maxlength="600">{{ chapter.audio_description|default_if_none:'' }}</textarea>
        </div>
    </div>
</div>
{% if not settings.AudioProcessing %}
<div class="uk-margin ourchive-chapter-audio-toggle" id="chapter-form-audio-length-parent" {% if not chapter.audio_url %}hidden{% endif %}>
    <label id="chapter-form-audio-length-label" class="uk-form-label" for="form-horizontal-text">Audio Length <sup uk-icon="icon: ourchive-help;ratio:.75"></sup><div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}Your admin has disabled automatic audio file processing, but you can add your own metadata here.{% endblocktranslate %}</div></label>
    <div id="chapter-form-audio-length-controls" class="uk-form-controls">
        <div class="uk-inline" id="chapter-form-audio-length-inline">
            <input id="chapter-form-audio-length" class="uk-input uk-form-width-large" type="number" name="audio_length" value="{{ chapter.audio_length|default_if_none:0 }}">
        </div>
    </div>
</div>
{% endif %}
</div>
{% endif %}
{% if not request.user.collapse_chapter_text %}
<div class="uk-margin" id="chapter-form-text-parent">
{% else %}
<div class="uk-margin uk-width-small"><a class="uk-accordion-title uk-text-meta" href="#" uk-toggle="target: #chapter-form-text-parent">{% translate 'Text' %}</a></div>
<div class="uk-accordion-content" id="chapter-form-text-parent" hidden>
{% endif %}
    <div class="uk-form-controls" id="chapter-form-text-controls">
        <div class="uk-inline uk-child-width-expand uk-width-expand" id="chapter-form-text-inline">
        	<div class="uk-margin-bottom">
                <span class="uk-form-label" id="chapter-edit-mode-toggle-label">Rich Text? <sup class="uk-margin-small-left" uk-icon="icon: ourchive-help;ratio:.75"></sup>    
                <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}The rich text editor allows you to copy-paste directly from platforms like Google Docs, or create your own formatting in the text box. The plain text editor takes HTML tags for italics, bold, and other formatting. We recommend picking one for this chapter. Don't switch between them!{% endblocktranslate %}</div>
                </span>
                <label id="chapter-text-edit-mode-label" class="switch uk-form-width-xsmall"><input class="uk-checkbox" type="checkbox" id="chapter-text-edit-mode-toggle" onclick="return updateModeText(true)" checked>
                <span class="slider round"></span></label>
            </div>
        	<input type="hidden" id="chapter_text" name="text" value="{{ chapter.text|safe|default_if_none:'' }}">
            <textarea id="chapterTextEditor"></textarea>
            <script type="text/javascript">
                              tinymce.init({
                                selector: '#chapterTextEditor',
                                width: '100%',
								height: 450,
                                contextmenu: false,
                                convert_urls:false,
                                relative_urls:false,
								autoresize_min_height: 450,
								autoresize_max_height: 800,
                                plugins: [
                                  'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                                  'fullscreen', 'insertdatetime',
                                  'media', 'table', 'emoticons'
                                ],
                                toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                                  'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                                  'forecolor backcolor emoticons | help',
                                menubar: '',
                                setup : function(ed) {
								    ed.on('init', function(event) {
								      ed.getContainer().setAttribute('id', 'toggle-chapter-richtext-area');
								    });
								},
								paste_preprocess: function(editor, args) {
									args.content = args.content.replaceAll("<br />", "");
								},
								paste_postprocess: function(plugin, args) {
									let removeParagraphStyles = function(node) {
										// Only strip styles from paragraph tags.
										if(node.localName == "p") {
											node.setAttribute('style', {});
										}
										for(let index = 0; index < node.children.length; index++) {
											removeParagraphStyles(node.children[index]);
										}
									};
									removeParagraphStyles(args.node);
								},
                                init_instance_callback : function(editor) {
                                	var chapterText = document.getElementById('chapter_text').value;
                                    editor.setContent(chapterText);
									// This handles user preferences in local storage for whether they prefer rich text or plain text/HTML input.
									let richTextPreference = localStorage.getItem('rich-text');
									const richTextCheckbox = document.querySelector('#chapter-text-edit-mode-toggle');
									// This data is saved in local storage as a string, and we want to default to rich text mode.
									richTextCheckbox.checked = richTextPreference !== 'false';
									updateModeText();
                                }
                              });
           </script>
        </div>
        <div class="uk-width-1-1" id="chapter-form-html-text">
            <textarea id="toggle-chapter-plaintext-area" rows="25" name="text_plain" class="chapter-text-toggle uk-width-expand" hidden>{{ chapter.text|safe|default_if_none:'' }}</textarea>
        </div>
    </div>
</div>
<div class="uk-margin" id="chapter-form-end-notes-parent">
    <label class="uk-form-label" for="form-horizontal-text" id="chapter-form-end-notes-label">{% translate 'End Notes' %}</label>
    {% include 'ourchive_tinymce_template.html' with form_field_value=chapter.end_notes form_field='end_notes' obj_name='chapter' min_height=200 %}
</div>
