{% load i18n %}
<script>
	function loadMoreComments(next, chapterId) {
		fetch(next)
		  .then((response) => {
		    return response.text();
		  })
		  .then((myText) => {			 
			document.getElementById('chapter-{{chapter.id}}-comments-child-container').innerHTML = "";
			document.getElementById('chapter-{{chapter.id}}-comments-child-container').innerHTML = myText;
			document.getElementById('chapter-{{chapter.id}}-comments-child-container').scrollIntoView();
		  });
	}
</script>
{% if work.chapter_count > 1 or chapter.title %}
    <div class="uk-width-1-1 uk-margin-small-top uk-text-center uk-padding-remove-horizontal" id="chapter-header-parent">
	    <h3 id="chapter-header-h2"><a id="chapter-header-link"  href="/works/{{ id }}/{{ chapter.number|add:"-1" }}">{% if work.chapter_count > 1 %}Chapter {{ chapter.number }}{% if chapter.title %}: {% endif %}{{ chapter.title|default:'' }}{% endif %}</a></h3>
	{% if chapter.draft %}
            <div class="uk-width-auto" id="chapter-draft-div">
                <span id="chapter-draft-badge" class="uk-label uk-label-warning"><strong>DRAFT</strong></span>
            </div>
    {% endif %}
</div>
{% endif %}
{% if chapter.summary or chapter.notes or chapter.attributes %}
    <div id="chapter-context-parent" class="uk-grid-column-small uk-grid-row-small uk-child-width-1-1@s ourchive-parent-grid uk-padding-remove-horizontal" uk-grid>
        {% if chapter.notes or chapter.summary %}
            <div id="chapter-notes-and-summary-div" class="uk-margin-large-left ourchive-blockquote">
                {% if chapter.summary %}
                    <p><span id="chapter-summary-label" class="uk-text-bold">Summary</span></p>
                    <p><span id="chapter-summary-text" class="uk-text-medium">{% autoescape off %}{{ chapter.summary }}{% endautoescape %}</span></p>
                {% endif %}
                {% if chapter.notes %}
                    <p><span id="chapter-{{ chapter.id }}-notes-span" class="uk-text-bold">Notes</span></p>
                    <p><span id="chapter-{{ chapter.id }}-notes-text-span" class="uk-text-medium">{% autoescape off %}{{ chapter.notes|default_if_none:'' }}{% endautoescape %}</span></p>
                {% endif %}
            </div>
        {% endif %}
        {% if chapter.attributes %}
            {% include "object_attributes.html" with object='chapter' object_id=chapter.id attributes=chapter.attributes %}
        {% endif %}
    </div>
{% endif %}
{% if work.chapter_count > 1 %}
    <div class="uk-grid-small uk-child-width-1-2@s uk-flex-right@m uk-flex-center@s uk-text-center uk-text-right@m uk-text-center@s uk-margin-small-bottom uk-margin-medium-top" uk-grid>
    <div class="ourchive-metadata-list" id="chapter-metadata-div">
        {% if chapter.updated_on %}<span id="chapter-metadata-updated" class="uk-inline ourchive-muted">{% translate 'Updated' %} {{chapter.updated_on|date:'d M Y'}}</span> {% endif %}
        {% if chapter.word_count %}<span id="chapter-metadata-length" class="uk-inline ourchive-muted">{% blocktranslate with wc=chapter.word_count %}{{ wc }} Words{% endblocktranslate %}</span>{% endif %}
        {% if chapter.audio_length %}<span class="uk-inline ourchive-muted" id="chapter-metadata-audio-length">{% blocktranslate with al=chapter.audio_length %}Audio Length: {{ al }}{% endblocktranslate %}</span>{% endif %}
        {% if chapter.image_size %}<span class="uk-inline ourchive-muted" id="chapter-metadata-image-size">{% blocktranslate with imgs=chapter.image_size|default:0 %}Image Size: {{ imgs }}{% endblocktranslate %}</span>{% endif %}
        {% if settings.AllowComments %}<span id="chapter-metadata-comment-count" class="uk-inline ourchive-muted">{% blocktranslate with cc=chapter.comment_count %}{{ cc }} Comments{% endblocktranslate %}{% endif %}</span>
    </div>
    </div>
{% endif %}
<div id="chapter-{{ chapter.id }}-content-container" class="uk-grid-column-small uk-grid-row-small uk-child-width-1-1@s ourchive-parent-grid uk-padding-remove-horizontal" uk-grid>
<div><hr class="ourchive-hr" id="chapter-content-hr"/></div>
{% if chapter.image_url and chapter.image_url != "None" %}
    <div>
        <p id="chapter-image-graf">
            <img id="chapter-image" src="{{ chapter.image_url }}" alt="{{ chapter.image_alt_text }}"/>
        </p>
        <hr class="ourchive-hr" id="chapter-image-hr"/>
    </div>
{% endif %}
    {% if chapter.audio_url and chapter.audio_url != "None" %}<div><p id="chapter-audio-graf"><audio id="chapter-audio" src="{{ chapter.audio_url }}" controls></audio></p><hr class="ourchive-hr" id="chapter-audio-hr"/></div>{% endif %}
    {% if chapter.video_url and chapter.video_url != "None" %}<div><p id="chapter-{{chapter.id}}-video-graf"><video id="chapter-{{chapter.id}}-video" src="{{chapter.video_url}}" controls>{% translate 'Your browser does not support the HTML5 video tag.' %}</video></p><hr class="ourchive-hr" id="chapter-{{chapter.id}}video-hr"/></div>{% endif %}
{% if chapter.text %}
    <div id="chapter-text" class="uk-text-medium uk-margin-large-top">
        {% autoescape off %}{{ chapter.text }}{% endautoescape %}
    </div>
    <div id="chapter-content-divider" class="uk-margin-medium-top"><hr class="ourchive-hr"/></div>
{% endif %}
{% if chapter.end_notes %}
    <div id="chapter-{{ chapter.id }}-end-notes" class="uk-margin-large-left uk-margin-bottom ourchive-blockquote">
        <p class="uk-padding-small uk-padding-remove-vertical"><span id="chapter-{{ chapter.id }}-end-notes-span" class="uk-text-bold">Notes</span></p>
        <p class="uk-padding-small uk-padding-remove-vertical"><span id="chapter-{{ chapter.id }}-end-notes-text-span" class="uk-text-medium">{% autoescape off %}{{ chapter.end_notes }}{% endautoescape %}</span></p>
    </div>
{% endif %}
<div id="chapter-controls-parent-bottom" class="uk-align-center uk-text-center">
    <a class="ourchive-icon-wrapper" id="work-bookmark-link-bottom" href="/bookmarks/new/{{ id }}?title={{ work.title }}"><span id="work-bookmark-span-bottom" uk-icon="icon: ourchive-bookmark;ratio: 1" title="{% translate 'Bookmark' %}"></span> </a>
    <a class="ourchive-icon-wrapper" id="work-fingerguns-link-bottom" href="/fingerguns/{{ id }}"><span id="work-fingerguns-span-bottom" uk-icon="icon: ourchive-like;ratio: 1" title="{% translate 'Fingerguns' %}"></span> </a>
    <div class="uk-inline">
        <a class="ourchive-icon-wrapper" id="work-download-drop-bottom" href="#"><span uk-icon="icon: ourchive-download;ratio: 1" title="{% translate 'Download' %}" id="work-download-span"></span> </a>
        <div class="uk-card uk-card-body uk-card-default uk-text-left" uk-drop><ul class="uk-list uk-list-divider">
            {% if work.preferred_download_url %}<li><a href="{{ work.preferred_download_url }}">{{ work.preferred_download }} - Creator's Preferred</a></li>{% endif %}
            <li><a href="{% if work.epub_url %}{{work.epub_url}}{% else %}{% url 'export-work' work.id 'epub' %}{% endif %}">EPUB</a></li>
            <li><a href="{% if work.zip_url %}{{work.zip_url}}{% else %}{% url 'export-work' work.id 'zip' %}{% endif %}">ZIP</a></li>
        </ul></div>
    </div>
    {% if view_full %}
    <a id="jump-to-comments" href="#chapter-{{ work.last_chapter_id }}-comments-include" class="ourchive-icon-wrapper"><span uk-icon="icon: ourchive-comments;ratio: 1" title="{% translate 'Comments' %}" id="chapter-comments-span"></span></a>
    {% else %} 
    <a id="jump-to-comments" href="#chapter-{{ chapter.id }}-comments-include" class="ourchive-icon-wrapper"><span uk-icon="icon: ourchive-comments;ratio: 1" title="{% translate 'Comments' %}" id="chapter-comments-span"></span></a>
    {% endif %}
</div>
<div>
    <div class="uk-width-1-2 uk-margin-remove-left uk-margin-remove-right uk-padding-remove-horizontal">{% if previous_chapter is not None %}<a href="{{ previous_chapter }}" class="uk-button uk-button-primary">{% translate 'Previous' %}</a>{% endif %}</div>
    {% if next_chapter is not None %}<div class="uk-width-1-2 uk-text-right uk-align-right uk-margin-remove-left uk-margin-remove-right uk-padding-remove-horizontal"><a href="{{ next_chapter }}" class="uk-button uk-button-primary">{% translate 'Next' %}</a></div>{% endif %}
</div>
{% if chapter.comments %}
    <div><hr class="ourchive-hr"/></div>
    <div class="uk-width-1-1" id="chapter-{{ chapter.id }}-comments-include">{% include 'comments_parent.html' with object_name='chapter' comments=chapter.comments object=chapter edit_action_url=chapter.edit_action_url post_action_url=chapter.post_action_url comment_offset=chapter.comment_offset delete_obj='chapter-comment' load_more_base=chapter.load_more_base root_obj_id=work.id view_thread_base=chapter.view_thread_base comment_count=chapter.comment_count %}</div>
{% endif %}
</div>