{% load i18n %}
<script>
	function loadMoreComments(next, chapterId, obj_id) {
		fetch(next)
		  .then((response) => {
		    return response.text();
		  })
		  .then((myText) => {			 
			document.getElementById('chapter-{{chapter.id}}-comments-child-container').innerHTML = "";
			document.getElementById('chapter-{{chapter.id}}-comments-child-container').innerHTML = myText;
			document.getElementById('chapter-{{chapter.id}}-comments-child-container').scrollIntoView();
		  });
	}
</script>
<div class="row mb-3 mt-3" id="chapter-header-parent">
    <div class="col-12 col-md-10">
        {% if work.chapter_count > 1 or chapter.title %}
            <h4 id="chapter-header-h4"><a id="chapter-header-link" class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" href="/works/{{ id }}/{{ chapter.number|add:"-1" }}">{% if work.chapter_count > 1 %}Chapter {{ chapter.number }}{% if chapter.title %}: {% endif %}{{ chapter.title|default:'' }}{% endif %}</a></h4>
            {% if chapter.draft %}
                    <div class="row row-cols-1" id="chapter-draft-div">
                        <p><span id="chapter-draft-badge" class="badge text-bg-secondary"><strong>{% translate 'DRAFT CHAPTER' %}</strong></span></p>
                    </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-12 col-md-2">
        {% if work.chapter_count > 1 or chapter.draft and work.owner %}
            <p class="text-end">
                {% if chapter.draft %}
                    <a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="chapter-{{chapter.id}}-publish-link" href="/works/{{ work.id }}/chapters/{{ chapter.id }}/publish" title="{% translate 'Publish' %}"><i class="bi bi-megaphone"></i></a>
                {% endif %}
                <a id="chapter-edit-link" href="/works/{{ work.id }}/chapters/{{ chapter.id }}/edit?from_work={{chapter_offset}}" class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" title="{% translate 'Edit' %}"><i class="bi bi-pencil"></i></a>
                <a id="chapter-delete-link" class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" href="#" data-bs-toggle="modal" data-bs-target="#chapter-{{chapter.id}}-modal-delete" title="{% translate 'Delete' %}"><i class="bi bi-trash"></i></a>
            </p>
        {% endif %}
    </div>
</div>
{% if chapter.summary or chapter.notes or chapter.attributes %}
    {% if chapter.notes or chapter.summary %}
        <div id="chapter-notes-and-summary-div" class="row mb-3">
            {% if chapter.summary %}
                <div class="col-11 offset-1 border-start">
                    <p id="chapter-{{ chapter.id }}-summary-label" class="fw-bold">{% translate 'Summary' %}</p>
                    <p id="chapter-{{ chapter.id }}-summary-text">{% autoescape off %}{{ chapter.summary }}{% endautoescape %}</p>
                </div>
            {% endif %}
            {% if chapter.notes %}
                <div class="col-11 offset-1 border-start mt-2">
                    <p id="chapter-{{ chapter.id }}-notes-span" class="fw-bold">{% translate 'Notes' %}</p>
                    <p id="chapter-{{ chapter.id }}-notes-text-span">{% autoescape off %}{{ chapter.notes|default_if_none:'' }}{% endautoescape %}</p>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if chapter.attributes %}
        {% include "object_attributes.html" with object='chapter' object_id=chapter.id attributes=chapter.attributes %}
    {% endif %}
{% endif %}
{% if work.chapter_count > 1 %}
    <div class="row d-md-none">
        <div class="d-flex justify-content-between mt-3 col-12">
            {% if chapter.updated_on %}<span id="chapter-metadata-updated" class="fw-light">{% translate 'Updated' %} {{chapter.updated_on|date:'d M Y'}}</span> {% endif %}
            {% if chapter.word_count %}<span id="chapter-metadata-length" class="fw-light">{% blocktranslate with wc=chapter.word_count %}{{ wc }} Words{% endblocktranslate %}</span>{% endif %}
        </div>
    </div>
    <div class="row d-md-none">
        <div class="d-flex justify-content-between mt-3 col-12">
            {% if chapter.audio_length %}<span class="fw-light" id="chapter-metadata-audio-length">{% blocktranslate with al=chapter.audio_length %}Audio Length: {{ al }}{% endblocktranslate %}</span>{% endif %}
            {% if chapter.image_size %}<span class="fw-light" id="chapter-metadata-image-size">{% blocktranslate with imgs=chapter.image_size|default:0 %}Image Size: {{ imgs }}{% endblocktranslate %}</span>{% endif %}
            {% if settings.AllowComments %}<span id="chapter-metadata-comment-count" class="fw-light">{% blocktranslate with cc=chapter.comment_count %}{{ cc }} Comments{% endblocktranslate %}{% endif %}</span>
        </div>
    </div>
    <div class="row row-cols-1 d-none d-md-block" id="chapter-metadata-div">
        <div class="d-flex justify-content-between mt-3">
            {% if chapter.updated_on %}<span id="chapter-metadata-updated" class="fw-light">{% translate 'Updated' %} {{chapter.updated_on|date:'d M Y'}}</span> {% endif %}
            {% if chapter.word_count %}<span id="chapter-metadata-length" class="fw-light">{% blocktranslate with wc=chapter.word_count %}{{ wc }} Words{% endblocktranslate %}</span>{% endif %}
            {% if chapter.audio_length %}<span class="fw-light" id="chapter-metadata-audio-length">{% blocktranslate with al=chapter.audio_length %}Audio Length: {{ al }}{% endblocktranslate %}</span>{% endif %}
            {% if chapter.image_size %}<span class="fw-light" id="chapter-metadata-image-size">{% blocktranslate with imgs=chapter.image_size|default:0 %}Image Size: {{ imgs }}{% endblocktranslate %}</span>{% endif %}
            {% if settings.AllowComments %}<span id="chapter-metadata-comment-count" class="fw-light">{% blocktranslate with cc=chapter.comment_count %}{{ cc }} Comments{% endblocktranslate %}{% endif %}</span>
        </div>
    </div>
{% endif %}
<div class="row row-cols-1 mt-3"><hr class="ourchive-hr" id="chapter-content-hr"/></div>
{% if chapter.image_url and chapter.image_url != "None" %}
    <div class="row row-cols-1 mb-3">
        <p id="chapter-image-graf" class="text-center">
            <img class="img-fluid" id="chapter-image" src="{{ chapter.image_url }}" alt="{{ chapter.image_alt_text }}"/>
        </p>
        <hr class="ourchive-hr" id="chapter-image-hr"/>
    </div>
{% endif %}
{% if chapter.audio_url and chapter.audio_url != "None" %}<div class="row row-cols-1 mb-3"><p id="chapter-audio-graf"><audio id="chapter-audio" src="{{ chapter.audio_url }}" controls></audio></p><hr class="ourchive-hr" id="chapter-audio-hr"/></div>{% endif %}
{% if chapter.video_url and chapter.video_url != "None" %}<div class="row row-cols-1 mb-3"><p id="chapter-{{chapter.id}}-video-graf"><video id="chapter-{{chapter.id}}-video" src="{{chapter.video_url}}" controls>{% translate 'Your browser does not support the HTML5 video tag.' %}</video></p><hr class="ourchive-hr" id="chapter-{{chapter.id}}video-hr"/></div>{% endif %}
{% if chapter.text %}
    <div id="chapter-text" class="row row-cols-1 mb-3">
        {% autoescape off %}{{ chapter.text }}{% endautoescape %}
    </div>
    <div id="chapter-content-divider"><hr class="ourchive-hr"/></div>
{% endif %}
{% if chapter.end_notes %}
    <div id="chapter-{{ chapter.id }}-end-notes" class="row mb-3">
        <div class="col-11 offset-1 border-start">
            <p id="chapter-{{ chapter.id }}-end-notes-span" class="fw-bold">{% translate 'Notes' %}</p>
            <p id="chapter-{{ chapter.id }}-end-notes-text-span">{% autoescape off %}{{ chapter.end_notes }}{% endautoescape %}</p>
        </div>
    </div>
{% endif %}
<div id="chapter-controls-parent-bottom" class="row">
    <div class="col-1">
        <nav aria-label="{% translate 'Chapter navigation' %}">
            <ul class="pagination">
                {% if previous_chapter is not None %}<li class="page-item"><a href="{{ previous_chapter }}" class="page-link">{% translate 'Previous' %}</a></li>{% endif %}
            </ul>
        </nav>
    </div>
    <div class="col-10">
        <p class="text-center">
            <a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="work-bookmark-link-bottom" href="/bookmarks/new/{{ id }}?title={{ work.title }}" title="{% translate 'Bookmark' %}"><i class="bi bi-bookmark"></i></a>
            <a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="work-fingerguns-link-bottom" href="/fingerguns/{{ id }}" title="{% translate 'Fingerguns' %}"><i class="bi bi-hand-thumbs-up"></i></a>
            <a id="work-download-drop" title="{% translate 'Download' %}" class="link-underline link-underline-opacity-0" data-bs-toggle="collapse" data-bs-target="#download-options-ch-{{ chapter.id }}" aria-controls="download-options-ch-{{ chapter.id }}" aria-expanded="false"><i class="bi bi-download"></i></a>
            {% if view_full %}
            <a id="jump-to-comments" href="#chapter-{{ work.last_chapter_id }}-comments-include" class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" title="{% translate 'Comments' %}"><i class="bi bi-chat-left-text"></i></a>
            {% else %}
            <a id="jump-to-comments" href="#chapter-{{ chapter.id }}-comments-include" class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" title="{% translate 'Comments' %}"><i class="bi bi-chat-left-text"></i></a>
            {% endif %}
        </p>
        <div id="download-options-ch-{{ chapter.id }}" class="collapse oc-justify-center">
            <ul class="list-group w-25 justify-center">
                {% if work.preferred_download_url and work.preferred_download_url != "None" %}<li class="list-group-item"><a class="link link-underline-opacity-0" href="{{ work.preferred_download_url }}">{{ work.preferred_download }} - {% translate "Creator's Preferred" %}</a></li>{% endif %}
                <li class="list-group-item"><a href="{% if work.epub_url %}{{work.epub_url}}{% else %}{% url 'export-work' work.id 'epub' %}{% endif %}">{% translate 'EPUB' %}</a></li>
                <li class="list-group-item"><a href="{% if work.zip_url %}{{work.zip_url}}{% else %}{% url 'export-work' work.id 'zip' %}{% endif %}">{% translate 'ZIP' %}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-1">
        <nav aria-label="{% translate 'Chapter navigation' %}" class="oc-justify-end">
            <ul class="pagination justify-end">
                {% if next_chapter is not None %}<li class="page-item"><a href="{{ next_chapter }}" class="page-link">{% translate 'Next' %}</a></li>{% endif %}
            </ul>
        </nav>
    </div>
</div>
{% if chapter.comments %}
    <div><hr class="ourchive-hr"/></div>
    <div class="row row-cols-1" id="chapter-{{ chapter.id }}-comments-include">{% include 'comments_parent.html' with object_name='chapter' comments=chapter.comments object=chapter edit_action_url=chapter.edit_action_url post_action_url=chapter.post_action_url comment_offset=chapter.comment_offset delete_obj='chapter-comment' load_more_base=chapter.load_more_base root_obj_id=work.id view_thread_base=chapter.view_thread_base comment_count=chapter.comment_count %}</div>
{% endif %}
{% include "delete_modal.html" with object='chapter' parent_object_id=work.id object_id=chapter.id %}