{% if top_level %}
<ul class="uk-comment-list" id="chapter-{{chapter.id}}-comments-list">
{% endif %}
{% for comment in comments %}
{% if depth < 10 %}
{% if comment.parent_comment != null %}
<ul class="uk-comment-list" id="ch-comment-{{comment.id}}-ul">
{% endif %}
<li id="ch-comment-{{comment.id}}-li">
<hr id="ch-comment-{{comment.id}}-hr"/>
<article class="uk-comment" id="comment_container_{{comment.id}}">
    <header id="ch-comment-{{comment.id}}-header" class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        {% if comment.user is not None %}
        <div class="uk-width-auto" id="ch-comment-{{comment.id}}-icon-div">
            <img id="ch-comment-{{comment.id}}-icon" class="uk-comment-avatar" src="{{ comment.user.icon }}" width="80" height="80" alt="">
        </div>
        {% endif %}
        <div id="ch-comment-{{comment.id}}-parent-div" class="uk-width-expand">
            {% if comment.user is not None %}
            <h4 id="ch-comment-{{comment.id}}-username-h4" class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" id="ch-comment-{{comment.id}}-username-link" href="#">{{comment.user.username}}</a></h4>
            {% else %}
            <h4 id="ch-comment-{{comment.id}}-anon-h4" class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" id="ch-comment-{{comment.id}}-link" href="#">Anonymous</a></h4>
            {% endif %}
            <ul id="ch-comment-{{comment.id}}-actions-ul" class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li id="ch-comment-{{comment.id}}-reply-li"><button id="ch-comment-{{comment.id}}-reply-button" class="uk-button uk-button-text" type="button" uk-toggle="target: #comment-{{comment.id}}-reply">Reply</button></li>
                {% if comment.user.username == request.user.username %}
                <li id="ch-comment-{{comment.id}}-edit-li"><button id="ch-comment-{{comment.id}}-edit-button" class="uk-button uk-button-text" type="button" uk-toggle="target: #comment-{{comment.id}}-edit"><span id="ch-comment-{{comment.id}}-edit-span" uk-icon="icon: file-edit"></span> </button></li>
                <li id="ch-comment-{{comment.id}}-delete-li"><a id="ch-comment-{{comment.id}}-delete-link" uk-toggle="target: #chapter-comment-{{comment.id}}-modal-delete"><span id="ch-comment-{{comment.id}}-delete-span" uk-icon="icon: trash"></span> </a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="uk-comment-body" id="ch-comment-{{comment.id}}-text-parent" uk-grid>
        <div id="ch-comment-{{comment.id}}-text" class="uk-width-1-1"><span class="uk-text-medium ourchive-comment">{{comment.text|safe }}</span></div>
        {% include "comment_actions.html" with post_action=post_action_url object_name="chapter" object_id=chapter.id edit_action=edit_action_url comment_count=comment_count current_offset=current_offset %}   
    </div>    
</article>
{% include "delete_modal.html" with object='chapter-comment' root_object_id=work.id parent_object_id=chapter.id object_id=comment.id %}
{% if comment.replies %}
    {% include "chapter_comments.html" with comments=comment.replies chapter=chapter post_action=post_action_url object_name="chapter" object_id=chapter.id edit_action_url=edit_action_url next_params=comment.replies.next_params prev_params=comment.replies.prev_params comment_count=comment_count current_offset=current_offset depth=depth|add:1 %}
{% endif %}
</li>  
{% if comment.parent_comment != null %}
</ul>
{% endif %}
{% endif %}
{% if depth >= 10 %}
<a href="/works/{{work.id}}/?expandComments=true&scrollCommentId={{comment.id}}&offset={{chapter_offset}}&comment_thread={{comment.id}}&comment_count={{comment_count}}">View Thread...</a>
{% endif %}
{% endfor %}
{% if comment.parent_comment == null %}
<div id="chapter-{{chapter.id}}-pagination" class="uk-width-1-1 uk-margin-top">
    <ul class="uk-pagination">
        {% if prev_params %}<li><a onclick="loadMoreComments('/works/{{work.id}}/chapters/{{chapter.id}}/comments{{prev_params}}&chapter_offset={{chapter_offset}}&depth={{depth}}', '{{chapter.id}}')"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous Comments</a></li>{% endif %}
        {% if next_params %}<li class="uk-margin-auto-left"><a onclick="loadMoreComments('/works/{{work.id}}/chapters/{{chapter.id}}/comments{{next_params}}&chapter_offset={{chapter_offset}}&depth={{depth}}', '{{chapter.id}}')">Next Comments <span class="uk-margin-small-left" uk-pagination-next></span></a></li>{% endif %}
    </ul>  
</div>  
{% endif %}
{% if top_level %}
</ul>
{% endif %}

