{% for comment in comments %}
{% if comment.parent_comment != null %}
<ul>
{% endif %}
<li>
<hr/>
<article class="uk-comment" id="comment_container_{{comment.id}}">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        {% if comment.user is not None %}
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="{{ comment.user.userprofile.icon }}" width="80" height="80" alt="">
        </div>
        {% endif %}
        <div class="uk-width-expand">
            {% if comment.user is not None %}
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{comment.user.username}}</a></h4>
            {% else %}
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Anonymous</a></h4>
            {% endif %}
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><button class="uk-button uk-button-text" type="button" uk-toggle="target: #comment-{{comment.id}}-reply">Reply</button></li>
                {% if comment.user.username == request.user.username %}
                <li><button class="uk-button uk-button-text" type="button" uk-toggle="target: #comment-{{comment.id}}-edit"><span uk-icon="icon: file-edit"></span> </button></li>
                <li><a href="/works/{{work.id}}/chapters/{{chapter.id}}/comments/{{ comment.id }}/delete"><span uk-icon="icon: trash"></span> </a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="uk-comment-body" uk-grid>
        <div class="uk-width-1-1"><p>{{comment.text|safe }}</div>
        {% include "comment_actions.html" with post_action=post_action_url object_name="chapter" object_id=chapter.id edit_action=edit_action_url %}   
    </div>    
</article>
{% if comment.replies %}
    {% include "chapter_comments.html" with comments=comment.replies chapter=chapter post_action=post_action_url object_name="chapter" object_id=chapter.id edit_action_url=edit_action_url next=comment.replies.next %}
{% endif %}
</li>  
{% if comment.parent_comment != null %}
</ul>
{% endif %}
{% endfor %}
{% if comment.parent_comment == null %}
<ul>
<div class="uk-child-width-1@m uk-child-width-1@s uk-text-center" uk-grid id="comment_{{comment.id}}_loadMoreComments">
    <div>
        <ul class="uk-pagination">
            {% if next_params %}
                <li><a onclick="loadMoreComments('{{root}}/works/{{work.id}}/chapters/{{chapter.id}}/comments{{next_params}}&chapter_offset={{chapter_offset}}', '{{chapter.id}}')"><button class="uk-button uk-button-text" type="button" uk-toggle="target: #comment_{{comment.id}}_loadMoreComments">Load More Comments</button></a></li>
            {% endif %}
        </ul>
    </div>        
</div>
</ul>
{% endif %}

