{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}
<script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
<script src="{% static 'frontend/js/ourchive-chapter.js' %}"></script>
    <div class="row row-cols-1 mb-3" id="chapter-form-parent-header">
        <div id="chapter-form-title-parent">
            {% if chapter.work %}
                <h1 id="chapter-form-title-span"><a id="chapter-form-title-link" class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" href="/works/{{chapter.work}}">{{ form_title }}</a></h1>
            {% else %}
                <h1 id="chapter-form-title-span">{{ form_title }}</h1>
            {% endif %}
        </div>
    </div>
    <div class="row row-cols-1">
        <form method="post" id="chapterForm" onsubmit="return getChapterRichTextValues()">
            <input type="hidden" id="work" name="work" value="{{ chapter.work }}">
            <input type="hidden" id="work" name="chapter_id" value="{{ chapter.id }}">
            {% include 'chapter_form_body.html' %}
            <div class="mb-3" id="chapter-form-bottom-buttons-group">
                <input id="chapter-form-submit-button-bottom" class="btn btn-primary float-end m-2" type="submit" value="Submit"/>
                <input id="chapter-form-cancel-button-bottom" class="btn btn-secondary float-end m-2" type="button" onclick="history.back()" value="Cancel"/>
            </div>
        </form>
    </div>
{% endblock %}
