{% load i18n %}
<div class="modal-dialog" id="collection-add-bookmark-modal-body">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="collection-add-bookmark-modal-header">{% translate 'Add Work(s)' %}</h2>
        </div>
        <div class="modal-body">
            <p>{% blocktranslate %}Add from your most recent bookmarks.{% endblocktranslate %}</p>
            <div class="row row-cols-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{% translate 'Bookmark' %}</th>
                            <th scope="col">{% translate 'Work' %}</th>
                            <th scope="col">{% translate 'Add to Collection' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bookmark in bookmarks.response_data.results %}
                            <tr id="bookmark-{{ bookmark.work.id }}-parent">
                                <td id="bookmark-{{ bookmark.work.id }}-bookmark">{{ bookmark.title|default:bookmark.work.title }}</td>
                                <td id="bookmark-{{ bookmark.work.id }}-work">{{ bookmark.work.title }}</td>
                                <td id="bookmark-{{ bookmark.work.id }}-checkbox"><input type="checkbox" name="{{bookmark.work.id}}" id="add-to-collection-checkbox-{{ bookmark.work.id }}" class="form-check-input"/></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if bookmarks.response_data.previous is not None or bookmarks.response_data.next is not None %}
            <div class="row row-cols-1" id="bookmarks-pagination-parent">
                <ul class="pagination justify-content-center" id="bookmarks-pagination-uk-ul">
                    <li id="bookmarks-pagination-prev-li" class="page-item {% if bookmarks.response_data.previous is None %}disabled{% endif %}"><a id="bookmarks-pagination-prev-link" href="#" class="page-link" onclick="getWorks('{{bookmarks.response_data.prev_params}}')">{% translate 'Previous' %}</a></li>
                    <li id="bookmarks-pagination-next-li" class="page-item {% if bookmarks.response_data.next is None %}disabled{% endif %}"><a href="#" onclick="getWorks('{{bookmarks.response_data.next_params}}')" id="bookmarks-pagination-next-link" class="page-link">{% translate 'Next' %}</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <a id="add-to-collection-modal-cancel" class="btn btn-secondary" data-bs-dismiss="modal">{% translate 'Cancel' %}</a>
            <a id="add-to-collection-modal-add" class="btn btn-primary" data-bs-dismiss="modal" onclick="addSelectedWorks()" href="#">{% translate 'Add to Collection' %}</a>
        </div>
    </div>
</div>