{% load i18n %}
<div id="comment-{{comment.id}}-reply" class="collapse">
    <form id="reply-{{comment.id}}-form" action="{{ post_action }}" method="post">
        {% csrf_token %}
        <div class="mb-3" id="reply-{{comment.id}}-parent-div">
            <input type="hidden" id="parent_comment" name="parent_comment" value="{{ comment.id }}">
            <input type="hidden" id="parent_comment_next" name="parent_comment_next" value="{{current_offset}}"/>
            <input type="hidden" id="{{ object_name }}" name="{{ object_name }}" value="{{ object_id }}">
            <input type="hidden" id="{{ object_name }}_comment_count" name="{{ object_name }}_comment_count" value="{{ comment_count }}">
            <label id="reply-{{comment.id}}-label" class="form-label" for="reply-{{comment.id}}-parent-controls">{% translate 'Reply' %}</label>
            <textarea class="form-control" rows="5" name="text" required="required" id="reply-{{comment.id}}-parent-controls"></textarea>
        </div>
        {% if captcha_site_key and not request.user.is_authenticated %}
        <div class="mb-3">
            <div class="h-captcha" data-sitekey="{{captcha_site_key}}"></div>
            <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        </div>
        {% endif %}
        <div class="mb-3">
            <input id="post-comment-input" class="btn btn-primary text-end" type="submit" value="{% translate 'Post Comment' %}"/>
        </div>
    </form>
</div>
<div class="collapse" id="comment-{{comment.id}}-edit">
    <form method="post" id="commentEditForm" action="{{ edit_action }}">
        {% csrf_token %}
        <div class="mb-3" id="edit-comment-parent-div">
            <input type="hidden" id="comment_id" name="id" value="{{ comment.id }}">
            <input type="hidden" id="parent_comment_val" name="parent_comment_val" value="{{ comment.parent_comment}}">
            <input type="hidden" id="parent_comment_next" name="parent_comment_next" value="{{current_offset}}"/>
            <input type="hidden" id="{{ object_name }}" name="{{ object_name }}" value="{{ object_id }}">
            <input type="hidden" id="{{ object_name }}_comment_count" name="{{ object_name }}_comment_count" value="{{ comment_count }}">
            <label id="edit-comment-label" class="form-label" for="edit-comment-{{comment.id}}-form-controls">{% translate 'Edit' %}</label>
            <textarea id="edit-comment-{{comment.id}}-form-controls" class="form-control" rows="5" placeholder="Text" name="text" required="required">{{ comment.text|default_if_none:'' }}</textarea>
        </div>
        <div class="mb-3" id="edit-comment-submit-parent">
            <input id="edit-comment-submit" class="btn btn-primary text-end" type="submit" value="{% translate 'Edit Comment' %}"/>
        </div>
    </form>    
</div>