{% extends 'index.html' %}
{% load i18n %}
{% block content %}
<div class="row row-cols-1" id="account-form-parent">
    <h1>{% translate 'Delete Account' %}</h1>
    <form method="post" id="delete-account-form" action="/users/{{user.username}}/delete">
		{% csrf_token %}
        <div class="mb-3">
            <p>{% translate 'Are you sure you want to delete your account? This action is irrevocable and will remove all data associated with your account, including works, comments, and bookmarks.' %}</p>
        </div>
        <div class="mb-3" id="delete-account-password-confirm-parent">
	    	<label id="delete-account-confirm-password-label" class="form-label" for="delete-account-confirm-password-input">{% translate 'Confirm Password' %}</label>
	        <div id="delete-account-confirm-password-form-controls" class="input-group">
                <span id="delete-account-confirm-password-span" class="input-group-text"><i class="bi bi-lock"></i></span>
                <input id="delete-account-confirm-password-input" class="form-control" type="password" name="password">
		    </div>
	    </div>
    	<input id="delete-account-cancel-button" class="btn btn-primary" onclick="history.back()" value="{% translate 'Cancel' %}" />
    	<button id="delete-account-prevent-default-action-button" type="submit" disabled style="display: none" aria-hidden="true"></button>
        <input id="delete-account-submit-button" class="btn btn-danger" type="submit" value="{% translate 'Delete Account' %}"/>
	</form>
</div>
{% endblock %}