{% load i18n %}
{% if tags %}
<div class="uk-background-muted">
	{% for tag in tags %}
		<div id="populate-edit-tag-href-{{tag.tag}}" class="uk-background-default uk-padding-small" onclick="populateTagInput('{{tag.display_text_clean}}', '{{tag.type_name}}', '{{fetch_all}}')"><span class="ourchive-autocomplete uk-text-small uk-link uk-text-bold" id="edit-tag-autocorrect-span-{{tag.tag}}">{{tag.display_text}}</span></div>
	{% endfor %}
</div>
{% else %}
<div class="uk-background-muted uk-padding-small" id="search-tag-autocomplete-parent">
	<p>{% translate 'No tags found.' %}</p>
</div>
{% endif %}