{% load i18n %} 
{% if show_header != False %}<h3 id="obj-tags-form-header">{{ object_friendly|default_if_none:'' }} Tags <sup uk-icon="icon: question"></sup></h3>{% endif %}
{% for type, tag_data in tags.items %}
    {% if tag_data.admin_administrated %}
        <div class="uk-margin" id="{{ object }}-form-tag-parent">
            <label id="{{ object }}-form-tag-type-label" class="uk-form-label" for="form-horizontal-text">{{ type }} <sup class="uk-margin-small-left">(admin)</sup>    
                <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}This tag type is administrated by your site admin(s). This means that you can select an existing {{ type }}, but cannot create a new one.{% endblocktranslate %}</div>
            </label>
            <div id="{{ object }}-form-tag-controls" class="uk-form-controls">                
                <div id="{{ object }}-form-tag-inline" class="uk-inline">
                    <div id="{{ tag_data.type_name }}_tags">
                    {% if tag_data.tags %}
                        {% for single_tag in tag_data.tags %}
                            <input type="hidden" id="tags_{{ single_tag.text }}_{{ tag_data.type_name }}" name="tags_{{ single_tag.text }}_{{ tag_data.type_name }}" value="tags_{{ single_tag.text }}_{{ tag_data.type_name }}">
                            <span class="uk-button-primary uk-border-rounded  ourchive-tag-list uk-text-bold" id="tags_{{ single_tag.text }}_{{ tag_data.type_name }}_txt">{{ single_tag.display_text }} <span uk-icon="close" onclick="removetag('{{single_tag.text}}', '{{ tag_data.type_name }}')" id="tags_{{ single_tag.text }}_{{ tag_data.type_name }}_delete"></span></span>
                        {% endfor %}
                        {% else %}
                        <span class="uk-text-medium" id="no-tag-prompt-{{ tag_data.type_name }}">No tags yet. Add some below.</span>
                        {% endif %}
                    </div>
                </div>
                <div class="uk-margin-top ourchive-tag-entry-{{ tag_data.type_name }}">
                    <input autocomplete="off" class="uk-input uk-form-width-small uk-form-small ourchive-tag-entry" type="text" placeholder="Search for tags..." id="{{ tag_data.type_name }}_new_tag" oninput="doAdminAutocomplete(this.value, 'edit', '{{ tag_data.type_name }}', '{{ tag_data.type_name }}')">
                    <div id="tag-autocomplete-dropdown-{{ tag_data.type_name }}" uk-drop="boundary: !.ourchive-tag-entry-{{ tag_data.type_name }}"></div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="uk-margin" id="{{ object }}-form-tag-parent">
            <label id="{{ object }}-form-tag-type-label" class="uk-form-label" for="form-horizontal-text">{{ type }}</label>
            <div id="{{ object }}-form-tag-controls" class="uk-form-controls">                
                <div id="{{ object }}-form-tag-inline" class="uk-inline">
                    <div id="{{ tag_data.type_name }}_tags">
                    {% if tag_data.tags %}
                        {% for single_tag in tag_data.tags %}
                            <input type="hidden" id="tags_{{ single_tag.text }}_{{ tag_data.type_name }}" name="tags_{{ single_tag.text }}_{{ tag_data.type_name }}" value="tags_{{ single_tag.text }}_{{ tag_data.type_name }}">
                            <span class="uk-button-primary uk-border-rounded  ourchive-tag-list uk-text-bold uk-margin-small-right" id="tags_{{ single_tag.text }}_{{ tag_data.type_name }}_txt">{{ single_tag.display_text }} <span uk-icon="close" onclick="removetag('{{single_tag.text}}', '{{ tag_data.type_name }}')" id="tags_{{ single_tag.text }}_{{ tag_data.type_name }}_delete"></span></span>
                        {% endfor %}
                        {% else %}
                        <span class="uk-text-medium" id="no-tag-prompt-{{ tag_data.type_name }}">No tags yet. Add some below.</span>
                        {% endif %}
                    </div>
                </div>
                <div class="uk-margin-top">
                    <div><input autocomplete="off" pattern="^[a-zA-Z0-9]+$" class="uk-input uk-form-width-small uk-form-small ourchive-tag-entry" type="text" placeholder="New tag..." id="{{ tag_data.type_name }}_new_tag" onkeyup="tagCheck(event, '{{ tag_data.type_name }}')" oninput="doAutocomplete(this.value, 'edit', '{{ tag_data.type_name }}', '{{ tag_data.type_name }}')"> <span uk-icon="plus" onclick="tagCheck(event, '{{ tag_data.type_name }}', true)"></span>
                        <div class="uk-card-small" id="tag-autocomplete-dropdown-{{ tag_data.type_name }}" uk-drop="target: #{{ tag_data.type_name }}_new_tag"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}