<dt><span class="uk-text-bold">{{ facet.label }}</span></dt>
<dd>					    	
	<div class="uk-child-width-1 uk-grid uk-grid-small uk-margin" id="{{include}}-facet-parent">
		{% for value in facet.values %} 
			{% if not value.type and not value.filter_val %}
			<label id="{{include}}-facet-child-label-{{value.label}}"><input id="{{include}}-facet-child-val" class="uk-checkbox" type="checkbox" name="{{include}}_{{ facet.label }},{{ value.label }}{% if facet.object_type %},{{facet.object_type}}{% endif %}" {% if value.label in keys %}checked{%endif%} {% if value.checked and include == 'include' %}checked{%endif%}> {{ value.label }}</label>
			{% elif not value.type and value.filter_val %}
			<label id="{{include}}-facet-child-label-{{value.label}}"><input id="{{include}}-facet-child-val" class="uk-checkbox" type="checkbox" name="{{include}}_{{ facet.label }},{{ value.filter_val }}{% if facet.object_type %},{{facet.object_type}}{% endif %}" {% if value.label in keys %}checked{%endif%} {% if value.checked and include == 'include' %}checked{%endif%}> {{ value.label }}</label>
			{% else %}
			<span class="uk-text-medium">{{value.label}}</span> <span><input id="{{include}}-facet-child-val" class="uk-input uk-width-small" type="text" name="{{include}}_{{ facet.label }},{{ value.filter_val }}{% if facet.object_type %},{{facet.object_type}},input{% endif %}" {% if include == 'include' %}value="{{value.include_value}}"{% else %}value="{{value.exclude_value}}"{% endif %}></label></span>
			{% endif %}
	    {% endfor %}
	</div>
</dd>	