{% load i18n %}
<div class="mb-3">
    <p class="fw-bold fs-5">{{ facet.label }}</p>
	{% if facet.object_type == 'tag' %}
	<div class="mb-3">
		<label class="form-label fw-bold" for="include_{{facet.label}},{{ facet.object_type }}">{% translate 'Include' %}</label>
		<select data-testid="include-multiselect" multiple name="include_{{facet.label}},{{ facet.object_type }}[]" id="include_{{facet.label}},{{ facet.object_type }}" class="form-select">
			{% for value in facet.values %} 
            <option id="{{ facet.label }},{{ value.label }},include" name="include_{{ facet.label }},{{ value.label }},{{facet.object_type}}" value="{{value.label}}" {% if value.checked %}selected{% endif %}>{{value.label}}</option>
           {% endfor %}
        </select>
        <label class="form-label fw-bold mt-2" for="exclude_{{facet.label}},{{ facet.object_type }}">{% translate 'Exclude' %}</label>
        <select class="form-select" multiple name="exclude_{{facet.label}},{{ facet.object_type }}" id="exclude_{{facet.label}},{{ facet.object_type }}">
			{% for value in facet.values %} 
            <option id="{{ facet.label }},{{ value.label }},exclude{% if mobile %},mobile{% endif %}" name="exclude_{{ facet.label }},{{ value.label }},{{facet.object_type}}" value="{{value.label}}" {% if value.inverse_checked %}selected{% endif %}>{{value.label}}</option>
           {% endfor %}
        </select>
        <script>
            initializeMultiSelect('include_{{facet.label}},{{ facet.object_type }}');
            initializeMultiSelect('exclude_{{facet.label}},{{ facet.object_type }}');
        </script>
    </div>
    {% else %}
	<div class="mb-3" id="{{include}}-facet-parent">
		{% for value in facet.values %} 
			{% if facet.object_type == 'attribute' %}
            <div class="form-check mb-2">
                <input id="{{ facet.label }},{{ value.label }}" class="form-check-input" type="checkbox" name="{{include}}_{{ facet.label }},{{ value.label }}{% if facet.object_type %},{{facet.object_type}}{% endif %}" {% if value.checked %}checked{%endif%} onchange="handleFacetCheckUncheck(event)">
                <label id="{{include}}-facet-child-label-{{value.label}}" class="form-check-label" for="{{ facet.label }},{{ value.label }}">{{ value.label }}</label>
            </div>
			{% elif facet.display_type == 'checkbox' %}
            <div class="form-check mb-2">
                <input id="{{ facet.label }},{{ value.label }}" class="form-check-input" type="checkbox" name="{{include}}_{{ facet.label }},{{ value.filter_val }}{% if facet.object_type %},{{facet.object_type}}{% endif %}" {% if value.checked %}checked{%endif%} onchange="handleFacetCheckUncheck(event)">
			    <label class="form-check-label" for="{{ facet.label }},{{ value.label }}" id="{{include}}-facet-child-label-{{value.label}}" data-testid="{{include}}-facet-child-label-{{value.label}}">{{ value.label }}</label>
            </div>
            {% else %}
            <div class="mb-2">
                <label class="form-label" for="{{ facet.label }},{{ value.label}}">{{value.label}}</label>
                <input id="{{ facet.label }},{{ value.label }}" class="form-control" {% if 'Count' in facet.label %}type="number" {% else %}type="text"{% endif %} name="{{include}}_{{ facet.label }},{{ value.filter_val }}{% if facet.object_type %},{{facet.object_type}},input{% endif %}" value="{{value.value}}" onblur="handleFacetInput(event)">
            </div>
			{% endif %}
	    {% endfor %}    
	</div>
	{% endif %}
</div>