<div id="{{ object }}-upload-parent" class="js-upload-img uk-placeholder uk-text-center">
    <span id="{{ object }}-upload-icon" uk-icon="icon: cloud-upload"></span>
    <div id="{{ object }}-upload-form" uk-form-custom="target: true">
        <input type="file" id="{{ object }}-file-input">
        <input id="{{ object }}-file-uk-input" class="uk-input uk-form-width-medium" type="text" placeholder="Upload new icon" name="icon">
    </div>
    <progress id="{{ object }}-progressbar-img" class="uk-progress" value="0" max="100" hidden></progress>
    <script>
	    var bar = document.getElementById('{{ object }}-progressbar-img');
	    UIkit.upload('.js-upload-img', {
	        url: '{% url 'api-file-upload' %}',
	        multiple: false,
	        beforeSend: function () {
	            function getCookie(name) {
	                var cookieValue = null;
	                if (document.cookie && document.cookie !== '') {
	                    var cookies = document.cookie.split(';');
	                    cookies.forEach(function (value) { 
	                        var cookie = value.trim();
	                        // Does this cookie string begin with the name we want?
	                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                            return;
	                        }
	                    });
	                }
	                return cookieValue;
	            }
	            var csrftoken = getCookie('csrftoken');
	            arguments[0]['headers']['X-CSRFToken'] = csrftoken;
	            //console.log('beforeSend', arguments);
	        },
	        beforeAll: function () {
	            //console.log('beforeAll', arguments);
	        },
	        load: function () {
	            //console.log('load', arguments);
	        },
	        error: function () {
	            //console.log('error', arguments);
	        },
	        complete: function () {
	            //console.log('complete', arguments);
	        },
	        loadStart: function (e) {
	            //console.log('loadStart', arguments);
	            bar.removeAttribute('hidden');
	            bar.max = e.total;
	            bar.value = e.loaded;
	        },

	        progress: function (e) {
	            //console.log('progress', arguments);
	            bar.max = e.total;
	            bar.value = e.loaded;
	        },

	        loadEnd: function (e) {
	            //console.log('loadEnd', arguments);
	            bar.max = e.total;
	            bar.value = e.loaded;
	        },

	        completeAll: function () {
	            //console.log('completeAll', arguments);
	            setTimeout(function () {
	                bar.setAttribute('hidden', 'hidden');
	            }, 1000);
	            var result = JSON.parse(arguments[0]['response'])['final_url'];
	            document.getElementById('{{ object }}-file-uk-input').value = result;
	            var replace_selector = '{{ replace_selector }}';
	            {% if object_type == 'img' %}
	            document.getElementById(replace_selector).src = result;
	            {% endif %}
	        }
	    });
	</script>
</div>