{% load i18n %}
<div id="{{ object }}-upload-parent" class="js-upload-{{ object_type }}">
    <div id="{{ object }}-upload-form" class="mb-3 input-group">
        <input type="file" id="{{ object }}-file-input" class="form-control">
        <span class="input-group-text" title="{% translate 'Delete file. Will save delete on submit.' %}" onclick="removeFile('{{object}}', '{{ replace_selector }}', '{{ object_type }}')"><i class="bi bi-trash"></i></span>
        <input id="{{ object }}-file-uk-input" type="hidden" placeholder="{{ upload_placeholder }}" name="{{ object }}-upload">
        <input id="{{ object }}-file-uk-input-original" type="hidden" value="{{ original_value }}" name="{{ object }}" placeholder="">
        <button type="button" id="{{ object }}-file-cancel" class="btn btn-secondary d-none">Cancel upload</button>
    </div>
    <div class="progress" role="progressbar" aria-label="{{ object }} upload" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="{{ object }}-progressbar-{{ object_type }}-parent">
      <div class="progress-bar" style="width: 0%" id="{{ object }}-progressbar-{{ object_type }}">{% translate 'No upload in progress.' %}</div>
    </div>
    <div class="toast-container bottom-50 start-50 translate-middle-x">
      <div id="uploadFailedToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Upload Failed</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {% translate 'An error occurred uploading your file. If this continues, please contact your administrator.' %}
        </div>
      </div>
    </div>
    <script>
        document.getElementById('{{ object }}-file-input').addEventListener('change', (event) => ourchiveUpload(event, '{{ object }}', '{{ object_type }}', '{% url 'api-file-upload' %}', '{{ replace_selector }}'));
	</script>
</div>