<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	{% load i18n %}
	{% load cache %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if css_mode %}
    <link rel="stylesheet" id="theme-link" href="{% static 'frontend/css/' %}ourchive-{{css_mode}}.css" />
    {% else %}
    <link rel="stylesheet" id="theme-link" href="{% static 'frontend/css/' %}ourchive-light.css" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'frontend/css/editor.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.svg' %}"/>
    <script src="{% static 'frontend/js/uikit.min.js' %}"></script>
    <script src="{% static 'frontend/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'frontend/js/ourchive-tags.js' %}"></script>
    <script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
    <script src="{% static 'frontend/js/ourchive-tinymce.js' %}"></script>
    <script src="{% static 'frontend/js/ourchive-core.js' %}"></script>
    <title>{% block title %}Ourchive{% endblock %}</title>
</head>
<body>
	<script>
		function switchTheme() {
			fetch('{% url 'switch-css-mode' %}').then((response) => {
				localStorage.setItem("fe-theme", '{{css_mode}}' == 'dark' ? 'light' : 'dark');
				window.location.reload();
			});
		}
		function dismissAnnouncement(announcement_id) {
			var name = "dismiss_announcement_" + announcement_id;
			var expires = "";
		    var date = new Date();
		    date.setTime(date.getTime() + (8*24*60*60*1000));
		    expires = "; expires=" + date.toUTCString();
		    document.cookie = name + "=" + "dismissed" + expires + "; path=/";
		}
	</script>
	{% if 'accept-cookies' not in request.COOKIES and not request.user.cookies_accepted %}
		<script>
			UIkit.notification({
			    message: 'Ourchive uses necessary cookies to allow you to log in and submit data. We do not collect or distribute any tracking information. By continuing to browse the site you are agreeing to allow cookies to be stored and used.',
			    status: 'danger',
			    pos: 'top-center',
			    timeout: 10000
			});
			fetch('{{request.build_absolute_uri|slice:":-1"}}{% url 'accept-cookies' %}')
			  .then((response) => {
			  	var date = new Date();
			  	date.setTime(date.getTime() + 86400*1000*7);
			    const expires = date.toUTCString();
				document.cookie =  'accept-cookies=true' + '; expires=' + expires + '; path=/'
			  });
		</script>
	{% endif %}
	{% if messages %}
		{% for message in messages %}
			<script>
				var status = '{{message.tags}}' === 'success' ? 'primary' : 'danger';
				UIkit.notification({
				    message: '<div id="{{message.extra_tags}}"><strong>{{ message }}</strong></div>',
				    status: status,
				    pos: 'top-center',
				    timeout: 8000
				});
			</script>
		{% endfor %}
	
	{% endif %}
	{% if admin_announcements %}
	<div class="uk-width-expand uk-container uk-margin-remove uk-padding-remove" id="admin-messages-parent">	
		<div id="content-block-parent-grid" class="uk-flex uk-flex-middle uk-flex-center uk-display-block">
			{% for announcement in admin_announcements %}
			<div class="uk-text-center uk-padding-small uk-width-expand" id="admin-announcement-{{announcement.id}}">
			    <span class="uk-text-bold">{{ announcement.content|safe }}</span>
			   	<span title="Dismiss" uk-toggle="target: #admin-announcement-{{announcement.id}}" onclick="dismissAnnouncement('{{announcement.id}}')" class="uk-link ourchive-span-link uk-align-right uk-text-middle" uk-icon="icon: ourchive-close;ratio:.75;" id="dismiss-announcement"></span>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% include 'index_navbar.html' %}
	{% include 'index_sidenav.html' %}
	<button id="scroll-to-top-button" class="uk-button uk-button-primary scroll-to-top" style="display: none;" onclick="topFunction()" uk-scroll><span uk-icon="icon:ourchive-up;ratio:.75"></span></button>
	<div class="uk-width-expand uk-container uk-margin content-block-parent ourchive-content-block-parent" id="content-block-parent">	
		<div uk-grid id="parent-grid" id="content-block-parent-grid" uk-height-viewport="expand: true" class="uk-grid uk-margin-remove ourchive-top-level-grid">
		{% block content %}
		{% include 'index_body.html' %}
		{% endblock %}
	</div>
	</div>
	<hr id="footer-hr" class="ourchive-hr">
	<div id="footer-parent-grid" class="uk-grid uk-padding-small uk-margin-bottom uk-margin-left uk-margin-right" uk-grid>
	    <div id="footer-child-grid" class="uk-width-1-2@m uk-width-1-1@s uk-padding-remove-horizontal">
	        <span id="footer-created-by" class="uk-text-meta"><a href="https://getourchive.io/">Ourchive</a> is created & maintained by <a href="https://federatedfandom.net/@kate" target="_blank">kate</a>, <a href="https://github.com/ladyofthelog">verity</a>, and <a href="https://federatedfandom.net/@imp" target="_blank">imp</a>.</span>
	    </div>
	    <div id="footer-child-grid" class="uk-width-1-2@m uk-width-1-1@s uk-text-right">
	        {% for page in content_pages %}
	        <a href="/content-pages/{{page.id}}" class="uk-link uk-padding-small">{{page.name}}</a>
	        {% endfor %}
	    </div>
	</div>
		
	<script src="{% static 'frontend/js/scroll-to-top.js' %}"></script>
</body>
</html>