{%  load i18n %}
{%  load static %}
<script>
    function saveSearch() {
        console.log(document.getElementById("search-name"));
        let search_form = document.forms["search_filter_form"];
		search_form.action = "/savedsearch/filter?save_new=True";
        document.forms["search_filter_form"].submit();
	}

    function updateSearchName(value) {
        document.getElementById("search-name").value  = value;
    }
</script>
<form class="uk-form-stacked" id="index-search-filter-form" name="search_filter_form" action="/savedsearch/filter" method="post">
    {% csrf_token %}
    <input type="hidden" id="search_id" name="search_id" value="{{ search.id }}"/>
    <input type="hidden" id="search-name" name="search-name" value="{{ search.name }}"/>
    {% if idx_saved_searches %}
    <div class="uk-margin">
        <label for="search-saved-searches" class="uk-text-bold uk-form-label">{% translate 'Saved Searches' %}</label>
        <div id="search-searches-parent" class="uk-form-controls">
            <select id="search-saved-searches" class="uk-select" onchange="fetchSavedSearch(this, '{{ dropdown_selector }}')">
                <option value="0"> </option>
                {% for idx_search in idx_saved_searches %}
                    <option value="{{idx_search.id}}" {% if idx_search.id == search.id %}selected{% endif %}>{{idx_search.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <div class="uk-margin">
        <label for="search-text" class="uk-text-bold uk-form-label">{% translate 'Search Term' %}</label>
        <div id="search-text-parent" class="uk-form-controls">
            <input id="filter-search-text" name="term" class="uk-input" value="{{ search.term }}" oninput="updateIndexSearchText(this.value, true)"/>
        </div>
    </div>
    <div class="uk-margin">
        <label for="saved-search-{{ search.id }}-languages" class="uk-text-bold uk-form-label">{% translate 'Language' %}</label>
        <div id="saved-search-{{ search.id }}-languages" class="uk-form-controls">
            <div class="multi-select-component" id="languages-wrapper">
                <select multiple  name="languages[]" id="saved-search-languages" hidden>
                {% if search.languages %}
                    {% for language in search.languages %}
                        <option value="{{language.display_name}}" {% if language.selected%} selected {% endif %}>{{language.display_name}}</option>
                    {% endfor %}
                {% else %}
                    {% for language in idx_languages %}
                        <option value="{{language.display_name}}" {% if language.selected%} selected {% endif %}>{{language.display_name}}</option>
                    {% endfor %}
                {% endif %}
                </select>
                {% if search.languages %}
                    {% for language in search.languages %}
                        {% if language.selected %}
                        <div class="selected-wrapper" id="language-wrapper-{{ language.display_name }}"><span class="selected-label">{{language.display_name}}</span><a class="selected-close" tabindex="-1" data-option="{{language.display_name}}" data-hits="0" uk-icon="icon: ourchive-close" onclick="removeElement('language', '{{ language.display_name }}')"></a></div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for language in idx_languages %}
                        {% if language.selected %}
                        <div class="selected-wrapper" id="language-wrapper-{{ language.display_name }}"><span class="selected-label">{{language.display_name}}</span><a class="selected-close" tabindex="-1" data-option="{{language.display_name}}" data-hits="0" uk-icon="icon: ourchive-close" onclick="removeElement('language', '{{ language.display_name }}')"></a></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="uk-width-expand language-search-wrapper">
                    <input id="language-search" class="uk-form-blank" autocomplete="off" tabindex="0" placeholder="{% translate 'Search for languages...' %}" oninput="doLanguageAutocomplete(this.value, 'search', '', 'populateSavedSearchLanguage(this)')">
                </div>
                <a uk-icon="icon: chevron-down" class="uk-icon uk-margin-remove uk-flex-right"></a>
            </div>
            <div id="language-autocomplete-dropdown" uk-drop="toggle: #language-search; delay-hide: 1500; offset: -8"></div>
        </div>
    </div>

    <div class="uk-margin">
        <label for="saved-search-{{ search.id }}-status" class="uk-text-bold uk-form-label">{% translate 'Status' %}</label>
        <div id="saved-search-{{ search.id }}-status" class="uk-form-controls">
            <label><input class="uk-radio" type="radio" name="complete" value="0" {% if '0' in search.work_statuses and '1' not in search.work_statuses %}checked{% endif %}> {% translate 'Incomplete' %}</label><br>
            <label><input class="uk-radio" type="radio" name="complete" value="1" {% if '1' in search.work_statuses and '0' not in search.work_statuses %}checked{% endif %}> {% translate 'Complete' %}</label><br>
            <label><input class="uk-radio" type="radio" name="complete" value="-1" {% if '1' in search.work_statuses and '0' in search.work_statuses %}checked{% elif '1' not in search.work_statuses and '0' not in search.work_statuses %}checked{% endif %}> {% translate 'Any' %}</label><br>
        </div>
    </div>

    <div class="uk-margin">
        <label for="saved-search-{{ search.id }}-work-types" class="uk-text-bold uk-form-label">{% translate 'Work Type' %}</label>
        <div id="saved-search-{{ search.id }}-work-types" class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <select multiple id="work_types[]" name="work_types[]" hidden>
                {% if search.work_types %}
                    {% for work_type in search.work_types %}
                        <option id="work-type-{{ work_type.id }}" value="{{ work_type.type_name }}" {% if work_type.checked %}selected{% endif %}>{{ work_type.type_name }}</option>
                    {% endfor %}
                {% else %}
                    {% for work_type in idx_work_types %}
                        <option id="work-type-{{ work_type.id }}" value="{{ work_type.type_name }}" {% if work_type.checked %}selected{% endif %}>{{ work_type.type_name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            {% if search.work_types %}
                {% for work_type in search.work_types %}
                    <label><input class="uk-checkbox" type="checkbox" {% if work_type.checked %}checked{% endif %} onchange="addWorkType(this, '{{ work_type.id }}', '{{ work_type.type_name }}')"> {{ work_type.type_name }}</label>
                {% endfor %}
            {% else %}
                {% for work_type in idx_work_types %}
                    <label><input class="uk-checkbox" type="checkbox" {% if work_type.checked %}checked{% endif %} onchange="addWorkType(this, '{{ work_type.id }}', '{{ work_type.type_name }}')"> {{ work_type.type_name }}</label>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="uk-margin">
        <label for="word-count-{{ search.id }}" id="saved-search-{{ search.id }}-wordcount" class="uk-text-bold uk-form-label">{% translate 'Word Count' %}</label>
        <div class="uk-form-controls" id="word-count-{{ search.id }}">
            <span class="uk-text-medium uk-hidden@m">{% translate 'From' %}</span><span class="uk-text-medium uk-visible@m">{% translate 'Between' %}</span>
            <input class="uk-input uk-width-expand@s uk-width-small@m" id="word_count_gte" name="word_count_gte" type="text" value="{{ search.word_count_gte|default_if_none:'' }}"/> <span class="uk-text-medium uk-visible@m">{% translate 'and' %}</span><span class="uk-text-medium uk-hidden@m">{% translate 'To' %}</span> <input class="uk-input uk-width-expand@s uk-width-small@m" id="word_count_lte" name="word_count_lte" type="text" value="{{ search.word_count_lte|default_if_none:'' }}"/>
        </div>
    </div>

    <div class="uk-margin">
        <label for="saved-search-{{ search.id }}-tags" class="uk-text-bold uk-form-label">{% translate 'Tags' %}</label>
        <div id="saved-search-{{ search.id }}-tags" class="uk-form-controls">
            <span class="ourchive-muted">Include</span>
            <div class="multi-select-component" id="include-wrapper">
                <select multiple id="include_facets[]" name="include_facets[]" hidden>
                    {% for tag in search.include_facets_json %}
                        <option id="include-{{ tag }}-option" value="{{ tag }}" selected>{{ tag }}</option>
                    {% endfor %}
                </select>
                {% for tag in search.include_facets_json %}
                    <div class="selected-wrapper" id="include-wrapper-{{ tag }}"><span class="selected-label">{{tag}}</span><a class="selected-close" tabindex="-1" data-option="{{tag}}" data-hits="0" uk-icon="icon: ourchive-close" onclick="removeElement('include', '{{ tag }}')"></a></div>
                {% endfor %}
                <div class="uk-width-expand include-search-wrapper">
                    <input id="include-tag-search" class="uk-form-blank uk-width-expand" autocomplete="off" tabindex="0" placeholder="{% translate 'Search for tags...' %}" oninput="doAutocomplete(this.value, 'search', 'savedsearchinclude', '', ',', 'populateSavedSearchInclude(this)')">
                </div>
                <a href="" uk-icon="icon: chevron-down" class="uk-icon uk-margin-remove uk-flex-right"></a>
            </div>
            <div id="tag-autocomplete-dropdown-savedsearchinclude" uk-drop="mode: hover; delay-hide: 2500; auto-update:false; pos: bottom-center"></div>

            <span class="ourchive-muted">Exclude</span>
            <div class="multi-select-component" id="exclude-wrapper">
                <select multiple id="exclude_facets[]" name="exclude_facets[]" hidden>
                    {% for tag in search.exclude_facets_json %}
                        <option id="exclude-{{ tag }}-option" value="{{ tag }}" selected>{{ tag }}</option>
                    {% endfor %}
                </select>
                {% for tag in search.exclude_facets_json %}
                    <div class="selected-wrapper" id="exclude-wrapper-{{ tag }}"><span class="selected-label">{{tag}}</span><a class="selected-close" tabindex="-1" data-option="{{tag}}" data-hits="0" uk-icon="icon: ourchive-close" onclick="removeElement('exclude', '{{ tag }}')"></a></div>
                {% endfor %}
                <div class="uk-width-expand exclude-search-wrapper">
                    <input id="exclude-tag-search" class="uk-form-blank uk-width-expand" autocomplete="off" tabindex="0" placeholder="{% translate 'Search for tags...' %}" oninput="doAutocomplete(this.value, 'search', 'savedsearchexclude', '', ',', 'populateSavedSearchExclude(this)')">
                </div>
                <a uk-icon="icon: chevron-down" class="uk-icon uk-margin-remove uk-flex-right"></a>
            </div>
            <div id="tag-autocomplete-dropdown-savedsearchexclude" uk-drop="toggle: #exclude-wrapper; delay=hide: 2500; auto-update:false; mode: hover; pos: bottom-center;"></div>
        </div>
    </div>
    <div class="uk-grid uk-grid-small" uk-grid>
        <div class="uk-button-group uk-width-expand uk-flex-left uk-visible@s">
            <input id="saved-search-0-submit" class="uk-button uk-button-primary uk-margin-top uk-align-left uk-margin-small-bottom" type="submit" value="{% translate 'Apply Filters' %}"/>
            {% if request.user.is_authenticated %}<a id="saved-search-0-delete" class="uk-button uk-button-secondary uk-margin-top uk-align-left uk-margin-small-bottom" href="#" uk-toggle="target: #save-search-modal">{% translate 'Save Search' %}</a>{% endif %}
        </div>
        <div class="uk-width-1-1 uk-hidden@s">
            <input id="saved-search-0-submit" class="uk-button uk-button-primary uk-margin-small uk-align-center" type="submit" value="{% translate 'Apply Filters' %}"/>
        </div>
        {% if request.user.is_authenticated %}<div class="uk-width-1-1 uk-hidden@s">
            <a id="saved-search-0-delete" class="uk-button uk-button-secondary uk-margin-small uk-align-center uk-width-small uk-padding-remove-horizontal" href="#" uk-toggle="target: #save-search-modal">{% translate 'Save Search' %}</a>
        </div>{% endif %}
    </div>
</form>
<div id="save-search-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" id="save-search-modal-body">
        <h2 id="save-search-modal-header" class="uk-modal-title">Save Search</h2>
        <div class="uk-margin">
            <label class="uk-text-medium" for="new-search-name">{% blocktranslate %}Enter a name for this search:{% endblocktranslate %}</label>
            <input class="uk-input" id="newsearchname" type="text" name="new-search-name" onkeyup="updateSearchName(this.value)" value="{{ search.name }}"/>
        </div>
        <p id="save-searchmodal-button-parent" class="uk-text-right">
            <a id="save-search-modal-cancel" class="uk-button uk-button-default uk-modal-close uk-margin-right">{% translate 'Cancel' %}</a>
            <a id="save-search-modal-add" class="uk-button uk-button-primary" onclick="saveSearch()">{% translate 'Save' %}</a>
        </p>
    </div>
</div>