{% load i18n %}
{% load cache %}
<div class="uk-grid" id="homepage-intro-and-browse">
    <div class="uk-width-3-4@l uk-width-1-1">
        {% cache 43200 homepage-intro %}
        <div id="index-content-intro-div" class="ourchive-content-padding">
            <h2 id="index-content-heading" class="uk-heading-small">{{ heading_message }}</h2>
            <span id="index-content-message">{{ long_message }}</span>
        </div>
        {% endcache %}
        {%  if homepage_news.results %}
            <div id="index-content-news-div" class="ourchive-content-padding">
                {% for news in homepage_news.results %}<span id="index-content-message">{{ news.content|safe }}</span>{% endfor %}
            </div>
        {%  endif %}
        <div class="uk-grid uk-grid-small uk-child-width-1-1">
                <ul uk-tab class="ourchive-content-padding uk-margin-auto-left">
                    {% for item in browse_cards %}
                    <li><a href="#">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
            <div class="uk-switcher ourchive-content-padding">
                {% for item in browse_cards %}
                <div class="uk-grid uk-margin-right uk-margin-remove-top uk-grid-small" id="browse-cards-item-{{ item.label }}" uk-grid>
                    {% for card in item.cards %}
                    <div class="uk-width-1-3">
                        <div class="uk-card ourchive-homepage-card" id="browse-cards-{{ card.label }}"><a data-testid="browse-cards" href="{{card.url}}">{{card.label}}</a></div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="uk-width-1-4@l uk-width-1-1" id="homepage-news-and-recent-works">
        <div class="uk-grid ourchive-border-left uk-grid-small uk-child-width-1-1" uk-grid>
        {% cache 300 homepage-news %}
            <div id="news-column" class="ourchive-content-padding uk-padding-remove-horizontal">
                <h2 id="news-header">{% translate 'News' %}</h2>
                <ul class="uk-list" id="news-ul">
                    {% for item in news %}
                    <li id="news-li-{{ item.id }}"><a href="{% url 'fe-news-detail' item.id %}">{{ item.title }}</a></li>
                    {% endfor %}
                    <li id="news-see-more"><a href="{% url 'fe-news-list' %}">See All News >>></a></li>
                </ul>
            </div>
        {% endcache %}
        <div id="news-and-recent-separator" class="uk-padding-remove-horizontal">
            <hr class="ourchive-hr"/>
        </div>
        {% cache 300 homepage-recent-works %}
            <div id="recent-works-column" class="uk-padding-remove-horizontal">
                <h2 id="recent-works-header">{% translate 'Recent Works' %}</h2>
                <ul class="uk-list" id="recent-works-ul">
                    {% for work in recent_works %}
                        <li id="recent-works-li-{{work.id}}"><a href="{% url 'fe-work-view' work.id %}" title="{{ work.title }}">{{ work.title }} {% translate 'by' %} {{ work.user }}</a></li>
                    {% endfor %}
                    <li id="recent-works-see-more"><a href="{% url 'fe-all-works' %}">See All Works >>></a></li>
                </ul>
            </div>
        {% endcache %}
        </div>
    </div>
</div>