<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	{% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if css_mode %}
    <link rel="stylesheet" id="theme-link" href="{% static 'frontend/css/' %}ourchive-{{css_mode}}.css" />
    {% else %}
    <link rel="stylesheet" id="theme-link" href="{% static 'frontend/css/' %}ourchive-light.css" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'frontend/css/editor.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.svg' %}"/>
    <script src="{% static 'frontend/js/uikit.min.js' %}"></script>
    <script src="{% static 'frontend/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'frontend/js/ourchive-tags.js' %}"></script>
    <title>{% block title %}Ourchive{% endblock %}</title>
</head>
<body>
	<script>
		function switchTheme() {
			fetch('{% url 'switch-css-mode' %}').then((response) => {
				localStorage.setItem("fe-theme", '{{css_mode}}' == 'dark' ? 'light' : 'dark');
				window.location.reload();
			});
		}
	</script>
	{% if 'accept-cookies' not in request.COOKIES and not request.user.cookies_accepted %}
		<script>
			UIkit.notification({
			    message: 'Ourchive uses necessary cookies to allow you to log in and submit data. We do not collect or distribute any tracking information. By continuing to browse the site you are agreeing to allow cookies to be stored and used.',
			    status: 'danger',
			    pos: 'top-center',
			    timeout: 10000
			});
			fetch('{{request.build_absolute_uri|slice:":-1"}}{% url 'accept-cookies' %}')
			  .then((response) => {
			  	var date = new Date();
			  	date.setTime(date.getTime() + 86400*1000*7);
			    const expires = date.toUTCString();
				document.cookie =  'accept-cookies=true' + '; expires=' + expires + '; path=/'
			  });
		</script>
	{% endif %}
	{% if messages %}
		{% for message in messages %}
			<script>
				var status = '{{message.tags}}' === 'success' ? 'primary' : 'danger';
				UIkit.notification({
				    message: '<div id="{{message.extra_tags}}"><strong>{{ message }}</strong></div>',
				    status: status,
				    pos: 'top-center',
				    timeout: 10000
				});
			</script>
		{% endfor %}
	
	{% endif %}
	<div class="ourchive-navbar" id="ourchive-navbar-parent">
		<nav class="uk-navbar-container uk-navbar-transparent uk-padding-small uk-padding-remove-vertical" uk-navbar id="uk-nav-parent">
		    <div class="uk-navbar-left" id="uk-nav-left">
		    	<a class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: #sidenav"  uk-navbar-toggle-icon id="uk-nav-hamburger"></a>
		        <ul class="uk-navbar-nav uk-visible@s">
		            <li class="uk-active" id="nav-home"><a href="/" title="Home" id="ourchive-home-link">{% if css_mode == 'dark' %}<img src="{% static 'ourchive_big_darkmode.svg' %}" class="ourchive-logo-nav" id="ourchive-logo-light" title="Home"/>{% else %}<img src="{% static 'ourchive_big_lightmode.png' %}" class="ourchive-logo-nav" id="ourchive-logo-dark" title="Home"/>{% endif %}</a></li>
		            <li><a href="/works/" id="nav-works">Works</a></li>
		            <li><a href="/bookmarks/" id="nav-bookmarks">Bookmarks</a></li>
		            <li><a href="/bookmark-collections/" id="nav-bookmark-collections">Bookmark Collections</a></li>
		        </ul>
		    </div>	    
		    <div class="uk-navbar-right uk-margin-right" id="uk-nav-right">
		    	 <ul class="uk-navbar-nav" id="uk-nav-right-ul">
		    	 	<li id="nav-search-li">
			                <div class="nav-overlay uk-navbar-right">
			                	<a class="uk-navbar-toggle" id="search-toggle-overlay" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
			                </div>
    					<div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
        					<div class="uk-navbar-item uk-width-expand uk-margin-small-left">
	            				<form class="uk-search uk-search-navbar uk-width-1-1" action="/search/" method="post" id="nav-search-form">
				                	{% csrf_token %}
				                    <input class="uk-search-input ourchive-nav-search" autocomplete="off" type="search" placeholder="Search..." autofocus name="term" value="{{ term }}" id="nav-search-input" oninput="doAutocomplete(this.value, 'search', 'navbar')">
								<div id="tag-autocomplete-dropdown-navbar" uk-drop></div>
				                </form>
        					</div>
        					<a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

    					</div>
		        	</li>
		    	 	<li id="theme-switcher-li">
		    	 		<a onclick="switchTheme()" href="#" id="theme-switcher-link" title="Switch Modes">
		    	 			{% if request.session.css_mode == "dark" %}
		    	 			<span class="custom-icon uk-text-medium" uk-icon="icon: sun-regular; ratio:1" title="Light Mode" id="theme-switcher-light">
		    	 			{% else %}
		    	 			<span class="custom-icon uk-text-medium" uk-icon="icon: moon-regular; ratio:1" title="Dark Mode" id="theme-switcher-dark">
		    	 			{% endif %}
		    	 		</a></span>
		    	 	</li>
		        	<li id="nav-right-main">		        
			            {% if not request.user.is_authenticated %}
			            	<li class="uk-active" id="nav-login-li">
			            		<a href="/login" id="nav-login-link">
			            			<span uk-icon="icon: sign-in; ratio:1.25" title="Sign In" id="nav-login-icon"></span>
			            		</a>
			            	</li>
			            	<li class="uk-active" id="nav-register-li">
			            		<a href="/register" id="nav-register-link">
			            			<span uk-icon="icon: user; ratio:1.25" title="Register" id="nav-register-icon"></span>
			            		</a>
			            	</li>
			            {% endif %}
			            {% if request.user.is_authenticated %}
			            	<a class="uk-width-auto uk-text-truncate" title="{{ request.user }}" href="{% url 'user-profile-parent' request.user.id %}" id="nav-username">{{ request.user }}</a>
			            	<div class="uk-navbar-dropdown uk-width-medium" id="nav-user-dropdown-div">
	                    		<ul class="uk-nav uk-navbar-dropdown-nav uk-list-divider uk-list-collapse" id="nav-user-dropdown-ul">
	                    			<li id="nav-new-bkcol-li"><a href="{% url 'fe-new-collection' %}" id="nav-new-work-link">{% translate 'New Collection' %}</a></li>
	                    			<li id="nav-new-work-li"><a href="/works/new/" id="nav-new-work-link">New Work</a></li>
	                    			<li id="nav-creations-li"><a href="#" id="nav-creations-link">{% translate 'My Chives' %}</a></li>
	                    			<ul class="uk-nav-sub uk-list-divider uk-list-collapse" id="creations-subnav">
	                    				<li id="nav-bookmarks-li"><a href="/username/{{request.user}}/bookmarks/" id="nav-bookmarks-link">Bookmarks</a></li>
	                    				<li id="nav-bookmarks-li"><a href="{% url 'fe-user-collections' request.user %}" id="nav-bookmark-collections-link">{% translate 'Collections' %}</a></li>
	                    				<li id="nav-works-li"><a href="/username/{{request.user}}/works" id="nav-works-link">Works</a></li>
	                    			</ul>
	                    			<li id="nav-subscriptions-parent"><a href="{% url 'fe-user-subscriptions' request.user %}">{% translate 'Subscriptions' %}</a></li>
		                    			<ul class="uk-nav-sub uk-list-divider uk-list-collapse" id="subscriptions-subnav">
								            <li id="subscriptions-bookmarks"><a href="{% url 'fe-user-bookmark-subscriptions' request.user %}">{% translate 'Bookmarks' %}</a></li>
								            <li id="subscriptions-collections">
								                <a href="{% url 'fe-user-collection-subscriptions' request.user %}">{% translate 'Collections' %}</a>
								            </li>
								        </ul>
								    <li id="nav-account-parent"><a href="{% url 'user-profile-parent' request.user.id %}">{% translate 'Profile' %}</a></li>
								    	<ul class="uk-nav-sub uk-list-divider uk-list-collapse" id="profile-subnav">
	                    				<li id="nav-edit-profile-li"><a href="{% url 'fe-user-profile-edit' request.user.id %}" id="nav-edit-profile-link">{% translate 'Edit Profile' %}</a></li>
	                    				<li id="nav-edit-account-li"><a href="{% url 'fe-user-account-edit' request.user.id %}" id="nav-edit-account-link">{% translate 'Edit Account' %}</a></li>
	                    				<li id="nav-blocklist-li"><a href="/users/{{request.user}}/blocklist" id="nav-blocklist-link">{% translate 'Blocklist' %}</a></li>
	                    			</ul>
	                    			<li id="nav-import-works-li"><a href="{% url 'fe-import-works' request.user %}" id="nav-import-work-link">{% translate 'Import Work(s)' %}</a></li>
	                    			<ul class="uk-nav-sub uk-list-divider uk-list-collapse" id="imports-subnav">
								            <li id="imports-status"><a href="{% url 'fe-import-works-status' request.user.id %}">{% translate 'Import Status' %}</a></li>
								        </ul>
	                    			{% if request.session.has_notifications %}
	                    			<li id="nav-notifications-unread-li"><a class="uk-text-emphasis uk-text-secondary" href="/username/{{request.user}}/notifications" id="nav-notifications-unread-link">Notifications (Unread)</a></li>
	                    			{% else %}
	                    			<li id="nav-notifications-li"><a href="/username/{{request.user}}/notifications" id="nav-notifications-link">Notifications</a></li>
	                    			{% endif %}
					            	<li id="nav-signout-li"><a href="/logout" id="nav-signout-link">Log Out</a></li>
			        			</ul>
			        	</div>
			        	{% endif %}
			        </li>
		    </ul>
	    </div>

		</nav>
	</div>
	<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
		<div class="uk-offcanvas-bar" id="sidenav-parent-div">
			<ul class="uk-nav" id="sidenav-ul">
				<li id="sidenav-home-li" class="uk-active"><a id="sidenav-home-link" href="/">Home</a></li>
	            <li id="sidenav-works-li"><a id="sidenav-works-link" href="/works/">Works</a></li>
	            <li id="sidenav-bookmarks-li"><a id="sidenav-bookmarks-link" href="/bookmarks/">Bookmarks</a></li>
	            <li id="sidenav-bookmark-collections-li"><a id="sidenav-bookmark-collections-link" href="/bookmark-collections/">Bookmark Collections</a></li>
	            <li id="sidenav-search-li"><a id="sidenav-search-link" href="/search">Search</a></li>
	            {% if not request.user.is_authenticated %}
	            	<li id="sidenav-sign-in-li" class="uk-active">
	            		<a id="sidenav-sign-in-link" href="/login"><span uk-icon="icon: sign-in; ratio:1.25" title="Sign in"/></a></li>
	            	<li id="sidenav-register-li" class="uk-active">
	            		<a id="sidenav-register-link" href="/register"><span uk-icon="icon: user; ratio:1.25" title="Register"/></a></a></li>
	            {% endif %}
	            {% if request.user.is_authenticated %}
	            	<li id="sidenav-signout-li" class="uk-active">
	            		<a id="sidenav-signout-link" href="/logout"><span uk-icon="icon: sign-out; ratio:1.25" title="Sign out"></span></a></li>
	            {% endif %}
			</ul>
		</div>
	</div>
	<button id="scroll-to-top-button" class="uk-button uk-button-primary scroll-to-top" style="display: none;" onclick="topFunction()" uk-scroll><span uk-icon="arrow-up"></span></button>
	<div class="uk-container uk-margin content-block-parent" id="content-block-parent">	
		<div uk-grid id="parent-grid" id="content-block-parent-grid" uk-height-viewport="expand: true" class="uk-grid">
			{% block content %}
				<div class="uk-child-width-1-1" id="index-content-div">
				        <h1 id="index-content-heading" class="uk-heading-medium">{{ heading_message }}</h1>
				  		<span id="index-content-message">{{ long_message }}</span>
						<form id="index-content-search-form" class="uk-search uk-search-large" method="post" action="search/">
							{% csrf_token %}
							<a id="index-content-search-link" href="#" uk-search-icon></a>
							<input autocomplete="off" id="index-content-search-input" class="uk-search-input" type="search" name="term" placeholder="Search..." value="{{ term }}" oninput="doAutocomplete(this.value, 'search', 'main')">
							<div id="tag-autocomplete-dropdown-main" uk-drop></div>
						</form>
						
				</div>		  
			{% endblock %}	
	    </div>
	</div>
	<script src="{% static 'frontend/js/scroll-to-top.js' %}"></script>
</body>
<footer id="ourchive-footer uk-container">
	<hr id="footer-hr">
	<div id="footer-parent-grid" class="uk-text-center uk-grid uk-padding-small" uk-grid>
	    <div id="footer-child-grid" class="uk-width-1-2@m uk-width-1-1@s">
	        <span id="footer-created-by" class="uk-text-meta uk-padding">Ourchive is created & maintained by <a href="https://federatedfandom.net/@kate" target="_blank">kate</a>, <a href="https://github.com/ladyofthelog">verity</a>, and <a href="https://federatedfandom.net/@imp" target="_blank">imp</a>. Issues with the site? Report <a class="uk-text-uppercase uk-text-meta" target="_blank" title="Report Issue" href="https://forms.bluecatreports.com/mXFMLWyv/issue-report">here</a>.</span>
	    </div>
	    <div id="footer-child-grid" class="uk-width-1-2@m uk-width-1-1@s">
	        {% for page in content_pages %}
	        <a href="/content-pages/{{page.id}}" class="uk-link uk-padding-small">{{page.name}}</a>
	        {% endfor %}
	    </div>
	</div>
</footer>
</html>