<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'frontend/css/uikit.ourchive.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/scroll-to-top.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/editor.css' %}" />
    <script src="{% static 'frontend/js/uikit.min.js' %}"></script>
    <script src="{% static 'frontend/js/uikit-icons.min.js' %}"></script>
    <title>Ourchive</title>
</head>
<body>
	{% if messages %}
		{% for message in messages %}
			<script>
				var status = '{{message.tags}}' === 'success' ? '{{message.tags}}' : 'danger';
				UIkit.notification({
				    message: '{{ message }}',
				    status: status,
				    pos: 'bottom-right',
				    timeout: 2500
				});
			</script>
		{% endfor %}
	
	{% endif %}
	<div class="ourchive-navbar">
		<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
		    <div class="uk-navbar-left">
		    	<a class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: #sidenav"  uk-navbar-toggle-icon></a>
		        <ul class="uk-navbar-nav uk-visible@s">
		            <li class="uk-active"><a href="/">Home</a></li>
		            <li><a href="/works">Works</a></li>
		            <li><a href="/bookmarks">Bookmarks</a></li>
		        </ul>
		    </div>	    
		    <div class="uk-navbar-right uk-margin-right">
		    	 <ul class="uk-navbar-nav">
		    	 	<li>
			            <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
			            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
			                <form class="uk-search uk-search-navbar uk-width-1-1" action="/search/" method="post">
			                	{% csrf_token %}
			                    <input class="uk-search-input" type="search" placeholder="Search..." autofocus name="term" value="{{ term }}">
			                </form>
			            </div>
		        	</li>
		        	<li>		        
			            {% if not request.user.is_authenticated %}<li class="uk-active"><a href="/login"><span uk-icon="icon: sign-in; ratio:1.25" title="Sign In"></a></span></li>{% endif %}
			            {% if not request.user.is_authenticated %}<li class="uk-active"><a href="/register"><span uk-icon="icon: user; ratio:1.25" title="Register"></a></span></li>{% endif %}
			            {% if request.user.is_authenticated %}
			            	<a href="/username/{{request.user}}">{{ request.user }}</a>
			            	<div class="uk-navbar-dropdown">
	                    		<ul class="uk-nav uk-navbar-dropdown-nav">
	                    			<li><a href="/works/new/">New Work</a></li>
	                    			<li><a href="/username/{{request.user}}/bookmarks">Bookmarks</a></li>
	                    			<li><a href="/username/{{request.user}}/works">Works</a></li>
	                    			<li><a href="/username/{{request.user}}/edit">Edit Profile</a></li>
	                    			<li><a href="/username/{{request.user}}/account/edit">Edit Account</a></li>
	                    			<li><a href="/users/{{request.user}}/blocklist">Blocklist</a></li>
	                    			{% if request.session.has_notifications %}
	                    			<li><a class="uk-text-emphasis uk-text-secondary" href="/username/{{request.user}}/notifications">Notifications (Unread)</a></li>
	                    			{% else %}
	                    			<li><a href="/username/{{request.user}}/notifications">Notifications</a></li>
	                    			{% endif %}
					            	<li><a href="/logout">Sign Out</a></li>
			        			</ul>
			        	</div>
			        	{% endif %}
			        </li>
		    </ul>
	    </div>

		</nav>
	</div>
	<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
		<div class="uk-offcanvas-bar">
			<ul class="uk-nav">
				<li class="uk-active"><a href="/">Home</a></li>
	            <li><a href="/works">Works</a></li>
	            <li><a href="/bookmarks">Bookmarks</a></li>
	            <li><a href="/search">Search Results</a></li>
	            {% if not request.user.is_authenticated %}<li class="uk-active"><a href="/login"><span uk-icon="icon: sign-in; ratio:1.25" title="Sign in"></a></li>{% endif %}
	            {% if not request.user.is_authenticated %}<li class="uk-active"><a href="/register"><span uk-icon="icon: user; ratio:1.25" title="Register"></a></a></li>{% endif %}
	            {% if request.user.is_authenticated %}<li class="uk-active"><a href="/logout"><span uk-icon="icon: sign-out; ratio:1.25" title="Sign out"></span></a></li>{% endif %}
			</ul>
		</div>
	</div>
	<button id="scroll" class="uk-button uk-button-primary" style="display: none;" onclick="topFunction()" uk-scroll><span uk-icon="arrow-up"></span></button>
	<div class="uk-container uk-margin">	
		<div uk-grid id="parent-grid">
			{% block content %}
				<div class="uk-child-width-1@m uk-child-width-1@s uk-text-center" uk-grid>
				    <div>
				    	<h1>HELLO WORLD</h1>
				        <h1 class="uk-heading-medium">{{ heading_message }}</h1>
				  		<span>{{ long_message }}</span>
				    </div>
				    <div>
						<form class="uk-search uk-search-large" method="post" action="search/">
							{% csrf_token %}
							<a href="#" uk-search-icon></a>
							<input class="uk-search-input" type="search" name="term" placeholder="Search..." value="{{ term }}">
						</form>
				    </div>
				</div>			  
			{% endblock %}	
	    </div>
	</div>
	<script src="{% static 'frontend/js/scroll-to-top.js' %}"></script>
</body>
<footer>
	<hr>
	<div class="uk-text-center" uk-grid>
	    <div class="uk-width-1-2">
	        <span class="uk-text-meta uk-padding">Ourchive is created & maintained by <a href="https://github.com/klreeher">@klreeher</a> and <a href="https://github.com/c-e-p">@c-e-p</a>.</span>
	    </div>
	</div>
</footer>
</html>