{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'Log In' %}{% endblock %}
{% block content %}
<div class="row row-cols-1" id="login-actions-parent">
<h1>{% translate 'Log In' %}</h1>
<form id="login-form" method="post">
    {% csrf_token %}
    <div class="mb-3" id="login-username-parent">
        <label id="login-username-label" class="form-label" for="login-username-input">{% translate 'Username' %}</label>
        <div class="input-group" id="login-username-form-controls">
            <span id="login-username-icon" class="input-group-text"><i class="bi bi-person"></i></span>
            <input id="login-username-input" class="form-control" type="text" name="username">
        </div>
    </div>
    <input id="login-referrer" type="hidden" name="referrer" value="{{ referrer }}">
    <div id="login-password-parent" class="mb-3">
        <label id="login-password-label" class="form-label" for="login-password-input">{% translate 'Password' %}</label>
        <div id="login-password-form-controls" class="input-group">
            <span id="login-password-icon" class="input-group-text"><i class="bi bi-lock"></i></span>
            <input id="login-password-input" class="form-control" type="password" name="password">
        </div>
    </div>
    <input id="login-submit-button" class="btn btn-primary" type="submit" value="{% translate 'Log In' %}"/>
</form>
</div>
<div class="row row-cols-1 mt-3" id="login-actions-parent">
    <p><a id="login-pw-reset-link" href="{% url 'fe-reset-password' %}">{% translate 'Forgot password?' %}</a></p>
    <p><a id="login-register-link" href="{% url 'fe-register-account' %}">{% translate 'Create an account' %}</a></p>
</div>
{% endblock %}