{% load i18n %}
<div class="border shadow-sm p-3" id="news-{{news.id}}-tile-container">
    <div class="row row-cols-1">
        <p><a href="{% url 'fe-news-detail' news_item.id %}">{{news_item.title}}</a></p>
    </div>
    <div id="news-tile-body" class="row row-cols-1">
        <p id="news-tile-description-text">{{ news_item.content|safe }}</p>
    </div>
    <div class="row row-cols-1" id="news-tile-footer-parent">
        <div class="d-flex justify-content-between mt-3">
            <span id="news-metadata-updated" class="fw-light">{% translate 'Updated' %}: {{news_item.updated_on|date:'d M Y'}}</span>
        </div>
    </div>
</div>