{% load i18n %}
<div class="ourchive-work-card uk-box-shadow-small uk-height-large uk-width-1-1" id="news-{{news.id}}-tile-container">
    <div class="uk-grid uk-grid-small uk-height-1-1" uk-grid>
        <div id="news-tile-header-content" class="uk-width-expand">
            <span id="news-{{news_item.id}}-tile-title" class=" uk-margin-remove-bottom uk-inline ourchive-tile-title"><a href="{% url 'fe-news-detail' news_item.id %}">{{news_item.title}}</a></span>
        </div>
    </div>
    <div id="news-tile-body" class="uk-width-1-1 uk-padding-small">
        <span id="news-tile-description-text">{{ news_item.content|safe }}</span>
    </div>
    <div class="uk-card-footer ourchive-card-footer uk-padding-remove" id="news-tile-footer-parent">
        <div class="uk-width-1-1 uk-padding-small uk-margin-small">
            <div class="uk-inline ourchive-metadata-list">
                <span id="news-metadata-updated" class="uk-inline ourchive-muted">{% translate 'Updated' %}: {{news_item.updated_on|date:'d M Y'}}</span>
            </div>
        </div>
    </div>
</div>