{% extends 'index.html' %}
{% block title %}News{% endblock %}
{% block content %}	
<div class="uk-margin uk-width-1-1 uk-padding-remove-horizontal" id="news-list-user-filter-parent">
	<h1 id="news-list-user-h1" class="uk-heading-line uk-text-center"> <span id="news_header"> News</span> </h1> 
	<div class="uk-padding-remove-horizontal uk-width-expand">
	{% for news_item in news %} 
		<div class="uk-margin-bottom">{% include "news_tile.html" %}</div>
	{% endfor %}
	{% include 'pagination.html' with previous=previous next=next object_name='news' %}
</div>
</div>
{% endblock %}