<div class="border shadow-sm p-3" id="notification-{{notification.id}}-tile-parent">
    <div class="row row-cols-1" id="notification-tile-card-header">
        <h3 id="notification-title">{{notification.title}}</h3>
    </div>
    <div class="row row-cols-1" id="notification-content-div">
        <p id="notification-content">{{ notification.content|safe }}</p>
    </div>
    <div class="row row-cols-1 justify-content-end" id="notification-actions-container">
        <p>{% if not notification.read %}<a href="/username/{{ notification.user }}/notifications/{{ notification.id }}/read" id="notification-{{ notification.id }}-mark-read" title="Mark read" class="link-underline link-underline-opacity-0"><i class="bi bi-check2-square"></i></a>{% endif %} <a class="link-underline link-underline-opacity-0" href="/username/{{ notification.user }}/notifications/{{ notification.id }}/delete" id="notification-{{ notification.id }}-mark-delete" title="Delete"><i class="bi bi-trash"></i></a></p>
    </div>
</div>