{% extends 'index.html' %}
{% load i18n %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="row row-cols-1">
        <h1>{{ page_title }}</h1>
        <hr class="ourchive-hr"/>
    </div>
    {% if notifications %}
        <div class="row row-cols-1">
            <p class="text-end"><a class="btn btn-primary" href="{% url 'fe-notifications-mark-all-read' request.user %}">{% translate 'Mark all read' %}</a>
            <a class="btn btn-danger" href="{% url 'fe-notifications-delete-all' request.user %}">{% translate 'Delete all' %}</a></p>
        </div>
    {% endif %}
    {% if not notifications %}
        <div class="row row-cols-1">
            <p id="notifications-empty-message">{% translate "You don't have any notifications. When you do, they'll appear here." %}</p>
        </div>
    {% endif %}
    {% for notification in notifications %}
        <div class="row row-cols-1 mb-3">
            {% include "notification_tile.html" %}
        </div>
    {% endfor %}
    <div class="row row-cols-1" id="notifications-pagination-parent">
        {% if previous is not None %}<a id="notifications-pagination-prev-link" href="{{ previous }}"><span class="mx-1"  id="notifications-pagination-prev-span"></span> Previous</a>{% endif %}
        {% if next is not None %}<a href="{{ next }}" id="notifications-pagination-next-link">Next <span class="mx-1" id="notifications-pagination-next-span"></span></a>{% endif %}
    </div>
{% endblock %}