{% extends 'index.html' %}
{% block content %}		
{% for notification in notifications %} 
	{% include "notification_tile.html" %}          
{% endfor %}
<div class="uk-width-1-1 uk-text-center">
    <div>
        <ul class="uk-pagination">
        {% if previous is not None %}<li><a href="{{ previous }}"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>{% endif %}
        {% if next is not None %}<li class="uk-margin-auto-left"><a href="{{ next }}">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>{% endif %}
    </ul>
    </div>        
</div>  
{% endblock %}