{% if attributes.items %}
{% for attribute, attribute_values in attributes.items %}
    <div id="{{attribute}}-tile-attribute-type-{{type}}" class="{% if forloop.first %}uk-margin-small-top{% else %}ourchive-badge-margins{% endif %} uk-width-expand">
        <div class="uk-inline selected-wrapper-margins"><span class="uk-text-muted">{{ attribute }}</span></div>
        {% for single_attr in attribute_values %}
            <div class="selected-wrapper" id="attr-container-{{ single_attr.id }}">
                <a class="ourchive-badge-link" id="{{single_attr.display_name}}-tile-attr-{{single_attr.display_name}}-link" href="/attributes/{{single_attr.id}}?attr_id={{single_attr.id}}">
                    <span class="selected-label ourchive-badge-label">{{ single_attr.display_name }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% endif %}