<dl class="uk-description-list uk-margin-small-top" id="{{object}}-tags-dl">
	{% for attribute, attribute_values in attributes.items %}
	    <dt id="{{object}}-attribute-label" class="uk-margin-small"><span class="uk-text-bold">{{attribute}}</span></dt>
	    <dd id="{{object}}-tile-tag-container-{{attribute}}">
	    <span id="{{object}}-tile-tag-icon-{{attribute}}" uk-icon="icon: tag"></span> {% for single_attr in attribute_values %}<div class="uk-margin-small uk-inline"><a id="{{obj_name}}-tile-tag-{{single_tag.id}}-link" class="uk-button-primary uk-button-small uk-border-rounded ourchive-tag-list" href="#" uk-toggle="target: #coming-soon">{{ single_attr }}</a><span id="coming-soon" hidden class="uk-text uk-margin-left">Attribute links & search coming soon!</span></div> {% endfor %}
	    </dd>
	{% endfor %}
</dl>