{% load i18n %}
<div class="row row-cols-1 mb-3" id="paginated-works-parent-grid">
	{% for work in works.results %} 
		{% include "work_tile.html" %}     
    {% endfor %}
</div>
<div class="row row-cols-1 mb-3" id="loadMoreWorks">
    <div id="paginated-works-pagination-container" class="oc-justify-center">
        <ul class="pagination" id="paginated-works-ul">
            {% if works.next is not None %}<li class="page-item" id="paginated-works-next-li"><a class="page-link" id="paginated-works-next-link" onclick="loadMoreWorks('/tags/{{tag_id}}/next?next={{works.next}}', '{{tag_id}}')">{% translate 'Next' %}</a></li>{% endif %}
            {% if works.previous is not None %}<li class="page-item" id="paginated-works-prev-li"><a class="page-link" id="paginated-works-prev-link" onclick="loadMoreWorks('/tags/{{tag_id}}/next?previous={{works.previous}}', '{{tag_id}}')">{% translate 'Previous' %}</a></li>{% endif %}
        </ul>
    </div>        
</div>