{% load i18n %}
<div id="{{object_name}}-pagination-parent" class="row row-cols-1">
{% if not pagination_array %}
    <nav aria-label="{% translate 'Pagination' %}" class="oc-justify-center">
        <ul class="pagination">
            {% if previous is not None %}<li class="page-item"><a href="{{ previous }}{% if search_term %}&term={{search_term}}{%endif%}" {% if click_func %}onclick="{{click_func}}"{% endif %} class="page-link">{% translate 'Previous' %}</a></li>{% endif %}
            {% if next is not None %}<li class="page-item"><a href="{{ next }}{% if search_term %}&term={{search_term}}{%endif%}" {% if click_func %}onclick="{{click_func}}"{% endif %} class="page-link">{% translate 'Next' %}</a></li>{% endif %}
        </ul>
    </nav>
{% else %}
<nav aria-label="{% translate 'Pagination' %}" class="oc-justify-center">
    <ul class="pagination">
        {% if previous and previous != None %}<li class="page-item"><a class="page-link" href="{{ previous }}{% if search_term %}&term={{search_term}}{%endif%}" {% if click_func %}onclick="{{click_func}}"{% endif %}>{% translate 'Previous' %}</a></li>
        {% else %}<li class="page-item"><a class="page-link disabled" href="#">{% translate 'Previous' %}</a></li>{% endif %}
        {% for number in pagination_array %}
        {% if number != '...' %}
            {% if current_page == number %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ number }}{% if search_term and search_term != 'None' %}&term={{search_term|default_if_none:'' }}{%endif%}{% if tag_id %}&tag_id={{ tag_id }}{% endif %}{% if attr_id %}&attr_id={{ attr_id }}{% endif %}{% if work_type_id %}&work_type_id={{ work_type_id }}{% endif %}{% if page_params %}{{ page_params }}{% endif %}">{{ number }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ number }}{% if search_term and search_term != 'None' %}&term={{search_term|default_if_none:''}}{%endif%}{% if tag_id %}&tag_id={{ tag_id }}{% endif %}{% if attr_id %}&attr_id={{ attr_id }}{% endif %}{% if work_type_id %}&work_type_id={{ work_type_id }}{% endif %}{% if page_params %}{{ page_params }}{% endif %}">{{ number }}</a></li>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><a class="page-link">…</a></li>
        {% endif %}
        {% endfor %}
        {% if next and next != 'None' %}<li class="page-item"><a class="page-link" href="{{ next }}{% if search_term %}&term={{search_term}}{%endif%}" {% if click_func %}onclick="{{click_func}}"{% endif %}>{% translate 'Next' %}</a></li>
        {% else %}<li class="page-item"><a class="page-link disabled" href="#">{% translate 'Next' %}</a></li>{% endif %}
    </ul>
</nav>
{% endif %}
</div>