{% extends 'index.html' %}
{% load i18n %}
{% block title %}Register{% endblock %}
{% block content %}	
<div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid id="register-parent-grid">
{% if permit_registration %}
<script>
    async function checkUsername(username) {
        const response = await fetch(window.location.origin+"{% url 'registration-utils' %}?username="+username);
        const json = await response.json();
        validated = json["exists"];
        return validated;
    }
    function validateForm(event) {
        event.preventDefault();
        var username = document.getElementById("register-user-name-input").value;
        checkUsername(username).then((username_exists) => {
            if (username_exists) {
                document.getElementById("register-user-name-input").classList.add("uk-form-danger");
                document.getElementById("register-user-name-input-errors").innerHTML = "{% translate 'Username exists, please choose another.' %}";
                document.getElementById("register-user-name-input-errors").style.visibility = "visible";
                return false;
            }
            var password = document.getElementById("register-password-input").value;
            var confirmedPassword = document.getElementById("register-confirm-password-input").value;
            if (password != confirmedPassword) {
                document.getElementById("register-password-input").classList.add("uk-form-danger");
                document.getElementById("register-password-input-errors").innerHTML = "Passwords must match.";
                document.getElementById("register-password-input-errors").style.visibility = "visible";
                return false;
            }
            event.target.submit();
        });  
    }
</script>
<form class="uk-form-horizontal"  method="post" onsubmit="return validateForm(event)" id="register-form">
	{% csrf_token %}
    <input id="invite-code-hidden-id" type="hidden" name="invite_code" value="{{ invite_code }}"/>
    <div class="uk-margin" id="register-username-parent">
    	<label id="register-username-label" class="uk-form-label" for="form-horizontal-text">Username</label>
        <div class="uk-form-controls" id="register-user-controls">
            <div><span class="uk-text-small uk-text-danger" id="register-user-name-input-errors"></span></div>
            <div class="uk-inline" id="register-user-input-parent">
	            <span class="uk-form-icon" uk-icon="icon: user" id="register-user-icon"></span>
	            <input class="uk-input" type="text" maxlength="150" name="username" id="register-user-name-input" required>
	        </div>
        </div>
        
    </div>

    <div class="uk-margin" id="register-email-parent">
        <label id="register-email-label" class="uk-form-label" for="form-horizontal-text">Email</label>
        <div id="register-email-controls" class="uk-form-controls">
            <div class="uk-inline" id="register-email-input-parent">
                <span class="uk-form-icon" uk-icon="icon: mail" id="register-email-icon"></span>
                <input class="uk-input" type="email" name="email" id="register-email-input" required>
            </div>
        </div>
        
    </div>

    <div class="uk-margin" id="register-password-parent">
    	<label id="register-password-label" class="uk-form-label" for="form-horizontal-text">Password</label>
        <div id="register-password-controls" class="uk-form-controls">
            <div><span class="uk-text-small uk-text-danger" id="register-password-input-errors"></span></div>
	        <div class="uk-inline" id="register-password-input-parent">
	            <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock" id="register-password-icon"></span>
	            <input class="uk-input" type="password" name="password" id="register-password-input" pattern=".{8,50}" title="Password must be 8-50 characters." required>
	        </div>
	    </div>
    </div>
    <div class="uk-margin" id="register-confirm-password-parent">
        <label id="register-confirm-password-label" class="uk-form-label" for="form-horizontal-text">Confirm Password</label>
        <div id="register-confirm-password-controls" class="uk-form-controls">
            <div class="uk-inline" id="register-confirm-password-input-parent">
                <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock" id="register-confirm-password-icon"></span>
                <input class="uk-input" type="password" name="confirm-password" id="register-confirm-password-input" required>
            </div>
        </div>
    </div>
    <div class="uk-margin" id="register-submit-parent">
    	<label id="register-submit-label" class="uk-form-label" for="form-horizontal-text"></label>
        <div class="uk-form-controls" id="register-submit-controls">
        	<div class="uk-inline" id="register-submit-input-parent">
	    		<input id="register-submit-button" class="uk-button uk-button-default" type="submit" value="Register"/>
	    	</div>
        </div>
    	
    </div>
</form>
{% else %}
<div>
    <p><span id="registration-not-permitted-lead" class="uk-text-lead">Registration Not Permitted</span></p>
    <p><span id="registration-not-permitted-message" class="uk-text-medium">We're sorry, registration is not permitted at this time. You can still browse as an anonymous user.</span></p>
</div>
{% endif %}
</div>
{% endblock %}