{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'Request Invite' %}{% endblock %}
{% block content %}	
<div class="row row-cols-1" id="request-invite-parent-grid">
{% if invite_sent %}
<p class="fs-3">{% translate 'Invite Requested' %}</p>
<p>{% blocktranslate %}Your invitation has been requested. You will receive an email with an invite code after admin approval.{% endblocktranslate %}</p>
{% else %}
<p class="fs-3">Request Invite</p>
<p>{% blocktranslate %}Registration is currently invite-only. You can request an invite code below.{% endblocktranslate %}</p>
<form method="post" id="request-invite-form">
	{% csrf_token %}
    <div class="mb-3" id="request-invite-email-parent">
        <label id="request-invite-email-label" class="form-label" for="request-invite-email-input">{% translate 'Email' %}</label>
        <input class="form-control" type="email" name="email" id="request-invite-email-input">
    </div>
    <div class="mb-3" id="request-invite-join-reason-parent">
        <label id="request-invite-join-reason-label" class="form-label" for="request-invite-join-reason-input">{% translate 'Join Reason' %}</label>
        <textarea class="form-control" rows="3" name="join_reason" id="request-invite-join-reason-input"></textarea>
    </div>
    {% if captcha_site_key %}
        {% if not request.user.is_authenticated %}
        <div class="mb-3" id ="request-invite-captcha-parent">
            <div class="h-captcha" data-sitekey="{{captcha_site_key}}"></div>
              <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        </div>
        {% endif %}
    {% endif %}
    <input id="request-invite-submit-button" class="btn btn-primary" type="submit" value="{% translate 'Request Invite' %}"/>
</form>
{% endif %}
</div>
{% endblock %}