{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'Password Reset Confirm' %}{% endblock %}
{% block content %}
<div class="row row-cols-1" id="reset-password-confirm-parent">
  <h1 id="reset-password-confirm-h1">{% translate 'Reset Your Password' %}</h1>
</div>
    <div>
      <form method="POST" id="reset-password-confirm-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% translate 'Reset' %}" class="btn btn-primary" id="reset-password-confirm-submit">
      </form>
    </div>
{% endblock %}