{% extends 'index.html' %}
{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="uk-width-1-1 uk-text-left" id="reset-password-parent"> 
  <h1 id="reset-password-h1">Password Reset</h1>
  <p id="reset-password-graf">Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST" class="uk-form-horizontal" id="reset-password-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="reset-password-submit" type="submit" class="uk-button uk-button-default" value="Reset password">
  </form>
</div>
{% endblock %}
