{% extends 'index.html' %}
{% block title %}Series - {{ series.title }}{% endblock %}
{% load static %}
{% load i18n %}
{% block content %}
{% include "series_tile.html" %}
{% if series.owner %}
    <div class="row row-cols-1 m-2">
        <p>
        <a id="series-edit-link" title="{% translate 'Edit' %}" class="link link-underline-opacity-0" href="{% url 'fe-edit-series' series.id %}"><i class="bi bi-pencil"></i></a>
        <a id="series-delete-link" title="{% translate 'Delete' %}" class="link link-underline-opacity-0" href="#" data-bs-toggle="modal" data-bs-target="#series-{{series.id}}-modal-delete"><i class="bi bi-trash"></i></a>
        </p>
    </div>
{% endif %}
{% if series.works_readonly %}
<div id="series-parent-sm" class="row row-cols-1 m-2">
    <p class="fs-3">{% translate 'Works' %}</p>
    <ul class="list-group">
        {% for work in series.works_readonly %}
            <li class="list-group-item" data-testid="series-work">
                <p><a href="{% url 'fe-work-view' work.id %}" target="_blank">{{work.title}}</a> by {% for user in work.users %}<a id="work-user-link" href="{% url 'user-profile-parent' user.id %}">{{ user.username }}</a>{% if not forloop.last %}, {% endif %}{% empty %}<a id="work-user-link" href="{% url 'user-profile-parent' work.user_id %}">{{ work.user }}</a>{% endfor %}</p>
                {% if work.summary %}
                    <p class="mt-3">{{work.summary|safe}}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% include "delete_modal.html" with object='series' object_friendly='series' object_id=series.id %}
{% endblock %}