{% load i18n %}
<div id="work-{{work.id}}-card" class="uk-card uk-card-hover uk-card-body uk-grid-small uk-child-width-1-2 uk-text-left uk-padding-small" uk-grid>
    <div id="work-{{work.id}}-sortable" class="uk-sortable-handle">
        <span class="uk-margin-small-right" uk-icon="icon: ourchive-hamburger;ratio:.75"></span><a href="{% url 'fe-work-view' work.id %}" title="{{work.title}}" target="_blank"><span id="work-{{work.id}}-span" class="uk-text-medium">{{work.title}}</span></a>
    </div>
    <div id="work-{{work.id}}-controls-div"><a title="{% translate 'Remove from series' %} {{ work.id }}" id="work-{{work.id}}-delete-link" uk-toggle="target: #work-series-{{work.id}}-modal-delete">{% translate 'Remove' %}</a></div>
</div>

<input type="hidden" class="series-tracker" id="work_{{work.id}}" name="work_series_num_{{work.id}}" value="{{work.series_num}}">
<input type="hidden" id="works_{{work.id}}" name="workidstoadd_{{work.id}}" value="workidstoadd_{{work.id}}"/>
{% include "delete_modal.html" with object='work-series' parent_object_id=series.id object_id=work.id delete_verb="Remove" delete_msg="Are you sure you want to remove this work from the series?" %}