{% load i18n %}
<div id="series-tile-parent-{{ series.id }}" class="uk-width-1-1 uk-padding-remove-horizontal">
	<div id="series-tile-card-{{ series.id }}" class="uk-card uk-card-default">
	    <div id="series-tile-header-parent" class="uk-card-header uk-padding-small ourchive-card-head">
	        <div id="series-tile-header-grid" class="uk-grid uk-child-width-expand" uk-grid>
		        <span id="series-{{ series.id }}-tile-title" class=" uk-margin-remove-bottom uk-inline ourchive-tile-title"><a id="series-{{ series.id }}-tile-title-link" href="{% url 'fe-series' series.id %}" data-testid="series-card-title">{{ series.title }}</a> by {% for user in series.users %}<a id="series-user-link" href="{% url 'user-profile-parent' user.id %}">{{ user.username }}</a>{% if not forloop.last %}, {% endif %}{% empty %}<a id="series-user-link" href="{% url 'user-profile-parent' series.user_id %}">{{ series.user }}</a>{% endfor %}</span>
		        {% if series.owner %}
		        <div id="series-tile-actions-parent" class="uk-align-right uk-text-right uk-margin-remove">
		            <a class="ourchive-icon-wrapper" id="series-tile-edit-{{ series.id }}-link" href="{% url 'fe-edit-series' series.id %}"><span id="series-tile-edit-span" uk-icon="icon: ourchive-edit;ratio:.75" title="Edit series {{ series.id }}"></span> </a>
		            <a class="ourchive-icon-wrapper" id="series-tile-delete-link" uk-toggle="target: #series-{{series.id}}-modal-delete"><span uk-icon="icon: ourchive-delete;ratio:.75" id="series-tile-delete-span" title="Delete"></span> </a>
			    <p>{% include "delete_modal.html" with object='series' object_friendly='series' object_id=series.id %}</p>
		        </div>
		        {% endif %}
		    </div>
		</div>
        {% if series.description %}
            <div class="uk-card-body ourchive-card-body uk-padding-small" id="series-{{series.id}}-tile-card-body">
	    	{% if series.description %}<p id="series-{{series.id}}-tile-description-p" class="uk-margin-remove-vertical">{% autoescape off %}{{ series.description }}{% endautoescape %}</p>{% endif %}
	        </div>
        {% endif %}
	    <div class="uk-card-footer ourchive-card-footer uk-padding-remove" id="series-tile-footer-parent">
	        <div class="uk-width-1-1 uk-padding-small uk-margin-small">
	        	{% include 'series_metadata.html' %}
	        </div>
	    </div>
	</div>  
</div>