<dl class="uk-description-list uk-margin-small-top uk-visible@s" id="{{obj_name}}-tags-dl">
{% for type, tag in tags %}
    <dt id="{{obj_name}}-tile-tag-type-{{type}}" class="uk-margin-small uk-visible@s"><span class="uk-text-bold">{{ type }}</span></dt>
    <dd id="{{obj_name}}-tile-tag-container-{{type}}" class="uk-visible@s">
    <span id="{{obj_name}}-tile-tag-icon-{{type}}" uk-icon="icon: tag"></span> {% for single_tag in tag %}
        <div class="uk-margin-small uk-inline"><a id="{{obj_name}}-tile-tag-{{single_tag.id}}-link" class="uk-button-primary uk-border-rounded ourchive-tag-list" href="/tags/{{single_tag.id}}?tag_id={{single_tag.id}}">{{ single_tag.display_text|default:single_tag.text }}</a></div> 
    {% endfor %}
    </dd>
{% endfor %}
</dl>
{% for type, tag in tags %}
<div class="uk-margin-small-top uk-hidden@s" id="{{obj_name}}-tags-dl-mb">
    <span class="uk-text-bold uk-margin-small uk-hidden@s">{{ type }}: </span>
    {% for single_tag in tag %}
        <a id="{{obj_name}}-tile-tag-{{single_tag.id}}-link-mb" href="/tags/{{single_tag.id}}?tag_id={{single_tag.id}}" class="uk-hidden@s ourchive-mobile-tag-list uk-inline">{{ single_tag.display_text|default:single_tag.text }}{% if not forloop.last %},{% endif %}</a>
    {% endfor %}
</div>
{% endfor %}