<div class="uk-margin-small-top uk-visible@s ourchive-tag-text" id="{{obj_name}}-tags-dl">
    {% if tags %}<hr class="uk-margin-remove uk-padding-remove ourchive-divider"/>{% endif %}
{% for type, tag in tags %}
    <div id="{{obj_name}}-tile-tag-type-{{type}}" class="uk-margin-small uk-visible@s">
        <span class="uk-text-bold uk-margin-right">{{ type }}</span>
        {% for single_tag in tag %}
            <div class="uk-inline uk-margin"><a id="{{obj_name}}-tile-tag-{{single_tag.id}}-link" class="uk-button-primary uk-button-tag uk-border-rounded ourchive-tag-list" href="/tags/{{single_tag.id}}?tag_id={{single_tag.id}}">{{ single_tag.display_text|default:single_tag.text }}</a></div> 
        {% endfor %}
    </div>
    {% if not forloop.last %}<hr class="uk-margin-remove uk-padding-remove ourchive-divider"/>{% endif %}
{% endfor %}
</div>
{% for type, tag in tags %}
<div class="uk-margin-small-top uk-hidden@s" id="{{obj_name}}-tags-dl-mb">
    <span class="uk-text-bold uk-margin-small uk-hidden@s">{{ type }}: </span>
    {% for single_tag in tag %}
        <a id="{{obj_name}}-tile-tag-{{single_tag.id}}-link-mb" href="/tags/{{single_tag.id}}?tag_id={{single_tag.id}}" class="uk-hidden@s ourchive-mobile-tag-list uk-inline">{{ single_tag.display_text|default:single_tag.text }}{% if not forloop.last %},{% endif %}</a>
    {% endfor %}
</div>
{% endfor %}