{% load i18n %}
{% if tags %}
<div class="uk-background-default uk-margin-small-top uk-width-auto uk-height-max-medium ourchive-autocomplete-parent" id="search-tag-autocomplete-parent">
	{% for tag in tags %}
		<div class="ourchive-autocomplete-child">
            <p id="search-tag-autocomplete-graf-{{tag.tag}}" class="uk-text-left uk-margin-large-left">
                <a id="populate-search-tag-href-{{tag.tag}}" {% if not click_action %}href="/tags/{{tag.id}}?term={{tag.tag}}"{% else %}onclick="{{ click_action }}"{% endif %}><span class="ourchive-autocomplete uk-text-small" id="search-tag-autocorrect-span-{{tag.tag}}">{{tag.display_text|default:tag.tag}}</span></a></p></div>
	{% endfor %}
</div>
{% endif %}