{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'Subscriptions' %}{% endblock %}
{% block content %}
    <div id="user-subscriptions-header" class="row row-cols-1">
        <h1 id="user-subscriptions-h1">{% translate 'Subscriptions' %}</h1>
        <hr/>
    </div>
    <div id="user-subscriptions-detail" class="row row-cols-1">
        <p class="fs-5">{% blocktranslate %}Welcome to your subscriptions page. You can access your subscription feeds by clicking the links below, or manage your subscriptions in the table.{% endblocktranslate %}</p>
    </div>
    <div class="user-subscriptions-links row row-cols-1" id="individual-subscription-buttons">
        <p><a href="{% url 'fe-user-bookmark-subscriptions' request.user.username %}" class="btn btn-primary">{% translate 'Bookmarks' %}</a>
        <a href="{% url 'fe-user-collection-subscriptions' request.user.username %}" class="btn btn-primary">{% translate 'Collections' %}</a>
        <a href="{% url 'fe-user-work-subscriptions' request.user.username %}" class="btn btn-primary">{% translate 'Works' %}</a>
        <a href="{% url 'fe-user-series-subscriptions' request.user.username %}" class="btn btn-primary">{% translate 'Series' %}</a>
        <a href="{% url 'fe-user-anthology-subscriptions' request.user.username %}" class="btn btn-primary">{% translate 'Anthologies' %}</a></p>
        <hr/>
    </div>
    <div id="user-subscriptions-content" class="row row-cols-1">
        <h3>{{ request.user.username }}'s Subscriptions</h3>
        {% if not subscriptions %}
        <p id="user-subscriptions-none-message">{% blocktranslate %}No subscriptions yet. To create a subscription, navigate to a user's profile and click the 'subscribe' button.{% endblocktranslate %}</p>
        {% endif %}
    </div>
    {% if subscriptions %}
    <div class="row row-cols-1">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">{% translate 'User' %}</th>
                <th scope="col">{% translate 'Subscribed to' %}</th>
                <th scope="col">{% translate 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr id="user-subscriptions-{{subscription.id}}-parent">
                <td id="user-subscriptions-{{subscription.id}}-user"><a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" href="{% url 'user-profile-parent' subscription.subscribed_user_id %}">{{subscription.subscribed_user}}</a></td>
                <td id="user-subscriptions-{{subscription.id}}-st">{% if subscription.subscribed_to_bookmark %}<p><a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="user-subscriptions-{{subscription.id}}-bookmark-link" href="{% url 'fe-user-bookmarks' subscription.subscribed_user %}">{% translate 'Bookmarks' %}</a></p>{% endif %}{% if subscription.subscribed_to_collection %}<p><a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="user-subscriptions-{{subscription.id}}-collection-link" href="{% url 'fe-user-collections' subscription.subscribed_user %}">{% translate 'Collections' %}</a></p>{% endif %}{% if subscription.subscribed_to_work %}<p><a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="user-subscriptions-{{subscription.id}}-work-link" href="{% url 'fe-user-works' subscription.subscribed_user %}">{% translate 'Works' %}</a></p>{% endif %}
                {% if subscription.subscribed_to_series %}<p><a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="user-subscriptions-{{subscription.id}}-series-link" href="{% url 'fe-user-series' subscription.subscribed_user %}">{% translate 'Series' %}</a></p>{% endif %}
                 {% if subscription.subscribed_to_anthology %}<p><a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="user-subscriptions-{{subscription.id}}-anthology-link" href="{% url 'fe-user-anthologies' subscription.subscribed_user %}">{% translate 'Anthologies' %}</a></p>{% endif %}</td>
                <td id="user-subscriptions-{{subscription.id}}-ac">(<a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="user-subscriptions-{{subscription.id}}-unsubscribe-link" href="#" data-bs-toggle="modal" data-bs-target="#subscription-{{subscription.id}}-unsubscribe">Unsubscribe</a>)</td>

            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% for subscription in subscriptions %}
        <div id="subscription-{{subscription.id}}-unsubscribe" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" id="subscription-{{subscription.id}}-unsubscribe-body">
                    <div class="modal-header">
                        <h2 id="subscription-{{subscription.id}}-unsubscribe-header">Unsubscribe</h2>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'fe-unsubscribe' request.user.username %}" method="post" id="unsubscribe-{{subscription.id}}-form">
                            {% csrf_token %}
                            <input type="hidden" id="unsubscribe-subscription-id" name="subscription_id" value="{{ subscription.id }}">
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-form-parent">
                                <input class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-all-checkbox" type="checkbox" name="unsubscribe_all">
                                <label id="unsubscribe-{{subscription.id}}-all-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-all-checkbox">{% translate 'Unsubscribe All' %}
                                </label>
                            </div>
                            {% if subscription.subscribed_to_bookmark %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-bookmarks-parent">
                                <input class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-bookmarks-checkbox" type="checkbox" name="subscribed_to_bookmark">
                                <label id="unsubscribe-{{subscription.id}}-bookmarks-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-bookmarks-checkbox">{% translate 'Unsubscribe Bookmarks' %}
                                </label>
                            </div>
                            {% endif %}
                            {% if subscription.subscribed_to_collection %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-collections-parent">
                                <input class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-collections-checkbox" type="checkbox" name="subscribed_to_collection">
                                <label id="unsubscribe-{{subscription.id}}-collections-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-collections-checkbox">{% translate 'Unsubscribe Collections' %}
                                </label>
                            </div>
                            {% endif %}
                            {% if subscription.subscribed_to_work %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-works-parent">
                                <input class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-works-checkbox" type="checkbox" name="subscribed_to_work">
                                <label id="unsubscribe-{{subscription.id}}-works-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-works-checkbox">{% translate 'Unsubscribe Works' %}
                                </label>
                            </div>
                            {% endif %}
                            {% if subscription.subscribed_to_series %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-series-parent">
                                <input class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-series-checkbox" type="checkbox" name="subscribed_to_series">
                                <label id="unsubscribe-{{subscription.id}}-series-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-series-checkbox">{% translate 'Unsubscribe Series' %}
                                </label>
                            </div>
                            {% endif %}
                            {% if subscription.subscribed_to_anthology %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-anthology-parent">
                                <input class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-anthology-checkbox" type="checkbox" name="subscribed_to_anthology">
                                <label id="unsubscribe-{{subscription.id}}-anthology-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-anthology-checkbox">{% translate 'Unsubscribe Anthology' %}
                                </label>
                            </div>
                            {% endif %}
                            <div class="mb-3" id="unsubscribe-buttons-container">
                                <input id="unsubscribe-cancel" class="btn btn-secondary w-25" value="{% translate 'Cancel' %}" data-bs-dismiss="modal"/>
                                <button id="unsubscribe-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
                                <input id="unsubscribe-submit" class="btn btn-primary w-25" type="submit" value="{% translate 'Submit' %}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}