{% extends 'index.html' %}
{% load i18n %}
{% block title %}Blocklist{% endblock %}
{% block content %}
    <div class="row row-cols-1">
        <h1>{% translate 'Blocklist' %}</h1>
    </div>
    <div class="row row-cols-1" >
        <hr/>
        {% if not blocklist %}
        <p id="user-blocklist-none-message">{% blocktranslate %}No users have been blocked. To block a user, navigate to their profile and click the "block" icon.{% endblocktranslate %}</p>
        {% endif %}
        <p id="user-blocklist-info-message">{% blocktranslate %}Blocked users cannot comment on your works, bookmarks, or collections. If you are experiencing issues with a blocked user, please contact your admin or report the user.{% endblocktranslate %}</p>
    </div>
    <div class="row row-cols-1" id="user-blocklist-grid">
        <ul class="list-group list-group-flush list-group-numbered">
        {% for block in blocklist %}
            <li class="list-group-item" id="user-blocklist-{{block.id}}-user">{{block.blocked_user_name}} (<a class="link-underline link-underline-opacity-0 link-underline-opacity-25-hover" id="user-blocklist-{{block.id}}-unblock-link" href="{% url 'fe-unblock-user' request.user.id block.id %}">{% translate 'Unblock' %}</a>)</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}