{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'Series Subscriptions' %}{% endblock %}
{% block content %}
    <div class="uk-grid uk-grid-small ourchive-content-padding ourchive-chive-grid" id="series-subscriptions-uk-grid" uk-grid>
        <div class="uk-width-1-1" id="series-subscriptions-view-parent">
            <h1 id="series-subscriptions-header-h1" class="uk-heading-line uk-text-center uk-margin-large-bottom"> <span id="series-subscriptions-header">{{request.user}}'s Series Subscriptions</span> </h1>
            {% include "series_list_body.html" with series=series.results %}
        </div>
    </div>
{% endblock %}