{% load i18n %}
{% if users %}
<div class="uk-background-muted">
	{% for user in users %}
	<div id="search-user-autocomplete-graf-{{user.id}}" class="uk-background-default uk-padding-small" onclick="populateUserInput('{{user.id}}', '{{user.username}}')"><span class="ourchive-autocomplete uk-text-small uk-link uk-text-bold" id="user-autocomplete-span-{{user.id}}">{{user.username}}</span></div>
	{% endfor %}
</div>
{% else %}
<div class="uk-background-muted">{% translate 'No users found' %}</div>
{% endif %}