{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Subscriptions' %}{% endblock %}
{% block content %}
    <div id="user-subscriptions-header" class="row row-cols-2">
        <h1 id="user-subscriptions-h1">{% translate 'Subscriptions' %}</h1>
        <p class="p-0"><a class="btn btn-primary float-end" href="{% url 'fe-user-subscriptions-manage' user.username %}">{% translate 'Manage Subscriptions' %}</a></p>
    </div>
    <div class="row row-cols-1"><hr/></div>
    {% include "search_results_body.html" %}
{% endblock %}