{% extends 'index.html' %}
{% load i18n %} 
{% block title %}{{ form_title }}{% endblock %}
{% block content %}
    <div class="row row-cols-1" id="report-user-header-parent">
        <h1>{% translate 'Report User' %}</h1>
    </div>
    <div class="row" id="user-report-parent-div">
        <div class="col-md-6 col-12">
            <form method="post" id="user-report-form">
                {% csrf_token %}
                <input type="hidden" id="user-report-reported-user" name="reported_user" value="{{ reported_user }}">
                <div class="mb-3" id="report-user-parent">
                    <label id="report-user-label" class="form-label" for="report-user-user">User to report <sup title="{% translate 'Blocking user help' %}"><a class="link-underline link-underline-opacity-0" data-bs-toggle="collapse" data-bs-target="#blocking-user-help" aria-controls="blocking-user-help" aria-expanded="false"><i class="bi bi-question-circle"></i></a></sup>
                    </label>
                    <p id="blocking-user-help" class="collapse">{% blocktranslate %}The user you are reporting. They will not be notified of your report.{% endblocktranslate %}</p>
                    <input id="report-user-user" class="form-control" value="{{ reported_user }}" disabled>
                </div>
                <div class="mb-3" id="report-user-reason-parent">
                    <label id="report-user-reason-label" class="uk-form-label" for="report-user-reason-select">Report Reason <sup title="{% translate 'Report reason help' %}"><a class="link-underline link-underline-opacity-0" data-bs-toggle="collapse" data-bs-target="#report-reason-help" aria-controls="report-reason-help" aria-expanded="false"><i class="bi bi-question-circle"></i></a></sup>
                    </label>
                    <p id="report-reason-help" class="collapse">{% blocktranslate %}These reasons are configured by your admin. Pick the one that most closely matches why you are reporting this user.{% endblocktranslate %}</p>
                    <select id="report-user-reason-select" class="form-select" name="reason">
                    {% for choice in report_reasons %}
                        <option id="report-user-reason-{{choice}}">{{choice}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="mb-3" id="report-reason-details-parent">
                    <label id="report-details-label" class="uk-form-label" for="report-details-text">Additional Details <sup title="{% translate 'Details help' %}"><a class="link-underline link-underline-opacity-0" data-bs-toggle="collapse" data-bs-target="#details-help" aria-controls="details-help" aria-expanded="false"><i class="bi bi-question-circle"></i></a></sup>
                    </label>
                    <p class="collapse" id="details-help">{% blocktranslate %}Add any context for the report here. Reports are reviewed by site admins.{% endblocktranslate %}</p>
                    <textarea class="form-control" id="report-details-text" name="details" rows="3"></textarea>
                </div>
                <div class="mb-3" id="user-form-buttons-container">
                    <input id="report-user-cancel" class="btn btn-secondary w-25" onclick="history.back()" value="{% translate 'Cancel' %}"/>
                    <button id="report-user-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
                    <input id="report-user-submit" class="btn btn-primary w-25" type="submit" value="{% translate 'Submit' %}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}