{% extends 'index.html' %}
{% load i18n %} 
{% block title %}{{ form_title }}{% endblock %}
{% block content %}	
{% load static %}
<script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
<div class="uk-width-1-1 uk-text-left" id="user-form-parent-div"> 
	<form class="uk-form-horizontal"  method="post" id="userForm" onsubmit="return getProfileText()">
		<script>
	        function getProfileText() {
	        	document.getElementById('profile').value = tinymce.get("profileEditor").getContent().replace(/\r?\n?/g, '');
	        }
    	</script>
		{% csrf_token %}
		<div id="user-form-buttons-top-parent" class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid>
			<div class="uk-width-1-2@m uk-width-1-1@s" id="edit-profile-header-parent">
            	<span id="edit-profile-header-span" class="uk-text-large">Edit Profile Information</span>
        	</div>
	        <div class="uk-text-right uk-width-1-2@m uk-width-1-1@s" id="user-form-buttons-container">
	        	<input id="user-form-cancel" class="uk-button uk-width-small uk-button-secondary" onclick="history.back()" value="Cancel"/>
            	<button id="user-form-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
	            <input id="user-form-submit" class="uk-button uk-width-small uk-button-primary" type="submit" value="Submit"/>
	        </div>
	    </div>
    <hr id="user-form-fieldset-hr"/>
		<fieldset id="user-form-fieldset" class="uk-fieldset">
		<input type="hidden" id="unaltered_icon" name="unaltered_icon" value="{{ user.icon }}">
		<input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
		<input type="hidden" id="user" name="user" value="{{ user.username }}">
        {% if request.user.can_upload_images %}
        <div class="uk-margin" id="user-icon-parent-div">
            <label id="user-icon-label" class="uk-form-label" for="form-horizontal-text">User Icon</label>
            <div class="uk-form-controls" id="user-icon-controls">
                <div class="uk-inline" id="user-icon-inline">
                	<img id="user-icon-img" src="{{ user.icon }}" style="border-radius: 50%; max-height: 50px; max-width: 50px;"/>
					{% include 'file_upload.html' with object='icon' replace_selector='user-icon-img' object_type='img' upload_placeholder='Upload new icon' original_value=user.icon %}
                </div>
            </div>
        </div>

        <div class="uk-margin" id="icon-alt-text-parent">
            <label id="icon-alt-text-label" class="uk-form-label" for="form-horizontal-text">Icon Alt Text</label>
            <div class="uk-form-controls" id="icon-alt-text-controls">
                <div class="uk-inline" id="icon-alt-text-inline">
                    <textarea id="icon-alt-text-area" class="uk-textarea uk-form-width-large" rows="2" placeholder="Image alt text" name="icon_alt_text" maxlength="600">{{ user.icon_alt_text|default_if_none:'' }}</textarea>
                </div>
            </div>
        </div>   
        {% endif %}
        <div class="uk-margin" id="default-content-parent">
            <label id="default-content-label" class="uk-form-label" for="form-horizontal-text">Default Content <sup class="uk-margin-small-left" uk-icon="icon: question" title="{% translate 'Default content help' %}"></sup>
                    <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}This determines the content a user sees first when visiting your profile.{% endblocktranslate %}</div></label>
            <div class="uk-form-controls" id="default-content-controls">
            	<select id="default-content-select" class="uk-select uk-form-width-small" name="default_content" title="{% translate 'Default content select' %}">
            	{% if user.default_content == "Work" %}
                    <option id="default-content-work-selected" value="Work" selected="selected">Work</option>
                    <option id="default-content-work-bookmark" value="Bookmark">Bookmark</option>
                    <option id="default-content-collection" value="Collection">Collection</option>
                {% elif user.default_content == "Bookmark" %} 
                	<option id="default-content-bookmark-work" value="Work">Work</option>
                    <option id="default-content-bookmark-selected" value="Bookmark" selected="selected">Bookmark</option>
                    <option id="default-content-collection" value="Collection">Collection</option>
                {% elif user.default_content == "Collection" %} 
                    <option id="default-content-collection-work" value="Work">Work</option>
                    <option id="default-content-collection-bookmark" value="Bookmark" selected="selected">Bookmark</option>
                    <option id="default-content-collection-selected" value="Collection" selected="selected">Collection</option>
                {% else %}
                	<option id="default-content-work" value="Work">Work</option>
                    <option id="default-content-bookmark" value="Bookmark">Bookmark</option>
                    <option id="default-content-collection" value="Collection">Collection</option>
                {% endif %}
                </select>
            </div>
        </div> 

        <div class="uk-margin" id="default-content-parent">
            <label id="default-work-type-label" class="uk-form-label" for="form-horizontal-text">Default Work Type <sup class="uk-margin-small-left" uk-icon="icon: question" title="{% translate 'Default work type help' %}"></sup>    
                    <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}This determines the default work type shown on the work form.{% endblocktranslate %}</div></label>
            <div class="uk-form-controls" id="default-content-controls">
                <select id="work-form-type-select" class="uk-select uk-form-width-small" name="default_work_type" title="{% translate 'Default work type select' %}">
                    {% for item in work_types %}
                        <option id="type_{{item.type_name}}" value="{{item.type_name}}" {% if user.default_work_type == item.type_name %} selected="selected" {% endif %}>{{ item.type_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div> 

        <div class="uk-margin" id="profile-collapse-image-parent">
            <label id="profile-collapse-image-label" class="uk-form-label" for="form-horizontal-text">Collapse image fields? <sup class="uk-margin-small-left" uk-icon="icon: question" title="{% translate 'Collapse image fields help' %}"></sup>    
                <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}If you select this, chapter image fields will be collapsed (but still accessible) by default when you create a chapter.{% endblocktranslate %}</div>
            </label>
            <div id="profile-collapse-image-controls" class="uk-form-controls">
                <div id="profile-collapse-image-inline" class="uk-inline">
                    <label id="profile-collapse-image-switch" class="switch"><input class="uk-checkbox" title="{% translate 'Collapse image fields input' %}" id="profile-collapse-image-checkbox" type="checkbox" name="collapse_chapter_image" {% if user.collapse_chapter_image %} checked {% endif %}> <span id="profile-collapse-image-slider" class="slider round"></span></label>
                </div>
            </div>
        </div> 

        <div class="uk-margin" id="profile-collapse-audio-parent">
            <label id="profile-collapse-audio-label" class="uk-form-label" for="form-horizontal-text">Collapse audio fields? <sup class="uk-margin-small-left" uk-icon="icon: question" title="{% translate 'Collapse audio fields help' %}"></sup>    
                <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}If you select this, chapter audio fields will be collapsed (but still accessible) by default when you create a chapter.{% endblocktranslate %}</div>
            </label>
            <div id="profile-collapse-audio-controls" class="uk-form-controls">
                <div id="profile-collapse-audio-inline" class="uk-inline">
                    <label id="profile-collapse-audio-switch" class="switch"><input class="uk-checkbox" title="{% translate 'Collapse audio fields input' %}" id="profile-collapse-audio-checkbox" type="checkbox" name="collapse_chapter_audio" {% if user.collapse_chapter_audio %} checked {% endif %}> <span id="profile-collapse-audio-slider" class="slider round"></span></label>
                </div>
            </div>
        </div>   

        <div class="uk-margin" id="profile-collapse-text-parent">
            <label id="profile-collapse-text-label" class="uk-form-label" for="form-horizontal-text">Collapse text fields? <sup class="uk-margin-small-left" uk-icon="icon: question" title="{% translate 'Collapse text fields help' %}"></sup>    
                <div class="uk-card uk-card-body uk-card-default" uk-drop>{% blocktranslate %}If you select this, chapter text fields will be collapsed (but still accessible) by default when you create a chapter.{% endblocktranslate %}</div>
            </label>
            <div id="profile-collapse-text-controls" class="uk-form-controls">
                <div id="profile-collapse-text-inline" class="uk-inline">
                    <label id="profile-collapse-text-switch" class="switch"><input class="uk-checkbox" title="{% translate 'Collapse text fields input' %}" id="profile-collapse-text-checkbox" type="checkbox" name="collapse_chapter_text" {% if user.collapse_chapter_text %} checked {% endif %}> <span id="profile-collapse-text-slider" class="slider round"></span></label>
                </div>
            </div>
        </div>      

        <div class="uk-margin" id="profile-text-parent">
            <label id="profile-text-label" class="uk-form-label" for="form-horizontal-text">Profile Text</label>
            <div class="uk-form-controls" id="profile-text-controls">
                <div class="uk-inline uk-child-width-expand uk-width-expand" id="profile-text-inline">
                	<input type="hidden" id="profile" name="profile" value="{{ user.profile|safe|default_if_none:'' }}">
                    <textarea id="profileEditor"></textarea>
                    <script type="text/javascript">
                                      tinymce.init({
                                        selector: '#profileEditor',
                                        width: '100%',
                                        contextmenu: false,
                                        height: 300,
                                        plugins: [
                                          'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                                          'fullscreen', 'insertdatetime',
                                          'media', 'table', 'emoticons'
                                        ],
                                        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                                          'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                                          'forecolor backcolor emoticons | help',
                                        menubar: '',
                                        init_instance_callback : function(editor) {
                                        	var profileText = document.getElementById('profile').value;
                                            editor.setContent(profileText);
                                        }
                                      });
                   </script>
                </div>
            </div>
        </div>
        {% if user.attribute_types %}
            <hr id="chapter-attributes-hr"/>
            {% include "object_attributes_form.html" with object='User' attribute_types=user.attribute_types %}
        {% endif %}
    </fieldset>
    <div id="user-form-buttons-bottom-parent" class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid>
        <div class="uk-text-right uk-align-right uk-width-1-1" id="user-form-buttons-btm-container">
            <input id="user-form-btm-cancel" class="uk-button uk-width-small uk-button-secondary" onclick="history.back()" value="Cancel" title="{% translate 'Cancel' %}"/>
            <button id="user-form-btm-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
            <input id="user-form-btm-submit" class="uk-button uk-width-small uk-button-primary" type="submit" value="Submit"/>
        </div>
    </div>
	</form>
</div>
{% endblock %}