{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'Collection Subscriptions' %}{% endblock %}
{% block content %}
    <div class="row row-cols-1 mb-3" id="collection-subscriptions-view-parent">
        <h1 id="collection-subscriptions-header-h1">{{request.user}}'s Collection Subscriptions</h1>
    </div>
    <div class="row row-cols-1">
        {% for bookmark_collection in bookmark_collections.results %}
            <div class="mb-3">{% include "bookmark_collection_tile.html" %}</div>
        {% endfor %}
    </div>
    <div class="row row-cols-1">
        {% include 'pagination.html' with previous=bookmark_collections.previous next=bookmark_collections.next object_name='collection' %}
    </div>
{% endblock %}