{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Saved Searches' %}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'frontend/css/searchable-multiselect.css' %}" />
    <script src="{% static 'frontend/js/searchable-multiselect-generic.js' %}"></script>
    <script>
        function populateSavedSearchExclude(element) {
            let tag = element.querySelectorAll('span')[0].innerHTML;
            let search = document.getElementById("exclude-wrapper").querySelector(".exclude-search-wrapper");
            const tagWrapper = document.createElement("div");
            tagWrapper.classList.add("selected-wrapper");
            tagWrapper.setAttribute("id", `exclude-wrapper-${tag}`);
            const tagWrapperSpan = document.createElement("span");
            tagWrapperSpan.classList.add("selected-label");
            tagWrapperSpan.innerText = tag;
            const close = document.createElement("a");
            close.classList.add("selected-close");
            close.setAttribute("tabindex", "-1");
            close.setAttribute("data-option", tag);
            close.setAttribute("data-hits", 0);
            close.setAttribute("uk-icon", "icon: ourchive-close");
            close.addEventListener("click", function() {
                document.getElementById(`exclude-wrapper-${tag}`).remove()
            });
            tagWrapper.appendChild(tagWrapperSpan);
            tagWrapper.appendChild(close);
            const hidden = document.createElement("input");
            hidden.setAttribute("type", "hidden");
            hidden.setAttribute("id", `exclude-${tag}`);
            hidden.setAttribute("name", `exclude-${tag}`);
            hidden.setAttribute("value", tag);
            document.getElementById("exclude-wrapper").insertBefore(tagWrapper, search);
            document.getElementById("exclude-wrapper").appendChild(hidden);
            document.getElementById("exclude-tag-search").value = "";
            UIkit.drop(document.getElementById("tag-autocomplete-dropdown-savedsearch")).hide();
            document.getElementById("tag-autocomplete-dropdown-savedsearch").innerHTML = "";
        }
    </script>
    <div class="uk-grid uk-grid-small ourchive-content-padding ourchive-chive-grid" id="user-saved-searches-uk-grid" uk-grid>
        <div class="uk-width-1-1 uk-text-left uk-padding-remove-horizontal" id="user-saved-searches-grid">
            <h1>{% translate 'Saved Searches' %}</h1>
            <hr/>
            {% if not saved_searches %}
            <p id="user-saved-searches-none-message" class="uk-text-default">{% translate 'No users have been blocked. To block a user, navigate to their profile and click the "block" icon.' %}</p>
            {% endif %}
        </div>
        {% for search in saved_searches.results %}
            <div id="saved-search-{{ search.id }}" class="uk-width-1-3 uk-box-shadow-small uk-padding ourchive-work-card">
                <h3>{{ search.name }}</h3>
                <hr class="ourchive-hr"/>
                <form class="uk-form-stacked" action="save-search" method="post">
                    {% csrf_token %}
                    <div class="uk-margin">
                        <label for="saved-search-{{ search.id }}-languages" class="uk-text-bold uk-form-label">{% translate 'Language' %}</label>
                        <div id="saved-search-{{ search.id }}-languages" class="uk-form-controls">
                            <select multiple data-multi-select-plugin name="languages[]" id="saved-search-{{ search.id }}-languages">
                                {% for language in search.languages %}
                                    <option value="{{language.display_name}}" {% if language.selected%} selected {% endif %}>{{language.display_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label for="saved-search-{{ search.id }}-status" class="uk-text-bold uk-form-label">{% translate 'Status' %}</label>
                        <div id="saved-search-{{ search.id }}-status" class="uk-form-controls">
                            <label><input class="uk-radio" type="radio" name="incomplete" {% if '0' in search.work_statuses and '1' not in search.work_statuses %}checked{% endif %}> {% translate 'Incomplete' %}</label><br>
                            <label><input class="uk-radio" type="radio" name="complete" {% if '1' in search.work_statuses and '0' not in search.work_statuses %}checked{% endif %}> {% translate 'Complete' %}</label><br>
                            <label><input class="uk-radio" type="radio" name="any" {% if '1' in search.work_statuses and '0' in search.work_statuses %}checked{% elif '1' not in search.work_statuses and '0' not in search.work_statuses %}checked{% endif %}> {% translate 'Any' %}</label><br>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label for="saved-search-{{ search.id }}-work-types" class="uk-text-bold uk-form-label">{% translate 'Work Type' %}</label>
                        <div id="saved-search-{{ search.id }}-work-types" class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            {% for work_type in search.work_types %}
                                <label><input class="uk-checkbox" type="checkbox" {% if work_type.checked %}checked{% endif %}> {{ work_type.type_name }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label for="word-count-{{ search.id }}" id="saved-search-{{ search.id }}-wordcount" class="uk-text-bold uk-form-label">{% translate 'Word Count' %}</label>
                        <div class="uk-form-controls uk-inline" id="word-count-{{ search.id }}">
                            <p class="uk-text-medium">{% translate 'Between' %}
                                <input class="uk-input uk-inline uk-width-small" id="word_count_gte" name="word_count_gte" type="text" value="{{ search.word_count_gte }}"/> {% translate 'and' %} <input class="uk-input uk-inline uk-width-small" id="word_count_lte" name="word_count_lte" type="text" value="{{ search.word_count_lte }}"/></p>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label for="saved-search-{{ search.id }}-tags" class="uk-text-bold uk-form-label">{% translate 'Tags' %}</label>
                        <div id="saved-search-{{ search.id }}-tags" class="uk-form-controls">
                            <span class="ourchive-muted">Include</span>
                            <select multiple data-multi-select-plugin name="include_facets_json[]" id="saved-search-{{ search.id }}-include-facets">
                                {% for tag in search.include_facets_json %}
                                    <option value="{{tag}}" selected>{{tag}}</option>
                                {% endfor %}
                            </select>

                            <span class="ourchive-muted">Exclude</span>
                            <div class="multi-select-component" id="exclude-wrapper">
                                {% for tag in search.exclude_facets_json %}
                                    <input type="hidden" id="exclude-{{ tag }}" name="exclude-{{ tag }}" value="{{ tag }}"/>
                                    <div class="selected-wrapper" id="exclude-wrapper-{{ tag }}"><span class="selected-label">{{tag}}</span><a class="selected-close" tabindex="-1" data-option="{{tag}}" data-hits="0" uk-icon="icon: ourchive-close"></a></div>
                                {% endfor %}
                                <div class="uk-width-expand exclude-search-wrapper">
                                    <input id="exclude-tag-search" class="uk-form-blank" autocomplete="off" tabindex="0" placeholder="{% translate 'Search for tags...' %}" oninput="doAutocomplete(this.value, 'search', 'savedsearch', '', ',', 'populateSavedSearchExclude(this)')">
                                </div>
                                <a href="" uk-icon="icon: chevron-down" class="uk-icon uk-margin-remove uk-flex-right"></a>
                            </div>
                            <div id="tag-autocomplete-dropdown-savedsearch" uk-drop></div>
                        </div>
                    </div>
                    <input id="saved-search-{{ search.id }}-submit" class="uk-button uk-button-primary uk-margin-top uk-align-center uk-width-medium uk-margin-small-bottom" type="submit" value="{% translate 'Update Search' %}"/>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}