{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'Bookmark Subscriptions' %}{% endblock %}
{% block content %}
    <div class="uk-grid uk-grid-small ourchive-content-padding ourchive-chive-grid" id="bookmark-subscriptions-uk-grid" uk-grid>
        <div class="uk-width-1-1" id="bookmark-subscriptions-view-parent">
            <h1 id="bookmark-subscriptions-header-h1" class="uk-heading-line uk-text-center uk-margin-large-bottom"> <span id="bookmark-subscriptions-header">{{request.user}}'s Bookmark Subscriptions</span> </h1>
            {% include "bookmarks_list.html" with bookmarks=bookmarks.results %}
        </div>
    </div>
{% endblock %}