{% extends 'index.html' %}
{% load i18n %}
{% block title %}User - {{ user.username }}{% endblock %}
{% block content %}	
{% if anchor %}
<script>
    window.onload = function(){
        const anchor_val = '{{anchor}}';
        window.location = '#'+anchor_val;
        show_val = anchor_val.includes("work") ? 0 : (anchor_val.includes("collection") ? 2 : 1);
        UIkit.switcher(document.getElementById("user_content_switcher_header")).show(show_val);
    };
</script>
{% endif %}
<div class="uk-width-1 uk-padding-remove-horizontal" id="user-profile-parent">
    <div class="uk-text-right uk-width-1" id="user-profile-controls-parent">
        {% if user.username == request.user.username %}
            <a id="user-profile-edit-link" href="{% url 'fe-user-profile-edit' user.id %}"><span uk-icon="icon: file-edit" title="Edit"></span> </a>
            <a id="user-profile-blocklist-link" class="uk-button-small" href="{% url 'fe-user-blocklist' user.username %}" title="Blocklist">{% translate 'Blocklist' %}</a>
        {% else %}
            {% if not user_blocked %}<a id="user-block-link" href="{% url 'fe-block-user' user.id %}"><span uk-icon="icon: ban" title="Block"></span> </a>
            {% else %}
            <a id="user-unblock-link" href="{% url 'fe-unblock-user' user.id user_blocked %}"><span uk-icon="icon: eye" title="Unblock"></span> </a>
            {% endif %}
            <a id="user-block-link" href="{% url 'report-user' user.username %}"><span uk-icon="icon: warning" title="Report"></span> </a>
        {% endif %}
            <a id="user-subscribe-link" class="uk-button-small" uk-toggle="target: #user-subscribe">{% translate 'Subscribe' %}</a>
    </div>
	<div class="uk-width-1 uk-align-center" id="user-profile-card-parent">
        <div class="uk-card uk-card-body uk-padding-remove-horizontal" id="user-profile-card-body"> 
            {% if user.icon and user.icon != "None" %} <img id="user-profile-icon" src="{{ user.icon }}" class="uk-align-center uk-height-max-small" style="border-radius: 50%"/> {% endif %}
            <h1 id="user-profile-username-h1" class="uk-heading-line uk-text-center"> <span id="user-profile-username-span">{{ user.username }}</span> </h1> 
        </div>
        {% if user.profile %}
            <div class="uk-card uk-card-body uk-align-center uk-padding-remove-horizontal" id="user-profile-text-parent">
                <h2 id="user-profile-text-h2"> Profile </h2>
                <span id="user-profile-text-span">{% autoescape off %} {{ user.profile }} {% endautoescape %}</span> 
            </div>
        {% endif %}
        {% if user.attributes %}
            <hr class="uk-margin-medium" id="user-attributes-hr"/>
            {% include "object_attributes.html" with object='user' object_id=user.id attributes=user.attributes %}
            <hr class="uk-margin-medium" id="user-attributes-lower-hr"/>
        {% endif %}
        <ul class="uk-subnav uk-subnav-pill" uk-switcher="active: {% if user.default_content == 'Work' %}0{% elif user.default_conect == 'Bookmark' %}1{% else %}2{% endif %}" id="user_content_switcher_header">
            {% if works %}<li><a href="#" id="user_works_selector">Works</a></li>{% endif %}
            {% if bookmarks %}<li><a href="#" id="user_bookmarks_selector">Bookmarks</a></li>{% endif %}
            {% if bookmark_collections %}<li><a href="#" id="user_collections_selector">Collections</a></li>{% endif %}
        </ul>
        <ul class="uk-switcher uk-margin" id="user_content_switcher">
            {% if works %}
            <li id="work_tab">
                {% include "works_list.html" with works=works root=root username=username next=works_next previous=works_previous include_header=False %} 
            </li>
            {% endif %}
            {% if bookmarks %}
            <li id="bookmark_tab">
                {% include "bookmarks_list.html" with bookmarks=bookmarks next=bookmarks_next previous=bookmarks_previous include_header=False %}
            </li>
            {% endif %}
            {% if bookmark_collections %}
            <li id="bookmark_collection_tab">
                {% include "bookmark_collections_list.html" with bookmark_collections=bookmark_collections next=bookmark_collections_next previous=bookmark_collections_previous include_header=False %}
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div id="user-subscribe" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" id="user-subscribe-body">
        <h2 id="user-subscribe-header" class="uk-modal-title">{% blocktranslate %}Subscribe to {% endblocktranslate %}{{ user.username }}</h2>
        <form class="uk-form-horizontal" action="{% url 'fe-subscribe' %}" method="post" id="user-subscribe-form">
            {% csrf_token %}
            {% if subscription %}
            <input type="hidden" id="subscribe-user-id" name="subscription_id" value="{{ subscription.id }}">
            {% endif %}
            <input type="hidden" id="subscribe-user-id" name="subscribed_to" value="{{ user.username }}">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-1" id="user-subscribe-bookmarks-parent">
                    <label id="user-subscribe-bookmarks-label" class="uk-form-label" for="form-horizontal-text">{% translate 'Subscribe to bookmarks' %}
                    </label>
                    <div class="uk-form-controls" id="user-subscribe-bookmarks-controls">
                        <label id="user-subscribe-bookmarks-switch" class="switch"><input class="uk-checkbox" id="user-subscribe-bookmarks-checkbox" type="checkbox" name="subscribed_to_bookmark" {% if subscription.subscribed_to_bookmark %} checked {% endif %}> <span id="user-subscribe-bookmarks-slider" class="slider round"></span></label>
                    </div>
                </div>
                <div class="uk-width-1-1" id="user-subscribe-collections-parent">
                    <label id="user-subscribe-collections-label" class="uk-form-label" for="form-horizontal-text">{% translate 'Subscribe to collections' %}
                    </label>
                    <div class="uk-form-controls" id="user-subscribe-collections-controls">
                        <label id="user-subscribe-collections-switch" class="switch"><input class="uk-checkbox" id="user-subscribe-collections-checkbox" type="checkbox" name="subscribed_to_collection" {% if subscription.subscribed_to_collection %} checked {% endif %}> <span id="user-subscribe-collections-slider" class="slider round"></span></label>
                    </div>
                </div>
                <div class="uk-text-right uk-width-1-1" id="user-subscribe-buttons-container">
                    <input id="user-subscribe-cancel" class="uk-button uk-width-small uk-button-default uk-modal-close" onclick="" value="Cancel"/>
                    <button id="user-subscribe-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
                    <input id="user-subscribe-submit" class="uk-button uk-width-small uk-button-primary" type="submit" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}