{% extends 'index.html' %}
{% block content %}	
{% load static %}
<script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
<div class="uk-width-1-1 uk-text-left" id="user-form-parent-div"> 
	<form class="uk-form-horizontal"  method="post" id="userForm" onsubmit="return getProfileText()">
		<script>
	        function getProfileText() {
	        	document.getElementById('profile').value = tinymce.get("profileEditor").getContent().replace(/\r?\n?/g, '');
	        }
    	</script>
		{% csrf_token %}
		<div id="user-form-buttons-top-parent" class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid>
			<div class="uk-width-1-2" id="edit-profile-header-parent">
            	<span id="edit-profile-header-span" class="uk-text-large">Edit Profile Information</span>
        	</div>
	        <div class="uk-text-right uk-width-1-2" id="user-form-buttons-container">
	        	<input id="user-form-cancel" class="uk-button uk-width-small uk-button-danger" onclick="history.back()" value="Cancel"/>
            	<button id="user-form-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
	            <input id="user-form-submit" class="uk-button uk-width-small uk-button-primary" type="submit" value="Submit"/>
	        </div>
	    </div>
    <hr id="user-form-fieldset-hr"/>
		<fieldset id="user-form-fieldset" class="uk-fieldset">
		<input type="hidden" id="unaltered_icon" name="unaltered_icon" value="{{ user.icon }}">
		<input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
		<input type="hidden" id="user" name="user" value="{{ user.username }}">
        <div class="uk-margin" id="user-icon-parent-div">
            <label id="user-icon-label" class="uk-form-label" for="form-horizontal-text">User Icon</label>
            <div class="uk-form-controls" id="user-icon-controls">
                <div class="uk-inline" id="user-icon-inline">
                	<img id="user-icon-img" src="{{ user.icon }}" style="border-radius: 50%; max-height: 50px; max-width: 50px;"/>
                	<div id="user-icon-upload-parent" class="js-upload-img uk-placeholder uk-text-center">
                    <span uk-icon="icon: cloud-upload"></span>
				    <div uk-form-custom="target: true">
			            <input type="file">
			            <input class="uk-input uk-form-width-medium" id="js-img-input" type="text" placeholder="Upload new icon" name="icon">
			        </div>
				    <progress id="js-progressbar-img" class="uk-progress" value="0" max="100" hidden></progress>
				    <script>
					    var bar = document.getElementById('js-progressbar-img');

					    UIkit.upload('.js-upload-img', {

					        url: '',
					        multiple: false,

					        beforeSend: function () {
					            function getCookie(name) {
					                var cookieValue = null;
					                if (document.cookie && document.cookie !== '') {
					                    var cookies = document.cookie.split(';');
					                    cookies.forEach(function (value) { 
					                        var cookie = value.trim();
					                        // Does this cookie string begin with the name we want?
					                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
					                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					                            return;
					                        }
					                    });
					                }
					                return cookieValue;
					            }
					            var csrftoken = getCookie('csrftoken');
					            arguments[0]['headers']['X-CSRFToken'] = csrftoken;
					            console.log('beforeSend', arguments);
					        },
					        beforeAll: function () {
					            console.log('beforeAll', arguments);
					        },
					        load: function () {
					            console.log('load', arguments);
					        },
					        error: function () {
					            console.log('error', arguments);
					        },
					        complete: function () {
					            console.log('complete', arguments);
					        },

					        loadStart: function (e) {
					            console.log('loadStart', arguments);

					            bar.removeAttribute('hidden');
					            bar.max = e.total;
					            bar.value = e.loaded;
					        },

					        progress: function (e) {
					            console.log('progress', arguments);

					            bar.max = e.total;
					            bar.value = e.loaded;
					        },

					        loadEnd: function (e) {
					            console.log('loadEnd', arguments);

					            bar.max = e.total;
					            bar.value = e.loaded;
					        },

					        completeAll: function () {
					            console.log('completeAll', arguments);

					            setTimeout(function () {
					                bar.setAttribute('hidden', 'hidden');
					            }, 1000);

					            document.getElementById('js-img-input').value = arguments[0]['response'];
					        }

					    });

					</script>
				</div>

                </div>
            </div>
        </div>

        <div class="uk-margin" id="icon-alt-text-parent">
            <label id="icon-alt-text-label" class="uk-form-label" for="form-horizontal-text">Icon Alt Text</label>
            <div class="uk-form-controls" id="icon-alt-text-controls">
                <div class="uk-inline" id="icon-alt-text-inline">
                    <textarea id="icon-alt-text-area" class="uk-textarea uk-form-width-large" rows="2" placeholder="Image alt text" name="icon_alt_text" maxlength="600">{{ user.icon_alt_text|default_if_none:'' }}</textarea>
                </div>
            </div>
        </div>   

        <div class="uk-margin" id="default-content-parent">
            <label id="default-content-label" class="uk-form-label" for="form-horizontal-text">Default Content</label>
            <div class="uk-form-controls" id="default-content-controls">
            	<select id="default-content-select" class="uk-select uk-form-width-small" name="default_content">
            	{% if user.default_content == "Work" %}
                    <option id="default-content-work-selected" value="Work" selected="selected">Work</option>
                    <option id="default-content-work-bookmark" value="Bookmark">Bookmark</option>
                {% elif user.default_content == "Bookmark" %} 
                	<option id="default-content-bookmark-work" value="Work">Work</option>
                    <option id="default-content-bookmark-selected" value="Bookmark" selected="selected">Bookmark</option>
                {% else %}
                	<option id="default-content-work" value="Work">Work</option>
                    <option id="default-content-bookmark" value="Bookmark">Bookmark</option>
                {% endif %}
                </select>
            </div>
        </div>      

        <div class="uk-margin" id="profile-text-parent">
            <label id="profile-text-label" class="uk-form-label" for="form-horizontal-text">Profile Text</label>
            <div class="uk-form-controls" id="profile-text-controls">
                <div class="uk-inline" id="profile-text-inline">
                	<input type="hidden" id="profile" name="profile" value="{{ user.profile|safe|default_if_none:'' }}">
                    <textarea id="profileEditor"></textarea>
                    <script type="text/javascript">
                                      tinymce.init({
                                        selector: '#profileEditor',
                                        width: 600,
                                        height: 300,
                                        plugins: [
                                          'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                                          'fullscreen', 'insertdatetime',
                                          'media', 'table', 'emoticons'
                                        ],
                                        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                                          'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                                          'forecolor backcolor emoticons | help',
                                        menubar: '',
                                        content_css: 'css/content.css',
                                        init_instance_callback : function(editor) {
                                        	var profileText = document.getElementById('profile').value;
                                            editor.setContent(profileText);
                                        }
                                      });
                   </script>
                </div>
            </div>
        </div>
    </fieldset>
	</form>
</div>
{% endblock %}