{% extends 'index.html' %}
{% load i18n %}
{% block title %}Subscriptions{% endblock %}
{% block content %}	
	<div id="user-subscriptions-header" class="uk-width-1-1 uk-padding-remove-horizontal">
		<h1 id="user-subscriptions-h1">Subscriptions</h1>
		<hr/>
	</div>
	<div id="user-subscriptions-detail" class="uk-width-1-1 uk-padding-remove-horizontal">
		<p class="uk-text-large">{% blocktranslate %}Welcome to your subscriptions page. You can access your subscription feeds by clicking the links below, or manage your subscriptions in the table.{% endblocktranslate %}</p>
	</div>
	<div class="user-subscriptions-links uk-width-1-1 uk-padding-remove-horizontal" id="individual-subscription-buttons">
		<a href="{% url 'fe-user-bookmark-subscriptions' request.user.username %}" class="uk-button-primary uk-button">{% translate 'Bookmarks' %}</a>
		<a href="{% url 'fe-user-collection-subscriptions' request.user.username %}" class="uk-button-primary uk-button">{% translate 'Collections' %}</a>
		<a href="#" class="uk-button-default uk-button uk-disabled">{% translate 'Works' %} ({% translate 'Coming Soon!' %})</a>
		<a href="#" class="uk-button-default uk-button uk-disabled">{% translate 'Anthologies' %} ({% translate 'Coming Soon!' %})</a>
		<hr/>
	</div>
	<div id="user-subscriptions-content" class="uk-width-1-1 uk-padding-remove-horizontal">
		<h3>{{ request.user.username }}'s Subscriptions</h3>
		{% if not subscriptions %}
		<p id="user-subscriptions-none-message">{% blocktranslate %}No subscriptions yet. To create a subscription, navigate to a user's profile and click the 'subscribe' button.{% endblocktranslate %}</p>
		{% endif %}
	</div>
	<div class="uk-overflow-auto uk-width-1-1 uk-padding-remove-horizontal">
		<table class="uk-table uk-table-striped">
	    <thead>
	        <tr>
	            <th>{% translate 'User' %}</th>
	            <th>{% translate 'Subscribed to' %}</th>
	            <th>{% translate 'Actions' %}</th>
	        </tr>
	    </thead>
	    <tbody>
		{% for subscription in subscriptions %}
			<tr id="user-subscriptions-{{subscription.id}}-parent">
		        <td id="user-subscriptions-{{subscription.id}}-user"><a href="{% url 'user-profile-parent' subscription.subscribed_user_id %}">{{subscription.subscribed_user}}</a></td>
		        <td id="user-subscriptions-{{subscription.id}}-st">{% if subscription.subscribed_to_bookmark %}<p><span class="uk-margin"><a class="uk-link" id="user-subscriptions-{{subscription.id}}-bookmark-link" href="{% url 'fe-user-bookmarks' subscription.subscribed_user %}">{% translate 'Bookmarks' %}</a></span></p>{% endif %}{% if subscription.subscribed_to_collection %}<p><span class="uk-margin"><a class="uk-link" id="user-subscriptions-{{subscription.id}}-collection-link" href="{% url 'fe-user-collections' subscription.subscribed_user %}">{% translate 'Collections' %}</span></a></p>{% endif %}</td>
		        <td id="user-subscriptions-{{subscription.id}}-ac">(<a id="user-subscriptions-{{subscription.id}}-unsubscribe-link" uk-toggle="target: #subscription-{{subscription.id}}-unsubscribe">Unsubscribe</a>)</td>
		        <div id="subscription-{{subscription.id}}-unsubscribe" uk-modal>
			    <div class="uk-modal-dialog uk-modal-body" id="subscription-{{subscription.id}}-unsubscribe-body">
			        <h2 id="subscription-{{subscription.id}}-unsubscribe-header" class="uk-modal-title">Unsubscribe</h2>
			        <form class="uk-form-horizontal" action="{% url 'fe-unsubscribe' request.user.username %}" method="post" id="unsubscribe-{{subscription.id}}-form">
						{% csrf_token %}
						<input type="hidden" id="unsubscribe-subscription-id" name="subscription_id" value="{{ subscription.id }}">
				        <div class="uk-grid" uk-grid>
				        	{% if subscription.subscribed_to_bookmark and subscription.subscribed_to_collection %}
				            <div class="uk-width-1-1" id="unsubscribe-{{subscription.id}}-form-parent">
				                <label id="unsubscribe-{{subscription.id}}-all-label" class="uk-form-label" for="form-horizontal-text">{% translate 'Unsubscribe All' %}
				                </label>
				                <div class="uk-form-controls" id="unsubscribe-{{subscription.id}}-all-controls">
				                    <label id="unsubscribe-{{subscription.id}}-all-switch" class="switch"><input class="uk-checkbox" id="unsubscribe-{{subscription.id}}-all-checkbox" type="checkbox" name="unsubscribe_all"> <span id="unsubscribe-{{subscription.id}}-all-slider" class="slider round"></span></label>
				                </div>
				            </div>
				            {% endif %}
				            {% if subscription.subscribed_to_bookmark %}
				            <div class="uk-width-1-1" id="unsubscribe-{{subscription.id}}-bookmarks-parent">
				                <label id="unsubscribe-{{subscription.id}}-bookmarks-label" class="uk-form-label" for="form-horizontal-text">{% translate 'Unsubscribe Bookmarks' %}
				                </label>
				                <div class="uk-form-controls" id="unsubscribe-{{subscription.id}}-bookmarks-controls">
				                    <label id="unsubscribe-{{subscription.id}}-bookmarks-switch" class="switch"><input class="uk-checkbox" id="unsubscribe-{{subscription.id}}-bookmarks-checkbox" type="checkbox" name="subscribed_to_bookmark"> <span id="unsubscribe-{{subscription.id}}-bookmarks-slider" class="slider round"></span></label>
				                </div>
				            </div>
				            {% endif %}
				            {% if subscription.subscribed_to_collection %}
				            <div class="uk-width-1-1" id="unsubscribe-{{subscription.id}}-collections-parent">
				                <label id="unsubscribe-{{subscription.id}}-collections-label" class="uk-form-label" for="form-horizontal-text">{% translate 'Unsubscribe Collections' %}
				                </label>
				                <div class="uk-form-controls" id="unsubscribe-{{subscription.id}}-collections-controls">
				                    <label id="unsubscribe-{{subscription.id}}-collections-switch" class="switch"><input class="uk-checkbox" id="unsubscribe-{{subscription.id}}-collections-checkbox" type="checkbox" name="subscribed_to_collection"> <span id="unsubscribe-{{subscription.id}}-collections-slider" class="slider round"></span></label>
				                </div>
				            </div>
				            {% endif %}
				            <div class="uk-text-right uk-width-1-1" id="unsubscribe-buttons-container">
					        	<input id="unsubcribe-cancel" class="uk-button uk-width-small uk-button-default uk-modal-close" onclick="history.back()" value="Cancel"/>
				            	<button id="unsubcribe-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
					            <input id="unsubcribe-submit" class="uk-button uk-width-small uk-button-primary" type="submit" value="Submit"/>
						    </div>
			        	</div>
					</form>
			    </div>
			</div>
		    </tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
{% endblock %}