{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% translate 'User' %} - {{ user.username }}{% endblock %}
{% block content %}
    <div class="row row-cols-1" id="user-profile-parent">
        <p class="text-end" id="user-profile-controls-parent">
            {% if user.username == request.user.username %}
                <a class="link-underline link-underline-opacity-0" id="user-profile-edit-link" title="Edit" href="{% url 'fe-user-profile-edit' user.id %}"><i class="bi bi-pencil"></i></a>
                <a id="user-profile-blocklist-link" class="link-underline link-underline-opacity-0" href="{% url 'fe-user-blocklist' user.username %}" title="{% translate 'Blocklist' %}"><i class="bi bi-ban"></i></a>
            {% else %}
                {% if not user_blocked %}<a class="link-underline link-underline-opacity-0" id="user-block-link" href="{% url 'fe-block-user' user.id %}" title="{% translate 'Block' %}"><i class="bi bi-ban"></i></a>
                {% else %}
                <a class="link-underline link-underline-opacity-0" id="user-unblock-link" href="{% url 'fe-unblock-user' user.id user_blocked %}" title="{% translate 'Unblock' %}"><i class="bi bi-eye"></i></a>
                {% endif %}
                <a class="link-underline link-underline-opacity-0" id="user-block-link" href="{% url 'report-user' user.username %}" title="{% translate 'Report' %}"><i class="bi bi-flag"></i></a>
                <a class="link-underline link-underline-opacity-0" id="user-subscribe-link" href="#" data-bs-toggle="modal" data-bs-target="#user-subscribe" title="{% translate 'Subscribe' %}"><i class="bi bi-send-plus"></i></a>
            {% endif %}
        </p>
    </div>
    <div class="row row-cols-1" id="user-profile-card-parent">
        {% if user.icon and user.icon != "None" %} <p class="text-center"><img id="user-profile-icon" src="{{ user.icon }}" class="rounded-circle oc-icon" alt="{{ user.username }}"/> {% endif %}</p>
        <h1 id="user-profile-username-h1" class="text-center">{{ user.username }}</h1>
        {% if user.profile %}
            <div class="uk-card uk-card-body uk-align-center uk-padding-remove-horizontal" id="user-profile-text-parent">
                <h2 id="user-profile-text-h2"> Profile </h2>
                <span id="user-profile-text-span">{% autoescape off %} {{ user.profile }} {% endautoescape %}</span>
            </div>
        {% endif %}
        {% if user.attributes %}
            <hr id="user-attributes-hr"/>
            {% include "object_attributes.html" with object='user' object_id=user.id attributes=user.attributes %}
            <hr id="user-attributes-lower-hr"/>
        {% endif %}
        <ul class="nav nav-tabs" role="tablist" id="user_content_switcher_header">
            <li class="nav-item" role="presentation"><button class="nav-link {% if anchor == 0 %}active{% endif %}" id="works-tab" data-bs-toggle="tab" data-bs-target="#works-tab-pane" type="button" role="tab" aria-controls="works-tab-pane" aria-selected="true">{% translate 'Works' %} ({{ work_count }})</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link {% if anchor == 1 %}active{% endif %}" id="bookmarks-tab" data-bs-toggle="tab" data-bs-target="#bookmarks-tab-pane" type="button" role="tab" aria-controls="bookmarks-tab-pane">{% translate 'Bookmarks' %} ({{ bookmark_count }})</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link {% if anchor == 2 %}active{% endif %}" id="collections-tab" data-bs-toggle="tab" data-bs-target="#collections-tab-pane" type="button" role="tab" aria-controls="collections-tab-pane">{% translate 'Collections' %} ({{ collection_count }})</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link {% if anchor == 3 %}active{% endif %}" id="series-tab" data-bs-toggle="tab" data-bs-target="#series-tab-pane" type="button" role="tab" aria-controls="series-tab-pane">{% translate 'Series' %} ({{ series_count }})</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link {% if anchor == 4 %}active{% endif %}" id="anthologies-tab" data-bs-toggle="tab" data-bs-target="#anthologies-tab-pane" type="button" role="tab" aria-controls="anthologies-tab-pane">{% translate 'Anthologies' %} ({{ anthology_count }})</button></li>
        </ul>
        <div class="tab-content mt-3" id="user_content_switcher">
            <div class="tab-pane fade {% if anchor == 0 %}show active{% endif %}" role="tabpanel" aria-labelledby="works-tab" tabindex="0" id="works-tab-pane">
                {% include "works_list.html" with works=works root=root username=username next=works_next previous=works_previous include_header=False %}
            </div>
            <div class="tab-pane fade {% if anchor == 1 %}show active{% endif %}" role="tabpanel" aria-labelledby="bookmarks-tab" tabindex="0" id="bookmarks-tab-pane">
                {% include "bookmarks_list.html" with bookmarks=bookmarks next=bookmarks_next previous=bookmarks_previous include_header=False %}
            </div>
            <div class="tab-pane fade {% if anchor == 2 %}show active{% endif %}" role="tabpanel" aria-labelledby="collections-tab" tabindex="0" id="collections-tab-pane">
                {% include "bookmark_collections_list.html" with bookmark_collections=bookmark_collections next=bookmark_collections_next previous=bookmark_collections_previous include_header=False %}
            </div>
            <div class="tab-pane fade {% if anchor == 3 %}show active{% endif %}" role="tabpanel" aria-labelledby="series-tab" tabindex="0" id="series-tab-pane">
                {% include "series_list_body.html" with series=series next=series_next previous=series_previous include_header=False %}
            </div>
            <div class="tab-pane fade {% if anchor == 4 %}show active{% endif %}" role="tabpanel" aria-labelledby="anthologies-tab" tabindex="0" id="anthologies-tab-pane">
                {% include "anthologies_list_body.html" with anthologies=anthologies next=anthologies_next previous=anthologies_previous include_header=False %}
            </div>
        </div>
    </div>
    {% include "user_subscribe_modal.html" %}
{% endblock %}