{% load i18n %}
<div id="user-subscribe" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" id="user-subscribe-body">
        <h2 id="user-subscribe-header" class="uk-modal-title">{% blocktranslate %}Subscribe to {% endblocktranslate %}{{ user.username }}</h2>
        <form class="uk-form-horizontal" action="{% url 'fe-subscribe' %}" method="post" id="user-subscribe-form">
            {% csrf_token %}
            {% if subscription %}
            <input type="hidden" id="subscribe-user-id" name="subscription_id" value="{{ subscription.id }}">
            {% endif %}
            <input type="hidden" id="subscribe-user-id" name="subscribed_to" value="{{ user.username }}">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-1" id="user-subscribe-bookmarks-parent">
                    <label id="user-subscribe-bookmarks-label" class="uk-form-label" for="form-horizontal-text">{% translate 'Subscribe to bookmarks' %}
                    </label>
                    <div class="uk-form-controls" id="user-subscribe-bookmarks-controls">
                        <label id="user-subscribe-bookmarks-switch" class="switch"><input class="uk-checkbox" id="user-subscribe-bookmarks-checkbox" type="checkbox" name="subscribed_to_bookmark" {% if subscription.subscribed_to_bookmark %} checked {% endif %}> <span id="user-subscribe-bookmarks-slider" class="slider round"></span></label>
                    </div>
                </div>
                <div class="uk-width-1-1" id="user-subscribe-collections-parent">
                    <label id="user-subscribe-collections-label" class="uk-form-label" for="form-horizontal-text">{% translate 'Subscribe to collections' %}
                    </label>
                    <div class="uk-form-controls" id="user-subscribe-collections-controls">
                        <label id="user-subscribe-collections-switch" class="switch"><input class="uk-checkbox" id="user-subscribe-collections-checkbox" type="checkbox" name="subscribed_to_collection" {% if subscription.subscribed_to_collection %} checked {% endif %}> <span id="user-subscribe-collections-slider" class="slider round"></span></label>
                    </div>
                </div>
                <div class="uk-width-1-1" id="user-subscribe-works-parent">
                    <label id="user-subscribe-works-label" class="uk-form-label" for="form-horizontal-text">{% translate 'Subscribe to works' %}
                    </label>
                    <div class="uk-form-controls" id="user-subscribe-works-controls">
                        <label id="user-subscribe-works-switch" class="switch"><input class="uk-checkbox" id="user-subscribe-works-checkbox" type="checkbox" name="subscribed_to_work" {% if subscription.subscribed_to_work %} checked {% endif %}> <span id="user-subscribe-works-slider" class="slider round"></span></label>
                    </div>
                </div>
                <div class="uk-text-right uk-width-1-1" id="user-subscribe-buttons-container">
                    <input id="user-subscribe-cancel" class="uk-button uk-width-small uk-button-default uk-modal-close" onclick="" value="Cancel"/>
                    <button id="user-subscribe-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
                    <input id="user-subscribe-submit" class="uk-button uk-width-small uk-button-primary" type="submit" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>