{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Subscriptions' %}{% endblock %}
{% block content %}
    <div id="user-subscriptions-header">
        <h1 id="user-subscriptions-h1">{% translate 'Manage Subscriptions' %}</h1>
        <hr class="ourchive-hr"/>
    </div>
    <div id="grid-wrapper"></div>
    {% if subscriptions %}
    <div class="row row-cols-1">
    {% for subscription in subscriptions_md %}
        {% if subscription.obj_type == 'User' %}
        <div id="subscription-{{subscription.id}}-unsubscribe" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" id="subscription-{{subscription.id}}-unsubscribe-body">
                    <div class="modal-header">
                        <h2 id="subscription-{{subscription.id}}-unsubscribe-header">Unsubscribe</h2>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'fe-unsubscribe' request.user.username %}" method="post" id="unsubscribe-{{subscription.id}}-form">
                            {% csrf_token %}
                            <input type="hidden" id="unsubscribe-subscription-id" name="subscription_id" value="{{ subscription.id }}">
                            <input type="hidden" id="unsubscribe-subscription-type" name="subscription_type" value="{{ subscription.obj_type }}">
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-form-parent">
                                <input data-testid="unsubscribe-all" class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-all-checkbox" type="checkbox" name="unsubscribe_all">
                                <label id="unsubscribe-{{subscription.id}}-all-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-all-checkbox">{% translate 'Unsubscribe All' %}
                                </label>
                            </div>
                            {% if subscription.subscribed_to_bookmark %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-bookmarks-parent">
                                <input data-testid="unsubscribe-bookmark" class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-bookmarks-checkbox" type="checkbox" name="subscribed_to_bookmark">
                                <label id="unsubscribe-{{subscription.id}}-bookmarks-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-bookmarks-checkbox">{% translate 'Unsubscribe Bookmarks' %}
                                </label>
                            </div>
                            {% endif %}
                            {% if subscription.subscribed_to_collection %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-collections-parent">
                                <input data-testid="unsubscribe-collection" class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-collections-checkbox" type="checkbox" name="subscribed_to_collection">
                                <label id="unsubscribe-{{subscription.id}}-collections-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-collections-checkbox">{% translate 'Unsubscribe Collections' %}
                                </label>
                            </div>
                            {% endif %}
                            {% if subscription.subscribed_to_work %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-works-parent">
                                <input data-testid="unsubscribe-work" class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-works-checkbox" type="checkbox" name="subscribed_to_work">
                                <label id="unsubscribe-{{subscription.id}}-works-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-works-checkbox">{% translate 'Unsubscribe Works' %}
                                </label>
                            </div>
                            {% endif %}
                            {% if subscription.subscribed_to_series %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-series-parent">
                                <input data-testid="unsubscribe-series" class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-series-checkbox" type="checkbox" name="subscribed_to_series">
                                <label id="unsubscribe-{{subscription.id}}-series-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-series-checkbox">{% translate 'Unsubscribe Series' %}
                                </label>
                            </div>
                            {% endif %}
                            {% if subscription.subscribed_to_anthology %}
                            <div class="mb-3 form-check form-switch" id="unsubscribe-{{subscription.id}}-anthology-parent">
                                <input data-testid="unsubscribe-anthology" class="form-check-input" role="switch" id="unsubscribe-{{subscription.id}}-anthology-checkbox" type="checkbox" name="subscribed_to_anthology">
                                <label id="unsubscribe-{{subscription.id}}-anthology-label" class="form-check-label" for="unsubscribe-{{subscription.id}}-anthology-checkbox">{% translate 'Unsubscribe Anthology' %}
                                </label>
                            </div>
                            {% endif %}
                            <div class="mb-3" id="unsubscribe-buttons-container">
                                <input id="unsubscribe-{{subscription.id}}-cancel" class="btn btn-secondary w-25" value="{% translate 'Cancel' %}" data-bs-dismiss="modal"/>
                                <button id="unsubscribe-{{subscription.id}}-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
                                <input data-testid="unsubscribe-submit" id="unsubscribe-{{subscription.id}}-submit" class="btn btn-primary w-25" type="submit" value="{% translate 'Submit' %}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            {% else %}
            <div id="subscription-{{subscription.id}}-unsubscribe" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" id="subscription-{{subscription.id}}-unsubscribe-body">
                    <div class="modal-header">
                        <h2 id="subscription-{{subscription.id}}-unsubscribe-header">Unsubscribe</h2>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'fe-unsubscribe' request.user.username %}" method="post" id="unsubscribe-{{subscription.id}}-form">
                            {% csrf_token %}
                            <input type="hidden" id="unsubscribe-subscription-id" name="subscription_id" value="{{ subscription.id }}">
                            <input type="hidden" id="unsubscribe-subscription-type" name="subscription_type" value="{{ subscription.obj_type }}">
                            <input data-testid="unsubscribe-chive" id="unsubscribe-{{subscription.id}}-chive-checkbox" type="hidden" name="subscribed_to_chive" value="true">
                            <div id="chive-unsubscribe-{{subscription.id}}-form-title-parent" class="mb-3">
                                <p>{% blocktranslate %}Are you sure you want to unnsubscribe from{% endblocktranslate %} <em>{{ subscription.title }}</em>?</p>
                            </div>
                            <div class="mb-3" id="unsubscribe-buttons-container">
                                <input id="unsubscribe-{{subscription.id}}-cancel" class="btn btn-secondary w-25" value="{% translate 'Cancel' %}" data-bs-dismiss="modal"/>
                                <button id="unsubscribe-{{subscription.id}}-suppress-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
                                <input data-testid="unsubscribe-submit" id="unsubscribe-{{subscription.id}}-submit" class="btn btn-primary w-25" type="submit" value="{% translate 'Submit' %}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    <script src="{% static 'frontend/js/gridjs.umd.js' %}"></script>
    <script>
    const grid = new gridjs.Grid({
          columns: [
              {
                name: 'Creator',
                id: 'user',
              },
              {
                  name: '{% translate 'Chive(s)' %}',
                  id: 'title'
              },
              'Type',
              {
                name: 'Id',
                hidden: true
              },
              {
                  name: 'Actions',
                  formatter: (cell, row) => {
                      return gridjs.h('button', {
                          className: 'btn btn-primary',
                          onClick: () => {
                              var myModal = new bootstrap.Modal(document.getElementById(`subscription-${row.cells[3].data}-unsubscribe`));
                              myModal.toggle();
                          }
                      }, 'Edit');
                  }
              }
          ],
          search: true,
          data: {{subscriptions|safe}}
        }).render(document.getElementById("grid-wrapper"));
    </script>
{% endblock %}