<div class="uk-margin" id="work-{{work.id}}-tile-parent">
	<div class="uk-card uk-card-default" id="work-{{work.id}}-tile-card">
	    <div class="uk-card-header" id="work-{{work.id}}-tile-card-header">
	        <div class="uk-grid-small uk-flex-middle" uk-grid id="work-{{work.id}}-tile-card-header-grid">
	            {% if work.cover_url != "None" and work.cover_url is not None and work.cover_url != "" %}
	            <div class="uk-width-auto" id="work-{{work.id}}-tile-img-parent">
	                <img class="uk-border-circle" width="40" height="40" alt="{{work.cover_alt_text}}" src="{{work.cover_url}}" id="work-{{work.id}}-tile-image">
	            </div>
	            {% endif %}
	            <div class="uk-width-expand" id="work-{{work.id}}-tile-title-parent">
	                {% if work.draft == True %}
	                	<h3 id="work-{{work.id}}-tile-draft-title" class="uk-card-title uk-margin-remove-bottom uk-inline"><a id="work-{{work.id}}-tile-draft-title-link" href="/works/{{work.id}}?draft=true">{{work.title}}</a></h3>
		                <span class="uk-label uk-inline uk-label-warning uk-margin-left" id="work-{{work.id}}-tile-draft-button-span"><strong>DRAFT</strong></span>
	                {% else %}
	                	<h3 id="work-{{work.id}}-tile-title" class="uk-card-title uk-margin-remove-bottom"><a id="work-{{work.id}}-tile-title-link" href="/works/{{work.id}}">{{work.title}}</a></h3>
	                {% endif %}
	                <p id="work-{{work.id}}-tile-user-link" class="uk-text-meta uk-margin-remove-top">{{ work.user }}</p>
	            </div>
	            {% if work.user == request.user.username %}
		        <div class="uk-align-right" id="work-{{work.id}}-footer-user-controls">
		            <a id="work-{{work.id}}-footer-edit-link" href="/works/{{ work.id }}/edit"><span id="work-{{work.id}}-footer-edit-span" uk-icon="icon: file-edit" title="Edit"></span> </a>
		            <a id="work-{{work.id}}-footer-delete-link" uk-toggle="target: #work-{{work.id}}-modal-delete"><span id="work-{{work.id}}-footer-delete-span" uk-icon="icon: trash" title="Delete"></span> </a>
		            {% include "delete_modal.html" with object='work' object_id=work.id %}
		        </div>
		        {% endif %}
	        </div>
	    </div>
	    <div class="uk-card-body" id="work-{{work.id}}-tile-card-body">
	        {% if work.summary %}<p id="work-{{work.id}}-tile-summary-p">{% autoescape off %}{{ work.summary }}{% endautoescape %}</p>{% endif %}
		    {% if work.tags.items %}{% include "tag_partial.html" with obj_name='work' tags=work.tags.items %}{% endif %}
			{% if work.attributes %}{% include "object_attributes.html" with object='work' object_id=work.id attributes=work.attributes %}{% endif %}
	    </div>
	    <div class="uk-card-footer" id="work-{{work.id}}-tile-footer-parent">
	        <div class="uk-align-right uk-text-right uk-width-1-1">{% include 'work_metadata.html' %}</div>
	    </div>

	</div>  
</div> 