{% for work in works %} 
	{% include "work_tile.html" %}     
{% endfor %}
<div class="uk-child-width-1@m uk-child-width-1@s uk-text-center" uk-grid>
    <div>
        <ul class="uk-pagination">
        {% if previous is not None %}<li><a href="{{ previous }}"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>{% endif %}
        {% if next is not None %}<li class="uk-margin-auto-left"><a href="{{ next }}">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>{% endif %}
    </ul>
    </div>        
</div>  