{% load i18n %}
<div class="uk-width-1-1 uk-padding-remove-horizontal" id="work-{{work.id}}-tile-parent">
	<div class="uk-card uk-card-default" id="work-{{work.id}}-tile-card">
	    <div class="uk-card-header uk-padding-small ourchive-card-head" id="work-{{work.id}}-tile-card-header">
	        <div class="uk-grid-small uk-flex-middle" uk-grid id="work-{{work.id}}-tile-card-header-grid">
	            {% if work.cover_url != "None" and work.cover_url is not None and work.cover_url != "" %}
	            <div class="uk-width-auto" id="work-{{work.id}}-tile-img-parent">
	                <img class="uk-border-circle" width="40" height="40" alt="{{work.cover_alt_text}}" src="{{work.cover_url}}" id="work-{{work.id}}-tile-image">
	            </div>
	            {% endif %}
	            <div class="uk-width-expand" id="work-{{work.id}}-tile-title-parent">
	                {% if work.draft == True %}
	                	<span id="work-{{work.id}}-tile-draft-title" class="uk-text-medium uk-margin-remove-bottom uk-inline ourchive-tile-title"><a id="work-{{work.id}}-tile-draft-title-link" href="{% url 'fe-work-view' work.id %}">{% if work.work_type_name %}[{{work.work_type_name}}] {% endif %}{{work.title}}</a> by {{ work.user }}</span>
		                <p class="uk-label uk-margin-remove-top uk-margin-remove-right uk-margin-remove-left uk-text-small uk-inline uk-label-warning" id="work-{{work.id}}-tile-draft-button-span"><strong>DRAFT</strong></p>
	                {% else %}
	                	<span id="work-{{work.id}}-tile-title" class=" uk-margin-remove-bottom uk-inline ourchive-tile-title"><a id="work-{{work.id}}-tile-title-link" href="/works/{{work.id}}">{% if work.work_type_name %}[{{work.work_type_name}}] {% endif %}{{work.title}}</a> by {{ work.user }}</span>
	                {% endif %}
	            </div>
	            {% if work.user == request.user.username %}
		        <div class="uk-align-right uk-text-right uk-margin-small-top uk-visible@s uk-margin-remove-bottom" id="work-{{work.id}}-header-user-controls">
		            <a id="work-{{work.id}}-header-edit-link" title="Edit Work {{ work.id }}" href="/works/{{ work.id }}/edit" class="uk-button uk-button-header uk-button-small uk-margin-small-bottom"><span id="work-{{work.id}}-header-edit-span">{% translate 'Edit' %}</span> </a>
		            <a id="work-{{work.id}}-header-delete-link" uk-toggle="target: #work-{{work.id}}-modal-delete" class="uk-button uk-button-header uk-button-small uk-margin-small-bottom"><span id="work-{{work.id}}-header-delete-span">{% translate 'Delete' %}</span> </a>
		            {% include "delete_modal.html" with object='work' object_id=work.id %}
		        </div>
		        <div class="uk-align-left uk-text-left uk-margin-small-top uk-hidden@s uk-margin-remove-bottom uk-width-1-1" id="work-{{work.id}}-header-user-controls">
		        	<a id="work-{{work.id}}-header-edit-link" href="/works/{{ work.id }}/edit" class="uk-button uk-button-header uk-button-small uk-margin-small-bottom"><span id="work-{{work.id}}-header-edit-span">{% translate 'Edit' %}</span> </a>
		            <a id="work-{{work.id}}-header-delete-link" uk-toggle="target: #work-{{work.id}}-modal-delete" class="uk-button uk-button-header uk-button-small uk-margin-small-bottom"><span id="work-{{work.id}}-header-delete-span">{% translate 'Delete' %}</span> </a>
		            {% include "delete_modal.html" with object='work' object_id=work.id %}
		        </div>
		        {% endif %}
	        </div>
	    </div>
	    {% if work.summary or work.attributes or work.tags %}<div class="uk-card-body ourchive-card-body uk-padding-small" id="work-{{work.id}}-tile-card-body">
	        {% if work.summary %}<p id="work-{{work.id}}-tile-summary-p" class="uk-margin-remove-vertical">{% autoescape off %}{{ work.summary }}{% endautoescape %}</p>{% endif %}
	        {% if work.attributes %}{% include "object_attributes.html" with object='work' object_id=work.id attributes=work.attributes %}{% endif %}
		    {% if work.tags.items %}{% include "tag_partial.html" with obj_name='work' tags=work.tags.items %}{% endif %}
	    </div>{% endif %}
	    <div class="uk-card-footer ourchive-card-footer uk-padding-remove" id="work-{{work.id}}-tile-footer-parent">
	        <div class="uk-width-1-1 uk-padding-small uk-margin-small">{% include 'work_metadata.html' %}</div>
	    </div>

	</div>  
</div> 