{% extends 'index.html' %}
{% block title %}Works{% endblock %}
{% block content %}	
	{% if user_filter %}
    	<div class="uk-margin uk-width-1-1 uk-padding-remove-horizontal" id="works-list-user-filter-parent">
			<div id="works-list-user-card" class="uk-card"><h1 id="works-list-user-h1" class="uk-heading-line uk-text-center"> <span id="user_works_header"> Works by {{ user_filter }}</span> </h1> 
			</div>
		</div>
	{% endif %}
<div class="uk-wdith-1-1 uk-padding-remove-horizontal">{% include "works_list.html" %}</div>
{% endblock %}