{% load i18n %}
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-complete" class="uk-inline uk-text-bold">{% if work.is_complete %}{% translate 'Complete' %}{% else %}{% translate 'Incomplete' %}{% endif %}</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-complete" class="uk-inline uk-text-bold">-</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-updated" class="uk-inline uk-text-bold">{% translate 'Updated' %}: {{work.updated_on|date:'d M Y'}}</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-complete" class="uk-inline uk-text-bold">-</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-fingerguns" class="uk-inline uk-text-bold">{% blocktranslate with fg=work.fingerguns %}{{ fg }} Fingerguns{% endblocktranslate %}</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-complete" class="uk-inline uk-text-bold">-</span>
</div>
{% if work.chapter_count > 0 %}
<div class="uk-inline ourchive-metadata-list"><span id="work-metadata-chapter-count" class="uk-inline uk-text-bold">{% blocktranslate with cc=work.chapter_count %}{{ cc }} Chapters{% endblocktranslate %}</span></div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-complete" class="uk-inline uk-text-bold">-</span>
</div>
{% endif %}
{% if settings.AllowComments %}
<div class="uk-inline ourchive-metadata-list"><span id="work-metadata-comment-count" class="uk-inline uk-text-bold">{% blocktranslate with cc=work.comment_count %}{{ cc }} Comments{% endblocktranslate %}</span></div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-complete" class="uk-inline uk-text-bold">-</span>
</div>
{% endif %}
<div class="uk-inline ourchive-metadata-list">
	<span class="uk-inline uk-text-bold" id="work-metadata-word-count">{% blocktranslate with wc=work.word_count %}{{ wc }} Words{% endblocktranslate %}</span>
</div>
