{% extends 'index.html' %}
{% block title %}Work - {{ work.title }}{% endblock %}
{% block content %}	
<div id="work-parent-grid" class="uk-child-width-1@m uk-child-width-1@s uk-text-left uk-width-expand" uk-grid>
<article id="work-article" class="uk-article">
    <div id="work-article-grid" class="uk-child-width-2-1" uk-grid>
            <div id="work-controls-parent" class="uk-text-right uk-width-1-1 uk-margin-remove">
                {% if work.user == request.user.username %}
                <a id="work-publish-all-link" href="/works/{{ id }}/publish-full"><span uk-icon="icon: world" id="work-publish-all-span" title="Publish All"></span> </a>
                {% if work.draft %}
                <a id="work-publish-link" href="/works/{{ id }}/publish"><span uk-icon="icon: check" id="work-publish-span" title="Publish"></span> </a>
                {% endif %}
                <a id="work-edit-link" href="/works/{{ id }}/edit"><span uk-icon="icon: file-edit" id="work-edit-span" title="Edit"></span> </a>
                <a id="work-delete-link" uk-toggle="target: #work-{{work.id}}-modal-delete"><span id="work-delete-span" uk-icon="icon: trash" title="Delete"></span> </a>
                {% include "delete_modal.html" with object='work' object_id=work.id %}
                {% endif %}
                {% if view_full %}
                <a id="work-view-by-chapter-link" href="/works/{{ id }}/"><span id="work-view-by-chapter-span" uk-icon="icon: minus-circle" title="View By Chapter"></span> </a>
                {% else %}
                <a id="work-view-all-link" href="/works/{{ id }}/?view_full=true"><span uk-icon="icon: plus-circle" id="work-view-all-span" title="View All Chapters"></span> </a>
                {% endif %}
                <a id="work-bookmark-link" href="/bookmarks/new/{{ id }}?title={{ work.title }}"><span uk-icon="icon: bookmark" id="work-bookmark-span" title="Bookmark"></span> </a>
                <div class="uk-inline">
                    <a id="work-download-drop" href="#"><span uk-icon="icon: download" id="work-download-span" title="Download"></span> </a>
                    <div class="uk-card uk-card-body uk-card-default uk-text-left" uk-drop><ul class="uk-list uk-list-divider">
                        {% if work.preferred_download_url %}<li><a href="{{ work.preferred_download_url }}">{{ work.preferred_download }} - Creator's Preferred</a></li>{% endif %}
                        <li><a href="{% if work.epub_url %}{{work.epub_url}}{% else %}{% url 'export-work' work.id 'epub' %}{% endif %}">EPUB</a></li>
                        <li><a href="{% if work.zip_url %}{{work.zip_url}}{% else %}{% url 'export-work' work.id 'zip' %}{% endif %}">ZIP</a></li>
                    </ul></div>
                </div>
                <a id="work-fingerguns-link" href="/fingerguns/{{ id }}"><span uk-icon="icon: bolt" id="work-fingerguns-span" title="Add Fingerguns"></span> </a>
            </div>
            <div class="uk-width-1-1 uk-margin-remove-top" id="work-header-parent">
                <h1 id="work-title-h1" class="uk-article-title" style="display: inline;"><a class="uk-link-reset" id="work-title-link" href="/works/{{ id }}">{{ work.title }}</a></h1> <span id="work-user-span" class="uk-text-large" style="padding-left: 10px;">by <a id="work-user-link" href="/username/{{ work.user }}">{{ work.user }}</a></span>
                {% if work.draft %}
                <div class="uk-width-auto" id="work-draft-div">
                    <span id="work-draft-span" class="uk-label uk-label-warning"><strong>DRAFT</strong></span>
                </div>
                {% endif %}
            </div>
            {% if work.cover_url and work.cover_url != "None" %}
                <div id="work-cover-child-div" class="uk-width-1-1 uk-align-center"><img id="work-cover-img" src="{{work.cover_url}}" class="uk-align-center"/></div>
            {% endif %}
            <div id="work-top-hr-div" class="uk-width-1-1 uk-margin-small-top">
                <hr id="work-top-hr"/>
            </div>
    </div>
    <div id="work-intro-grid" class="uk-grid-column-small uk-grid-row-small uk-child-width-1-1@s" uk-grid>
        <div id="work-summary-div"><span id="work-summary-span" class="uk-text-large">Summary</span></div>
        <div id="work-summary-text-div"><span id="work-summary-text-span" class="uk-text-medium">{% autoescape off %}{{ work.summary|default_if_none:'' }}{% endautoescape %}</span></div>
        <div class="uk-text-right" id="work-metadata-parent">
            <p id="work-metadata-p" class="uk-article-meta"><span id="work-metadata-fingerguns" class="uk-inline uk-text-bold">{{ work.fingerguns }} Fingerguns</span> | <span class="uk-inline uk-text-bold" id="work-metadata-word-count">{{ work.word_count }} Words</span> {% if settings.AllowComments %}| <span id="work-metadata-comment-count" class="uk-inline uk-text-bold">{{ work.comment_count }} Comments{% endif %}</p>
        </div>
        {% if work.notes %} 
            <div id="summary-notes-divider-div" class="uk-margin-top"><hr id="summary-notes-divider-hr"/></div>
            <div id="work-notes-div"><span id="work-notes-span" class="uk-text-large">Notes</span></div>
            <div id="work-notes-text-div"><span id="work-notes-text-span" class="uk-text-medium">{% autoescape off %}{{ work.notes|default_if_none:'' }}{% endautoescape %}</span></div>
        {% endif %}
        {% include "object_attributes.html" with object='work' object_id=work.id attributes=work.attributes %}
    </div>
    {% if work.notes and tags.items %}
        <div class="uk-margin-top"><hr id="tag-notes-divider-hr"/></div>
    {% endif %}
    <dl class="uk-description-list" id="work-tags-dl">
    {% for type, tag in tags.items %} 
        <dt id="work-tag-{{type}}-dt">{{ type }}</dt>
        <dd id="work-tag-{{type}}-dd">
        <span id="work-tag-{{type}}-span" uk-icon="icon: tag"></span> {% for single_tag in tag %}<a id="work-tag-{{type}}-{{single_tag.id}}-link" href="/tags/{{ single_tag.id }}" style="padding-left:5px;">{{ single_tag.display_text|default_if_none:single_tag.text }}</a> {% endfor %}
        </dd>
    {% endfor %}
    </dl>
    <hr class="uk-divider-icon" id="work-chapter-hr"/>
    {% if chapter %} 
        {% include "chapter.html" %}  
    {% elif chapters %}
        {% for chapter in chapters %}
            {% include "chapter.html" %}
        {% endfor %}  
    {% endif %}
</article>
</div>
{% if scroll_comment_id %}
    <script>
        window.onload = function(){
            document.getElementById("chapter-comment-{{scroll_comment_id}}-icon-div").scrollIntoView();
        }
    </script>
{% endif %}
{% endblock %}