{% extends 'index.html' %}
{% block title %}Works{% endblock %}
{% block content %}	
    <div class="uk-grid uk-grid-small ourchive-content-padding ourchive-chive-grid" id="works-uk-grid" uk-grid>
        {% if user_filter %}
            <div class="uk-margin uk-width-1-1 uk-padding-remove-horizontal" id="works-list-user-filter-parent">
                <h1 id="works-list-user-h1" class="uk-heading-line uk-text-center"> <span id="user_works_header"> Works by {{ user_filter }}</span> </h1> 
            </div>
        {% endif %}
        <div class="uk-padding-remove-horizontal" uk-height-viewport="expand: true">{% include "works_list.html" %}</div>
    </div>
{% endblock %}