{% extends 'index.html' %}
{% block content %}	
{% load static %}
<script src="{% static 'frontend/js/tinymce.min.js' %}"></script>
<div class="uk-width-1-1 uk-text-left" id="work-form-parent"> 
<form class="uk-form-horizontal"  method="post" id="workForm" onsubmit="return getCurrentTab(this.submitted)">
    <script>

        function getCurrentTab(submitted) {
            //var expanded = document.getElementById('toc_link').getAttribute("aria-expanded");
            var new_chapter_clicked = submitted === "New Chapter";
            document.getElementById('redirect_toc').value = new_chapter_clicked;
            document.getElementById('summary').value = tinymce.get("summaryEditor").getContent().replace(/\r?\n?/g, '');
            document.getElementById('notes').value = tinymce.get("notesEditor").getContent().replace(/\r?\n?/g, '');
        }
        
        function removetag(tag, type) {
            document.getElementById("tags_"+tag+"_"+type).remove();
            document.getElementById("tags_"+tag+"_"+type+"_txt").remove();
        }

        function tagCheck (e, type) {
            if (e.keyCode == 188 || e.keyCode == 13) {
                var section = document.getElementById(type+"_tags");
                var final = document.getElementById(type+"_new_tag");
                final.value = final.value.replace(/,\s*$/, "");
                var wrapper= document.createElement('div');
                wrapper.innerHTML= '<input type="hidden" id="tags_'+final.value+'_'+type+'" name="tags_'+final.value+'_'+type+'" value="tags_'+final.value+'_'+type+'">';
                var div= wrapper.firstChild;
                section.appendChild(div);
                wrapper.innerHTML = '<span class="uk-badge uk-padding-small uk-margin-right" id="tags_'+final.value+'_'+type+'_txt"><span class="uk-text-bold uk-text-default uk-padding-small">'+final.value+' </span><span uk-icon="close" onclick="removetag(\''+final.value+'\', \''+type+'\')" id="tags_'+final.value+'_'+type+'_delete"></span></span>  ';
                div = wrapper.firstChild;
                section.appendChild(div);
                final.value = '';
                final.focus();
                document.getElementById('tag-autocomplete-dropdown-'+type).innerHTML = "";
                document.getElementById('no-tag-prompt-'+type).style.display = "none";
            }
        }
        
    </script>
    {% csrf_token %}
    <input type="hidden" id="work-id-hidden" name="work_id" value="{{ work.id }}">
    <div id="work-form-top-controls-parent" class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid>
        <div class="uk-width-1-2" id="work-form-title-parent">
            <span id="work-form-title-span" class="uk-text-large"><a id="work-form-title-link" href="/works/{{work.id}}">{{ work.title }}</a></span>
        </div>
        <div class="uk-text-right uk-width-1-2" id="work-form-top-buttons-group">
            <input id="work-form-cancel-top" class="uk-button uk-width-small uk-button-secondary" onclick="history.back()" value="Cancel" />
            <button id="work-form-prevent-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
            <input id="work-form-submit-top" class="uk-button uk-width-small uk-button-primary" onclick="this.form.submitted=this.value;" type="submit" value="Submit"/>
        </div>
    </div>
    <hr/>
        {% if show_chapter %}
            <ul class="uk-subnav uk-subnav-pill uk-subnav-divider uk-flex uk-flex-right" uk-switcher="animation: uk-animation-fade; active: 1" id="work-form-chapter-switcher-ul-active">
        {% else %}
            <ul id="work-form-chapter-switcher-ul-inactive" class="uk-subnav uk-subnav-pill uk-subnav-divider uk-flex uk-flex-right" uk-switcher="animation: uk-animation-fade; active: 0">
        {% endif %}
            <li id="work-form-edit-work-li"><a id="work-form-edit-work-link" href="#" id="edit_work_link">Edit Work</a></li>
            <li id="work-form-edit-chapters-li"><a id="work-form-edit-chapters-link" href="#" id="toc_link">Edit Chapters</a></li>
        </ul>   
    <input type="hidden" id="redirect_toc" name="redirect_toc">

    <ul class="uk-switcher uk-margin" id="work_switcher">
        <li id="work-form-work-switcher-li">
            <fieldset class="uk-fieldset" id="work-form-work-fieldset">
                <div class="uk-margin" id="work-form-type-parent">
                    <label id="work-form-type-label" class="uk-form-label" for="form-horizontal-text">Work Type</label>
                    <div id="work-form-type-controls" class="uk-form-controls">
                        <select id="work-form-type-select" class="uk-select uk-form-width-small" name="work_type">
                            {% for item in work_types %}
                                <option id="type_{{item.type_name}}" value="{{item.url}}" {% if work.work_type == item.url %} selected="selected" {% endif %}>{{ item.type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="uk-margin" id="work-form-title-form-parent">
                    <label id="work-form-title-form-label" class="uk-form-label" for="form-horizontal-text">Title</label>
                    <div id="work-form-title-controls" class="uk-form-controls">
                        <div id="work-form-title-inline" class="uk-inline">
                            <input id="work-form-title-input" class="uk-input uk-form-width-large" type="text" name="title" value="{{ work.title|default_if_none:'' }}">
                        </div>
                    </div>
                    
                </div>

                <div class="uk-margin" id="work-form-summary-parent">
                    <label id="work-form-summary-label" class="uk-form-label" for="form-horizontal-text">Summary</label>
                    <div id="work-form-summary-controls" class="uk-form-controls">
                        <div id="work-form-summary-inline" class="uk-inline">
                            <input type="hidden" id="summary" name="summary" value="{{ work.summary|safe|default_if_none:'' }}">
                            <textarea id="summaryEditor"></textarea>
                            <script type="text/javascript">
                                      tinymce.init({
                                        selector: '#summaryEditor',
                                        plugins: [
                                          'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak', 
                                          'fullscreen', 'insertdatetime',
                                          'media', 'table', 'emoticons', 'code'
                                        ],
                                        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                                          'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                                          'forecolor backcolor emoticons | help | code',
                                        menubar: '',
                                        content_css: 'css/content.css',
                                        init_instance_callback : function(editor) {
                                            var workSummary = document.getElementById('summary').value;
                                            if (workSummary === "None") {
                                                workSummary = '';
                                            }
                                            editor.setContent(workSummary);
                                        }
                                      });
                              </script>
                        </div>
                    </div>
                </div>

                <div class="uk-margin" id="work-form-notes-parent">
                    <label id="work-form-notes-label" class="uk-form-label" for="form-horizontal-text">Notes</label>
                    <div id="work-form-notes-controls" class="uk-form-controls">
                        <div class="uk-inline" id="work-form-notes-inline">
                            <input type="hidden" id="notes" name="notes" value="{{ work.notes|safe|default_if_none:'' }}">
                            <textarea id="notesEditor"></textarea>
                            <script type="text/javascript">
                                      tinymce.init({
                                        selector: '#notesEditor',
                                        plugins: [
                                          'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                                          'fullscreen', 'insertdatetime',
                                          'media', 'table', 'emoticons', 'code'
                                        ],
                                        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                                          'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                                          'forecolor backcolor emoticons | help',
                                        menubar: '',
                                        content_css: 'css/content.css',
                                        init_instance_callback : function(editor) {
                                            var workNotes = document.getElementById('notes').value;
                                            if (workNotes === "None") {
                                                workNotes = '';
                                            }
                                            editor.setContent(workNotes);
                                        }
                                      });
                              </script>
                        </div>
                    </div>
                </div>

                <div class="uk-margin" id="work-form-complete-parent">
                    <label id="work-form-complete-label" class="uk-form-label" for="form-horizontal-text">Complete?</label>
                    <div id="work-form-complete-controls" class="uk-form-controls">
                        <div id="work-form-complete-inline" class="uk-inline">
                            <label id="work-form-complete-switch-label" class="switch"><input class="uk-checkbox" id="work-form-complete-checkbox" type="checkbox" name="is_complete" {% if work.is_complete %} checked {% endif %}> <span id="work-form-complete-slider" class="slider round"></span> </label>
                        </div>
                    </div>
                </div>

                <div class="uk-margin" id="work-form-draft-parent">
                    <label id="work-form-draft-label" class="uk-form-label" for="form-horizontal-text">Draft?</label>
                    <div id="work-form-draft-controls" class="uk-form-controls">
                        <div id="work-form-draft-inline" class="uk-inline">
                            <label id="work-form-draft-switch" class="switch"><input class="uk-checkbox" id="work-form-draft-checkbox" type="checkbox" name="draft" {% if work.draft %} checked {% endif %}> <span id="work-form-draft-slider" class="slider round"></span></label>
                        </div>
                    </div>
                </div>

            <div class="uk-margin" id="work-form-cover-parent">
                <label id="work-form-cover-label" class="uk-form-label" for="form-horizontal-text">Cover</label>
                {% if work.cover_url %}
                <img id="work-form-cover-img" src="{{ work.cover_url }}"/>
                {% endif %}
                <div id="work-form-cover-controls" class="uk-form-controls">
                    <div id="work-form-cover-inline" class="uk-inline">
                        {% include 'file_upload.html' with object='cover_url' replace_selector='work-form-cover-img' object_type='img' upload_placeholder='Upload cover image' original_value=work.cover_url %}
                    </div>
            </div>

                <div id="work-form-cover-alt-parent" class="uk-margin">
                    <label id="work-form-cover-alt-label" class="uk-form-label" for="form-horizontal-text">Cover Alt Text</label>
                    <div id="work-form-cover-alt-controls" class="uk-form-controls">
                        <div id="work-form-cover-alt-inline" class="uk-inline">
                            <input id="work-form-cover-alt-input" class="uk-input uk-form-width-large" type="text" name="cover_alt_text" value="{{ work.cover_alt_text|default_if_none:'' }}">
                        </div>
                    </div>
                </div>
                <hr id="work-attributes-hr"/>
                {% include "object_attributes_form.html" with object='Work' attribute_types=work.attribute_types %}
                <hr id="work-comments-hr"/>
                <div class="uk-margin" id="work-form-allow-comments-parent">
                    <label id="work-form-allow-comments-label" class="uk-form-label" for="form-horizontal-text">Allow Comments?</label>
                    <div id="work-form-allow-comments-controls" class="uk-form-controls">
                        <select id="work-form-allow-comments-select" class="uk-select uk-form-width-large" name="comments_permitted">                    
                            <option id="work-form-allow-comments-all" {% if work.anon_comments_permitted and work.comments_permitted %} selected {% endif %}>All</option>
                            <option id="work-form-allow-comments-registered" {% if work.anon_comments_permitted == False and work.comments_permitted %} selected {% endif %}>Registered users only</option>
                            <option id="work-form-allow-comments-none" {% if not work.anon_comments_permitted and not work.comments_permitted %} selected {% endif %}>None</option>

                        </select>
                    </div>
                </div>
                {% include "edit_tags.html" with object='work' %}
            </fieldset>
        </li>
        <li id="chapters_toc">
            <script>
                var util = UIkit.util;

                util.ready(function () {

                    util.on(document.body, 'stop', function (e, sortable, el) {
                        var list = document.getElementById("chapters_list").getElementsByTagName("li");
                        var tracking = 1;
                        for (let item of list) {
                            var child = item.querySelector('.chapters_tracker')
                            child.value = tracking;
                            tracking += 1;
                        }
                    });
                });
            </script>
            <ul class="uk-grid-small uk-child-width-1 uk-text-left" uk-sortable="handle: .uk-sortable-handle" uk-grid id="chapters_list">
                {% for chapter in chapters %}
                <li id="chapters-list-{{chapter.id}}">
                    <div id="chapter-{{chapter.id}}-card" class="uk-card uk-card-hover uk-card-body uk-grid-small uk-child-width-1-2 uk-text-left uk-padding-small" uk-grid>
                        <div id="chapter-{{chapter.id}}-sortable" class="uk-sortable-handle">
                            <span class="uk-margin-small-right" uk-icon="icon: table"></span><span id="chapter-{{chapter.id}}-span" class="uk-text-medium">Chapter {{chapter.number}}: {{chapter.title}}</span>
                        </div>
                        <div id="chapter-{{chapter.id}}-controls-div"><a id="chapter-{{chapter.id}}-edit-link" href="/works/{{work.id}}/chapters/{{chapter.id}}/edit">Edit</a> | <a id="chapter-{{chapter.id}}-delete-link" uk-toggle="target: #chapter-{{chapter.id}}-modal-delete">Delete</a></div>
                        {% if chapter.draft %}
                            <div class="uk-width-auto" id="chapter-{{chapter.id}}-draft-div">
                                <span id="chapter-{{chapter.id}}-draft-span" class="uk-label uk-label-warning"><strong>DRAFT</strong></span>
                            </div>
                            {% endif %}
                    </div>
                    
                    <input type="hidden" class="chapters_tracker" id="chapters_{{chapter.id}}" name="chapters_{{chapter.id}}" value="{{chapter.number}}">
                </li>
                {% include "delete_modal.html" with object='chapter' parent_object_id=work.id object_id=chapter.id %}
                {% endfor %}
                <input id="work-form-new-chapter-link" class="uk-button uk-button-link" style="width:15em;" onclick="this.form.submitted=this.value;" type="submit" value="New Chapter"/>
            </ul>


        </li>
    </ul>
    
</form>
</div>
{% endblock %}