{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}
    <div class="row row-cols-1" id="work-import-form-parent">
            <div id="work-import-form-title-parent" class="mb-3">
                <h1>{{form_title}}</h1>
                <hr class="ourchive-hr"/>
            </div>
            <div id="work-import-form-directions">
                <p class="fw-bold">We are currently in the process of testing bulk import. You may receive flaky failure messages or see strange behavior.</p>
                <p>{% blocktranslate %}Input an AO3 username or single work (ID or URL) below. The work ID can be found in the work URL.{% endblocktranslate %}</p>
                <p>{% blocktranslate %}Accepted work URL formats:{% endblocktranslate %}</p>
                <ul>
                    <li>https://archiveofourown.org/works/33568501/chapters/83411257</li>
                    <li>https://archiveofourown.org/works/33568501</li>
                    <li>https://archiveofourown.org/works/33568501/</li>
                    <li>https://archiveofourown.org/works/33568501?view_full_work=true</li>
                </ul>
                <p class="fw-bold">{% blocktranslate %}To ensure account security, restricted works will not be imported. We recommend temporarily making restricted works public or manually recreating them.{%endblocktranslate%}</p>
            </div>
    <form method="post" id="workForm" onsubmit="return getCurrentTab(this.submitted)">
        {% csrf_token %}
        <input type="hidden" id="referer-hidden" name="referer" value="{{ referer }}">
        <div class="mb-3 form-check form-switch" id="work-import-form-complete-parent">
            <input class="form-check-input" role="switch" title="{% translate 'Import single toggle' %}" id="work-import-form-complete-checkbox" type="checkbox" name="mode" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="work-import-form-username-parent work-import-form-single-work-parent">
            <label id="work-import-form-complete-label" class="form-check-label" for="work-import-form-complete-checkbox">{% translate 'Import single work' %}</label>
        </div>
            <div class="mb-3 multi-collapse collapse show" id="work-import-form-username-parent">
                <label id="work-import-form-username-label" class="form-label" for="work-import-form-username-input">{% translate 'AO3 Username' %}</label>
                <input title="{% translate 'AO3 Username field' %}" id="work-import-form-username-input" class="form-control" type="text" name="username">
            </div>
            <div class="mb-3 multi-collapse collapse" id="work-import-form-single-work-parent">
                <label id="work-import-form-username-label" class="form-label" for="work-import-form-work-id-input">Work ID or URL <sup title="{% translate 'Work ID help' %}"><a class="link-underline link-underline-opacity-0" data-bs-toggle="collapse" data-bs-target="#workIdHelp" aria-controls="workIdHelp" aria-expanded="false"><i class="bi bi-question-circle"></i></a></sup></label>
                <p id="workIdHelp" class="collapse">{% blocktranslate %}The work ID is the unique number that follows 'works/' in the URL (ex: archiveofourown.org/works/<strong>33568501</strong>){% endblocktranslate %}</p>
                <input title="{% translate 'Work ID input' %}" id="work-import-form-work-id-input" class="form-control" type="text" name="work_id">
            </div>
            <div class="mb-3 form-check form-switch" id="work-import-form-draft-parent">
                <input class="form-check-input" role="switch" title="{% translate 'Save as draft?' %}" id="work-import-form-draft-checkbox" type="checkbox" name="save_as_draft">
                <label id="work-import-form-draft-label" class="form-check-label" for="work-import-form-draft-checkbox">{% translate 'Save work(s) as draft' %}</label>
            </div>
            <div class="mb-3 form-check form-switch" id="work-import-form-comments-parent">
                <input class="form-check-input" role="switch" title="{% translate 'Allow any comments toggle' %}" id="work-import-form-comments-checkbox" type="checkbox" name="allow_comments" data-bs-toggle="collapse" data-bs-target="#work-import-form-anon-parent" aria-expanded="false" aria-controls="work-import-form-anon-parent" checked>
                <label id="work-import-form-comments-label" class="form-check-label" for="work-import-form-comments-checkbox">{% translate 'Allow comments on work(s)' %}</label>
            </div>
            <div class="mb-3 form-check form-switch collapse show" id="work-import-form-anon-parent">
                <input class="form-check-input" role="switch" title="{% translate 'Allow anon comments toggle' %}" id="work-import-form-anon-checkbox" type="checkbox" name="allow_anon_comments">
                <label id="work-import-form-anon-label" class="form-check-label" for="work-import-form-anon-checkbox">{% translate 'Allow anon comments on work(s)' %}</label>
            </div>
            <div class="mb-3 w-50" id="work-import-form-bottom-buttons-group">
                <button id="work-import-form-bottom-prevent-default-hidden" type="submit" disabled style="display: none" aria-hidden="true"></button>
                <input id="work-import-form-cancel-bottom" class="btn btn-secondary w-25" type="button" onclick="history.back()" value="Cancel" title="{% translate 'Cancel' %}"/>
                <input id="work-import-form-submit-bottom" class="btn btn-primary w-25" onclick="this.form.submitted=this.value;" type="submit" value="Submit" uk-toggle="target: #modal-full"/>
            </div>
    </form>
    </div>
{% endblock %}