{% extends 'index.html' %}
{% block content %}	
<div class="uk-child-width-1@m uk-child-width-1@s uk-text-left" uk-grid>
<article class="uk-article">
    <div class="uk-child-width-2-1" uk-grid>
            <div class="uk-width-3-4">
                <h1 class="uk-article-title" style="display: inline;"><a class="uk-link-reset" href="/works/{{ id }}">{{ work.title }}</a></h1> <span class="uk-text-large" style="padding-left: 10px;">by <a href="/username/{{ work.user }}">{{ work.user }}</a></span>
                {% if work.draft %}
                <div class="uk-width-auto">
                    <span class="uk-label uk-label-warning"><strong>DRAFT</strong></span>
                </div>
                {% endif %}
            </div>
            <div class="uk-text-right uk-width-1-4">
                {% if work.user == request.user.username %}
                <a href="/works/{{ id }}/publish-full"><span uk-icon="icon: world" title="Publish All"></span> </a>
                {% if work.draft %}
                <a href="/works/{{ id }}/publish"><span uk-icon="icon: check" title="Publish"></span> </a>
                {% endif %}
                <a href="/works/{{ id }}/edit"><span uk-icon="icon: file-edit" title="Edit"></span> </a>
                <a uk-toggle="target: #work-{{work.id}}-modal-delete"><span uk-icon="icon: trash" title="Delete"></span> </a>
                {% include "delete_modal.html" with object='work' object_id=work.id %}
                {% endif %}
                {% if view_full %}
                <a href="/works/{{ id }}/"><span uk-icon="icon: minus-circle" title="View By Chapter"></span> </a>
                {% else %}
                <a href="/works/{{ id }}/?view_full=true"><span uk-icon="icon: plus-circle" title="View All Chapters"></span> </a>
                {% endif %}
                <a href="/bookmarks/new/{{ id }}"><span uk-icon="icon: bookmark" title="Bookmark"></span> </a>
                <a href="/fingerguns/{{ id }}"><span uk-icon="icon: bolt" title="Add Fingerguns"></span> </a>
            </div>
            {% if work.cover_url %}
                <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-1@s" uk-grid>
                    <div><img src="{{work.cover_url}}"/></div>
                </div>
            {% endif %}
            <div class="uk-width-1-1 uk-margin-small-top">
                <hr/>
            </div>
    </div>
    <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-1@s" uk-grid>
        <div><span class="uk-text-large">Summary</span></div>
        <div><span class="uk-text-medium">{% autoescape off %}{{ work.summary|default_if_none:'' }}{% endautoescape %}</span></div>
        <div class="uk-text-right">
            <p class="uk-article-meta"><span class="uk-inline uk-text-bold">{{ work.fingerguns }} Fingerguns</span> | <span class="uk-inline uk-text-bold">{{ work.word_count }} Words</span> | <span class="uk-inline uk-text-bold">{{ work.comment_count }} Comments</p>
        </div>
        <hr id="summary-notes-divider-hr"/>
        <div><span class="uk-text-large">Notes</span></div>
        <div><span class="uk-text-medium">{% autoescape off %}{{ work.notes|default_if_none:'' }}{% endautoescape %}</span></div>
        <hr/>
    </div>
    <dl class="uk-description-list">
    {% for type, tag in tags.items %} 
        <dt>{{ type }}</dt>
        <dd>
        <span uk-icon="icon: tag"></span> {% for single_tag in tag %}<a href="/tags/{{ single_tag.id }}" style="padding-left:5px;">{{ single_tag.text }}</a> {% endfor %}
        </dd>
    {% endfor %}
    </dl>
    <hr class="uk-divider-icon"/>
    {% if chapter %} 
        {% include "chapter.html" %}  
    {% elif chapters %}
        {% for chapter in chapters %}
            {% include "chapter.html" %}
        {% endfor %}  
    {% endif %}
</article>
</div>
{% if scroll_comment_id %}
    <script>
        window.onload = function(){
            document.getElementById("ch-comment-{{scroll_comment_id}}-icon-div").scrollIntoView();
        }
    </script>
{% endif %}
{% endblock %}