{% load i18n %}
{% if work.series %}
<div class="uk-align-left ourchive-metadata-list">
	<span class="uk-inline uk-text-bold" id="work-metadata-series">{% blocktranslate with series_num=work.series_num %}Part {{ series_num }} of {% endblocktranslate %}<a href="{% url 'fe-series' work.series.id%}">{{work.series.title}}</a></span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-series-divider" class="uk-inline uk-text-bold">-</span>
</div>
{% endif %}
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-complete" class="uk-inline uk-text-bold">{% translate 'Status' %}: {% if work.is_complete %}{% translate 'Complete' %}{% else %}{% translate 'Incomplete' %}{% endif %}</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-complete-divider" class="uk-inline uk-text-bold">-</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-updated" class="uk-inline uk-text-bold">{% translate 'Updated' %}: {{work.updated_on|date:'d M Y'}}</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-status-divider" class="uk-inline uk-text-bold">-</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-fingerguns" class="uk-inline uk-text-bold">{% blocktranslate with fg=work.fingerguns %}Fingerguns: {{ fg }}{% endblocktranslate %}</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-fingerguns-divider" class="uk-inline uk-text-bold">-</span>
</div>
{% if work.chapter_count > 0 %}
<div class="uk-inline ourchive-metadata-list"><span id="work-metadata-chapter-count" class="uk-inline uk-text-bold">{% blocktranslate with cc=work.chapter_count %}Chapters: {{ cc }}{% endblocktranslate %}</span></div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-chapter-count-divider" class="uk-inline uk-text-bold">-</span>
</div>
{% endif %}
{% if settings.AllowComments %}
<div class="uk-inline ourchive-metadata-list"><span id="work-metadata-comment-count" class="uk-inline uk-text-bold">{% blocktranslate with cc=work.comment_count %}Comments: {{ cc }}{% endblocktranslate %}</span></div>
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-comment-count-divider" class="uk-inline uk-text-bold">-</span>
</div>
{% endif %}
<div class="uk-inline ourchive-metadata-list">
	<span class="uk-inline uk-text-bold" id="work-metadata-word-count">{% blocktranslate with wc=work.word_count %}Words: {{ wc }}{% endblocktranslate %}</span>
</div>
{% if work.languages_readonly %}
<div class="uk-inline ourchive-metadata-list">
	<span id="work-metadata-languages-divider" class="uk-inline uk-text-bold">-</span>
</div>
<div class="uk-inline ourchive-metadata-list">
	<span class="uk-inline uk-text-bold" id="work-metadata-language">{% translate 'Languages' %}: {% for language in work.languages_readonly %}{{ language.display_name }}{% if not forloop.last %},{% endif %}
    {% endfor %}</span>
</div>
{% endif %}