wheel
djangorestframework
markdown
django-filter
django
psycopg2
requests
django-background-tasks
pytest
selenium
webdriver_manager
pyyaml
djangorestframework-recursive
boto3
ebooklib
pyyaml
Pillow
mutagen
pydub
elasticsearch
elasticsearch_dsl
audioread
django-cors-headers
django-anymail[mailgun]
nh3
whitenoise